{{!-- includes/elmundo_m/body-scripts.hbs --}}

 <script>
    var gptadslots = [],
        googletag = googletag || {};
    googletag.cmd = googletag.cmd || []
    </script>
    <script src="//active.cache.el-mundo.net/js/1475575201_elmundo.js"></script>
    <div id="pixelcontabilizacionelmundo" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z-Index:1"><img src="http://pixelcounter.elmundo.es/pixelcontabilizacion/pixelcontabilizacion.gifctl?r=http%3A%2F%2Fwww%2Eelmundo%2Ees%2Fcataluna%2F2017%2F08%2F28%2F59a31302e5fdea71458b459e%2Ehtml&amp;s=elmundo&amp;d=WaPxKsCoFWgAAGbO09A" width="1" height="1" alt="" />
        <script type="text/javascript">
        function DM_prepClient(csid, client) {
            var cat = document.location.href.split('/');
            url_section = cat[6];
            client.DM_addEncToLoc("as_section", url_section);
        }
        </script>
    </div>
    <img style="display:none" src="//pixel.zumby.io/2/C67CB4DAF07D2A016BF4856A3EF6E574D67B5A838FA583F99692753EDB4730DB/zumby.png" alt="Zumby Pixel" title="Zumby Pixel" />
    <script type="text/javascript" language="javascript" src="http://estaticos.cookies.unidadeditorial.es/js/policy.js" async></script>
    <script>
    var nav_continua_active = true;
    </script>
    <script type="text/javascript">
    var sectionMainMenuActive = 'default';
    var uniqueCtId = '59a31302e5fdea71458b459e';
    var activeUeNavigation = true;
    </script>
    <script type="text/javascript">
    var uePages = [{ "url": "http://www.elmundo.es/cataluna/2017/08/28/59a3c176468aeb614b8b461b.html", "titulo": "El PDeCAT cede a las presiones de ERC y CUP y accede a aprobar la ley de ruptura antes del 1-O" }, { "url": "http://www.elmundo.es/cataluna/2017/08/28/59a3d1be468aeb2b3f8b45f9.html", "titulo": "Zoido admite errores en la detección de los terroristas: &quot;Ha podido faltar algún control&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/28/59a3da4746163f894e8b459a.html", "titulo": "&quot;El 1-O es una operación solo para independentistas. Es un disparate&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/28/59a310aee2704e85558b456f.html", "titulo": "La ANC controló &quot;el orden&quot; de la manifestación con voluntarios" }, { "url": "http://www.elmundo.es/espana/2017/08/28/59a2c4c3ca47416a738b4605.html", "titulo": "Un imputado por terrorismo dijo en 2006 en la Audiencia Nacional que el imam de Ripoll predicaba la Yihad" }, { "url": "http://www.elmundo.es/espana/2017/08/27/59a1e545e5fdeac1758b467d.html", "titulo": "Ensayo de la Diada soberanista frente a un PP silenciado" }, { "url": "http://www.elmundo.es/cataluna/2017/08/27/59a29be2268e3ef05d8b45d6.html", "titulo": "Muere una mujer alemana de 51 años herida en el atentado de La Rambla y se elevan a 16 las víctimas" }, { "url": "http://www.elmundo.es/cataluna/2017/08/28/59a31302e5fdea71458b459e.html", "titulo": "Las familias, un escollo para integrar al alumno musulmán" }, { "url": "http://www.elmundo.es/cronica/2017/08/27/59a15742468aeb02258b466c.html", "titulo": "Los pequeños &#039;Aylan de las Ramblas&#039;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a1da79268e3e09478b45c4.html", "titulo": "&quot;Somos musulmanes, no terroristas&quot;" }, { "url": "http://www.elmundo.es/espana/2017/08/27/59a1d123e5fdeaa2738b462d.html", "titulo": "Pobres muertos" }, { "url": "http://www.elmundo.es/cataluna/2017/08/27/59a28fef268e3ee7288b45fa.html", "titulo": "El movimiento independentista debería hacérselo mirar" }, { "url": "http://www.elmundo.es/cataluna/2017/08/28/59a3efd2268e3e3c198b46d2.html", "titulo": "PDeCAT dice que reunión Junqueras, Iglesias y Domènech &quot;huele a tripartito&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/28/59a3ecbd268e3e76478b46f2.html", "titulo": "La ANC admite que ayudó en servicio del orden en la manifestación contra atentado" }, { "url": "http://www.elmundo.es/cataluna/2017/08/27/59a30605268e3e55108b4571.html", "titulo": "Los Mossos detienen a un hombre por matar a su abuela en L&#039;Hospitalet" }, { "url": "http://www.elmundo.es/cataluna/2017/08/27/59a2e70a268e3e0b608b45f9.html", "titulo": "Cinco muertos en Salou  tras chocar un turismo con un autocar" }, { "url": "http://www.elmundo.es/cataluna/2017/08/27/59a2e51c268e3ee43f8b4631.html", "titulo": "Iglesias, Junqueras y Domènech cenaron juntos en Barcelona tras la manifestación" }, { "url": "http://www.elmundo.es/cataluna/2017/08/17/5995fc9522601d9f258b460e.html", "titulo": "Las víctimas de los atentados de Barcelona y Cambrils" }, { "url": "http://www.elmundo.es/cataluna/2017/08/27/59a28812268e3e020b8b45d5.html", "titulo": "Puigdemont apuesta por una &quot;transición corta&quot; hacia la independencia si gana el &#039;sí&#039; el 1-O" }, { "url": "http://www.elmundo.es/cataluna/2017/08/27/59a1cd7e268e3e0b608b45a6.html", "titulo": "Sin derecho a no tener miedo" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a1ba23e5fdea8d168b466b.html", "titulo": "Puigdemont pide no &quot;magnificar&quot; los pitos al Rey e Iglesias dice que forman parte de la &quot;libertad de expresión&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a06f6ce2704e1a798b4615.html", "titulo": "Independentismo por encima de las víctimas" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a1555622601d284e8b460b.html", "titulo": "." }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a18a72468aeba41d8b469e.html", "titulo": "Hallan muerta con signos violencia a una mujer en Arenys de Mar" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a1676f268e3efb378b45d2.html", "titulo": "Herido crítico un niño de 8 años al caer de un cuarto piso en Coma-ruga" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a155cb22601d104f8b45c9.html", "titulo": "Manifestación antiterrorismo &#039;No Tinc Por&#039;, en directo" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a15534268e3e7c338b459b.html", "titulo": "El autor del atropello en Barcelona intentó robar un coche antes de ser abatido" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/59a0432c468aeb1a158b4644.html", "titulo": "Puigdemont dinamita la unidad de la manifestación de Barcelona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a08994468aebfc238b4690.html", "titulo": "El taxista marroquí que se hizo viral en Twitter por llevar a una señora gratis encabezará la manifestación" }, { "url": "http://www.elmundo.es/cataluna/2017/08/26/59a07907468aeb780f8b4673.html", "titulo": "Mossos d&#039;Esquadra, así es la nueva avanzadilla del independentismo" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/59a07d8d468aeb50488b4649.html", "titulo": "16.000 personas claman contra el miedo en Cambrils" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/59a0682b268e3e4e0e8b4763.html", "titulo": "Detenido un joven de 17 años en Girona que dejó embarazada a una niña de 10" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/59a0384e468aebfc238b4644.html", "titulo": "El velero de Open Arms &quot;Astral&quot; zarpa de Barcelona rumbo Mediterráneo central" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/59a01b52468aeb083f8b45fc.html", "titulo": "Un detenido por causar los dos incendios del mes de agosto en Artés" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599ff0ff46163f97438b45bf.html", "titulo": "Colau asegura que la presencia del Rey no altera la organización de la manifestación" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599ffe02268e3e00778b46fd.html", "titulo": "Los Mossos arguyen que la G. Civil no actuó en Alcanar porque ellos ya estaban preparados" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/59a005d9268e3e9a058b4705.html", "titulo": "Entidades sociales rechazan la presencia del Rey y del PP en la manifestación" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/59a00052268e3e4e0e8b46f5.html", "titulo": "El Parlament hace una &quot;llamada a la cohesión&quot; unánime contra el terrorismo" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599ff582468aeb74058b4615.html", "titulo": "El dueño del locutorio de Ripoll llega a su casa y afirma que está &quot;mal&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599ff6b146163f30178b45fe.html", "titulo": "Driss Oukabir tuvo un juicio rápido por violencia machista tres días antes de los atentados" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599feaa346163f55728b45e5.html", "titulo": "JxSí contempla &quot;cualquier vía&quot; para aprobar la ley del referéndum, también el decreto ley" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599fdcbbca4741ba0c8b45c8.html", "titulo": "Los Mossos investigan la posible muerte violenta de un hombre en un hospital de Tarragona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599fdcb0268e3e94228b4732.html", "titulo": "El Parlament celebra un pleno centrado en los ataques terroristas de Barcelona y Cambrils, en directo" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599f4392268e3ec0678b46f7.html", "titulo": "Los guardias urbanos que corrieron tras la furgoneta: &quot;No era un atentado, era el atentado esperado&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599f2c56e5fdeab0598b4641.html", "titulo": "Sombras y errores de la investigación de los atentados de Barcelona y Cambrils" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599f2f60468aebaa1d8b45ad.html", "titulo": "La enfermera  que auxilió a los El Ouabi" }, { "url": "http://www.elmundo.es/cataluna/2017/08/25/599f2b0f468aeb02258b45ad.html", "titulo": "La Guardia Urbana critica la &#039;operación jaula&#039; de los Mossos" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599f2228468aebce598b4598.html", "titulo": "Decenas de confesiones religiosas condenan unidas el terrorismo desde Barcelona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599f20b3468aeb3b218b4588.html", "titulo": "Frederic Amat cede a Barcelona el nombre de la ciudad dibujado con lazo negro" }, { "url": "http://www.elmundo.es/cataluna/2017/08/20/5998dabe46163fe31b8b45c1.html", "titulo": "La célula terrorista que causó los atentados en Barcelona y Cambrils" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ef154468aeb21398b462b.html", "titulo": "Acto interreligioso en Barcelona como homenaje a las víctimas, en directo" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ee775e2704ed9728b4591.html", "titulo": "UGT presenta 43 denuncias a Inspección Trabajo contra restaurantes y hoteles" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ee304e2704eed5f8b45aa.html", "titulo": "El Sindicat de Periodistes acusa a algunos medios de &quot;mentir&quot; para politizar" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ed515e2704ed9728b457e.html", "titulo": "Barcelona concentrará los altares de La Rambla en un punto pasada la manifestación" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ed3ace2704eaa138b4596.html", "titulo": "Trias rechaza convertir La Rambla en peatonal y ratifica poner barreras móviles" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ecb77e2704e6b038b45a5.html", "titulo": "Aparecen pintadas contra la comunidad musulmana en Figueres" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599eae6546163fc1168b460f.html", "titulo": "El Govern, sobre el aviso &quot;informal&quot; de la Policía belga: &quot;Nunca nos constó que Es Satty fuera peligroso&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ec33eca4741e6248b45a5.html", "titulo": "Renfe, Metro y Tram reforzarán sus servicios para la manifestación del sábado" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599e9f3a46163f06208b4625.html", "titulo": "El juez Andreu decreta libertad provisional para Salh el Karib, el dueño del locutorio de Ripoll" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ebeb5ca4741715b8b4597.html", "titulo": "PDeCAT, a favor de crear un registro de imames para poner fin al &quot;nivel de descontrol&quot; actual" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599eb2ce46163f963b8b4637.html", "titulo": "El Parlament alega al TC que el recurso contra la reforma del reglamento es &quot;claramente preventivo&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599eb0c646163ff3298b4648.html", "titulo": "Dos detenidos por tener una plantación industrial de marihuana en Badalona" }];
    </script>
    <script type="text/javascript">
    var cookieList = document.cookie.split(";");
    for (index in cookieList) {
        if (typeof cookieList[index] == "string" && cookieList[index].indexOf("REGMUNDO") != -1) {
            var ifr = document.createElement("iframe");
            ifr.src = "https://5214106.fls.doubleclick.net/activityi;src=5214106;type=corp;cat=regis0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=" + Math.random() * 1000000000000 + "?";
            ifr.width = "1";
            ifr.height = "1";
            ifr.style.display = "none";
            ifr.setAttribute("frameborder", "0");
            var node = document.body.getElementsByTagName("script")[0];
            node.parentNode.insertBefore(ifr, node);
            break;
        }
    }
    </script>
    <noscript>
        <iframe src="https://5214106.fls.doubleclick.net/activityi;src=5214106;type=corp;cat=regis0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <script type="text/javascript">
    var gptIsDisableInitialLoad = true;
    var IsAPSEnabled = true;

    var data = {
        "networkId": "99071977",
        "divId": "div-gpt-ad-cataluna_n",
        "customTargeting": {},
        "adSlots": [{ "adUnit": "mun-mv/cataluna/n", "customTargeting": { "p": ["f"] } }, {
            "adUnit": "mun-mv/cataluna/n",
            "sizes": [
                [300, 250],
                [300, 300],
                [300, 600],
                [1, 1]
            ],
            "customTargeting": { "p": ["r"] }
        }, {
            "adUnit": "mun-mv/cataluna/n",
            "sizes": [
                [300, 250],
                [300, 300],
                [1, 1]
            ],
            "customTargeting": { "p": ["rb"] }
        }, {
            "adUnit": "mun-mv/cataluna/n",
            "sizes": [
                [300, 100],
                [300, 250],
                [300, 300],
                [1, 1]
            ],
            "customTargeting": { "p": ["rc"] }
        }, {
            "adUnit": "mun-mv/cataluna/n",
            "sizes": [
                [320, 50],
                [320, 53],
                [320, 100],
                [1, 1]
            ],
            "customTargeting": { "p": ["320x53"] }
        }, {
            "adUnit": "mun-mv/cataluna/n",
            "sizes": [
                [300, 100],
                [1, 1]
            ],
            "customTargeting": { "p": ["nata"] }
        }, {
            "adUnit": "mun-mv/cataluna/n",
            "sizes": [
                [300, 100],
                [1, 1]
            ],
            "customTargeting": { "p": ["natb"] }
        }, { "adUnit": "mun-mv/cataluna/n", "customTargeting": { "p": ["html5"] } }, { "adUnit": "mun-mv/cataluna/n", "customTargeting": { "p": ["f2"] } }, { "adUnit": "mun-mv/cataluna/n", "customTargeting": { "p": ["f3"] } }]
    };
    googletag.cmd.push(function() {
        data.customTargeting.t = ['cataluna-home'];
        data.customTargeting.tag = ['estado-islamico,cataluna,barcelona,audiencia-nacional'];
        data.customTargeting.referer = ['home'];
        data.customTargeting.ueseg = [''];
        data.customTargeting.ueid = ['2CD1EDB905310A1C-60000101E0002F8F'];


        window["ueDFPData"] = data;

        function kruxretrieve(n) {
            var m, k = 'kxunidad_' + n;
            if (window.localStorage) {
                return window.localStorage[k] || '';
            } else if (navigator.cookieEnabled) {
                m = document.cookie.match(k + '=([^;]*)');
                return (m && unescape(m[1])) || '';
            } else {
                return '';
            }
        }

        data.customTargeting.kuid = 'NoDefinido';
        data.customTargeting.ksegs = 'NoDefinido';
        var kuser = kruxretrieve('user');
        if (kuser) {
            data.customTargeting.kuid = kuser;
        }
        var ksegments = kruxretrieve('segs');
        if (ksegments) {
            data.customTargeting.ksegs = ksegments.split(',');
        }

        data.adSlots.forEach(function(adSlot, i) {
            var slotIndex = i + 1;
            var adUnit = adSlot.adUnit ? adSlot.adUnit : data.adUnit;
            adUnit = '/' + data.networkId + '/' + adUnit;
            var divId = data.divId + '_' + adSlot.customTargeting.p.join('_');

            divId += '_' + '59a31302e5fdea71458b459e'

            if (adSlot.sizes) {
                gptadslots[slotIndex] = googletag.defineSlot(adUnit, adSlot.sizes, divId);
            } else {
                gptadslots[slotIndex] = googletag.defineOutOfPageSlot(adUnit, divId);
            }

            for (var key in adSlot.customTargeting) {
                if (adSlot.customTargeting.hasOwnProperty(key)) {
                    gptadslots[slotIndex].setTargeting(key, adSlot.customTargeting[key]);
                }
            }
            gptadslots[slotIndex].addService(googletag.pubads());
        });

        if ((typeof DisableenableSingleRequest === 'undefined') || !DisableenableSingleRequest) {
            googletag.pubads().enableSingleRequest();
        }

        for (var key in data.customTargeting) {
            if (data.customTargeting.hasOwnProperty(key)) {
                googletag.pubads().setTargeting(key, data.customTargeting[key]);
            }
        }

        googletag.pubads().addEventListener('slotRenderEnded', function(event) {
            setTimeout(function() {
                if (event && event.slot && event.slot.m && event.slot.m.m) {
                    jQuery(window).trigger('slotRendered', { "slotId": event.slot.m.m });
                    var container = jQuery("#" + event.slot.m.m);
                    container.attr("style", "height:" + container.height() + "px;");
                }
            }, 500);
        });

        googletag.pubads().enableAsyncRendering();
        if (((typeof gptIsDisableInitialLoad !== 'undefined') && gptIsDisableInitialLoad) || (typeof IsAPSEnabled !== 'undefined' && IsAPSEnabled)) {
            googletag.pubads().disableInitialLoad();
        }
        if (typeof pbjs !== 'undefined') {
            pbjs.que.push(function() {
                pbjs.setTargetingForGPTAsync();
            });
        }
        googletag.enableServices();

    });
    if (typeof IsAPSEnabled !== 'undefined' && IsAPSEnabled) {

        apstag.init({
            pubID: '3537',
            adServer: 'googletag',
            bidTimeout: 1e3
        });

        var aps_data = {};
        aps_data.slots = [];

        data.adSlots.forEach(function(adSlot, i) {
            var slotIndex = i + 1;
            var adUnit = adSlot.adUnit ? adSlot.adUnit : data.adUnit;
            adUnit = '/' + data.networkId + '/' + adUnit;
            var divId = data.divId + '_' + adSlot.customTargeting.p.join('_');

            divId += '_' + '59a31302e5fdea71458b459e'

            if (adSlot.sizes) {
                //gptadslots[slotIndex] = googletag.defineSlot(adUnit, adSlot.sizes, divId);
                var t = adSlot.sizes.filter(function(size) {
                    return (size[0] !== 1) && (size[1] !== 1);
                });
                aps_data.slots.push({ slotID: divId, slotName: adUnit, sizes: t });
            } else {
                //gptadslots[slotIndex] = googletag.defineOutOfPageSlot(adUnit, divId);
            }

        });

        apstag.fetchBids(aps_data, function(bids) {
            googletag.cmd.push(function() {
                apstag.setDisplayBids();
                googletag.pubads().refresh();
            });
        });
    }
    </script>
    <div id='div-gpt-ad-cataluna_n_f_59a31302e5fdea71458b459e' class="publicidad">
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_f_59a31302e5fdea71458b459e'); });
        </script>
    </div>
    <div id='div-gpt-ad-cataluna_n_html5_59a31302e5fdea71458b459e' class="publicidad">
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_html5_59a31302e5fdea71458b459e'); });
        </script>
    </div>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5&&appId=279395918757488&status=true&cookie=true";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>