{{!-- includes/elmundo_m/featured-links.hbs --}}

<div class="container loading-module no-visible">
    <img class="loading-icon" src="http://e00-elmundo.uecdn.es/assets/v7/img/loading-icon.gif">
    <div class="loading-next">
        <p>Cargando siguiente contenido</p>
        <p class="js_navTitulo"></p>
    </div>
</div>
<section class="content-item featured-links UEClass">
    <h3 class="list-header"><span>Enlaces de inter&eacute;s</span></h3>
    <ul class="list">
        <li><a href="http://www.elmundo.es/ultimas-noticias.html">&Uacute;ltimas Noticias</a></li>
        <li><a href="http://www.elmundo.es/temas/">Temas</a></li>
        <li><a href="http://www.elmundo.es/economia/bolsa/indices/ibex35_I.IB.html">IBEX 35</a></li>
        <li><a href="http://www.elmundo.es/loterias/euromillones.html">Euromillones</a></li>
        <li><a href="http://www.elmundo.es/horoscopo/">Hor&oacute;scopo Diario</a></li>
        <li><a href="http://www.elmundo.es/mejores-colegios.html">Mejores colegios</a></li>
    </ul>
    <ul class="list">
        <li><a href="http://www.elmundo.es/servicios/">Servicios</a></li>
        <li><a href="http://quiosco.orbyt.es/">Orbyt</a></li>
        <li><a href="http://www.elmundo.es/traductor/">Traductor</a></li>
        <li><a href="http://www.elmundo.es/television/programacion-tv/">Gu&iacute;a TV</a></li>
        <li><a href="http://www.elmundo.es/diccionarios/">Diccionarios</a></li>
        <li><a href="http://www.elmundo.es/tiempo/">El tiempo</a></li>
        <li><a href="http://www.elmundo.es/promociones/">Promociones</a></li>
        <li><a href="http://www.elmundo.es/loterias/">Loter&iacute;a</a></li>
        <li><a href="http://comparador.elmundo.es/">Comparador financiero</a></li>
        <li><a href="http://seguroscoche.elmundo.es/">Comparador seguros</a></li>
    </ul>
    <ul class="list">
        <li>
            <a href="http://www.elmundo.es/eventos/en-directo/2017/08/26/48560-f1-gran-premio-de-belgica-en-vivo/"> F1: Gran Premio de Bélgica, en vivo</a>
        </li>
        <li>
            <a href="http://www.elmundo.es/eventos/en-directo/2017/08/27/48566-etapa-9-de-la-vuelta-orihuela-cumbre-del-sol-en-vivo/"> Etapa 9 de la Vuelta: Orihuela-Benitatxell, en vivo</a>
        </li>
        <li>
            <a href="http://www.elmundo.es/eventos/en-directo/2017/08/27/48565-gran-premio-de-gran-bretana-en-vivo/"> MotoGP: Gran Premio de Gran Bretaña, en vivo</a>
        </li>
        <li>
            <a href="http://www.elmundo.es/eventos/en-directo/2017/08/27/48397-chelsea-everton/"> Chelsea vs Everton, en vivo</a>
        </li>
        <li>
            <a href="http://www.elmundo.es/eventos/en-directo/2017/08/27/48381-real-madrid-valencia-cf/"> Real Madrid vs Valencia, en vivo</a>
        </li>
    </ul>
</section>