{{!-- includes/elmundo_m/main.hbs --}}

 <script>
        var ueDataPage = { rootSection: "default", sectionPrettyName: "Cataluña", portal: "elmundo", ct: "n", model: "cataluna-home", contentId: '59a31302e5fdea71458b459e', breadcrumb: '<ul class="tab-breadcrumb js-containerbreadcrumb"><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home" itemref="bread-1" id="bread-0"><a itemprop="url" title="Inicio" href="http://www.elmundo.es"><span itemprop="title">Inicio</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="first-level" itemref="bread-2" id="bread-1"><a itemprop="url" title="España" href="http://www.elmundo.es/espana.html"><span itemprop="title">España</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="second-level"  id="bread-2"><a itemprop="url" title="Cataluña" href="http://www.elmundo.es/elmundo/barcelona.html"><span itemprop="title">Cataluña</span></a></li></ul>', children: '<ul class="local-navigation"><li><span class="local-navigation-title"><a href="http://www.elmundo.es/elmundo/barcelona.html" title="Cataluña">Cataluña</a></span></li></ul>', numComments: '72', rrss: { img: "", summary: "", viaTwitter: 'elmundoes' } }
        </script>
        <div class="container">
            <div class="alerta" id="alerta">
                <ul>
                    <li>
                        <span><strong>URGENTE</strong>India condena a un influyente gurú a 10 años de cárcel por violación.</span>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
            if (typeof portal == 'undefined') { portal = ''; }
            var ueAlert = window.ueAlert || (window.utilsEvent ? null : initUeAlerts());
            if (ueAlert == null) { window.addEventListener('cargaUtils', function() { ueAlert = initUeAlerts(); }); }

            function initUeAlerts(event) {
                var pos = 0,
                    lis = [],
                    nlis = 0,
                    timer1 = null,
                    btPlay = null,
                    btStop = null;

                function init() {
                    var alerta_container = document.getElementById("alerta");
                    var cont = alerta_container.getElementsByTagName("ul")[0];
                    btPlay = ueUtils.getElementsByClass("play", cont.getElementsByTagName("ul")[1])[0];
                    btStop = ueUtils.getElementsByClass("stop", cont.getElementsByTagName("ul")[1])[0];
                    if (portal == 'portada') { lis = cont.getElementsByTagName("li"); } else { lis = cont.getElementsByClassName('urgente'); }
                    nlis = lis.length;
                    if (nlis == 0) { ueUtils.addClass(alerta_container, 'ocultar'); } else {
                        ueUtils.addClass(lis[0], "mostrar");
                        ueUtils.addClass(btStop, "ocultar");
                        ueAlert.play();
                    }
                }
                var ueAlert = {
                    play: function() {
                        timer1 = setInterval(ueAlert.next, 5000);
                        ueUtils.addClass(btPlay, "ocultar");
                        ueUtils.removeClass(btStop, "ocultar");
                    },
                    stop: function() {
                        if (timer1) {
                            clearInterval(timer1);
                            timer1 = null;
                        }
                        ueUtils.addClass(btStop, "ocultar");
                        ueUtils.removeClass(btPlay, "ocultar");
                    },
                    next: function() {
                        var nextPos = ((pos + 1) < nlis) ? (pos + 1) : 0;
                        ueUtils.removeClass(lis[pos], "mostrar");
                        ueUtils.addClass(lis[nextPos], "mostrar");
                        pos = nextPos;
                    },
                    preview: function() {
                        var nextPos = ((pos - 1) < 0) ? (nlis - 1) : (pos - 1);
                        ueUtils.removeClass(lis[pos], "mostrar");
                        ueUtils.addClass(lis[nextPos], "mostrar");
                        pos = nextPos;
                    }
                }
                init();
                return ueAlert;
            }
            </script>
            <article class="news-item" itemtype="http://schema.org/NewsArticle">
                <span class="section-title-group"><span class="section-type"><a href="http://www.elmundo.es/cataluna.html">Cataluña</a></span>
                </span>
                <h2 class="kicker"> <a href="/cataluna.html">CATALUÑA</a></h2>
                <h1 itemprop="headline" class="js-headline">Las familias, un escollo para integrar al alumno musulmán</h1>
                <div class="row content" itemprop="articleBody">
                    <figure class="multimedia-item image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="container-image">
                            <img src="http://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2017/08/27/15038593416552.jpg" class="full-image" itemprop="contentUrl" alt/>
                        </div>
                        <figcaption class="caption" itemprop="description"> <i class="icon-foto_16_g"></i>En el centro de la imagen, una joven musulmana muestra una pancarta contra la islamofobia en la manifestación de Barcelona. <span itemprop="author" itemscope itemtype="http://schema.org/Person"></span>
                            <span itemprop="name">OLMO CALVO</span> </figcaption>
                    </figure>
                    <aside>
                        <div class="content-ad">
                            <div class="ad-item-320">
                                <div id='div-gpt-ad-cataluna_n_320x53_59a31302e5fdea71458b459e' class="publicidad">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_320x53_59a31302e5fdea71458b459e'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="subtitle-items">
                        <p class="summary-lead">
                            <i class="icon-apoyo_16_b"></i>Los maestros ven en la cerrazón familiar y la exclusión social los riesgos de radicalización</p>
                    </div>
                    <footer>
                        <address class="news-author">
                            <ul class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <li itemprop="name" class="author-name">
                                    <strong>JORDI RIBALAYGUE</strong>
                                </li>
                                <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="author-city">
                                    <span itemprop="addressLocality"> BARCELONA</span>
                                </li>
                            </ul>
                        </address>
                    </footer>
                    <meta itemprop="datePublished" content="2017-08-28">
                    <time datetime="2017-08-28 03:09:50" class="date" itemprop="dateModified">
                        28 ago. 2017
                        <strong>03:09</strong>
                    </time>


                    {{> includes/ue-comments-button }}
                    
                    <p>«Antes de ser detenida, la chica que declaró en la Audiencia Nacional hacía como muchas. Se montaba en el tren tapada, se cambiaba de ropa en el lavabo y se iba bien lejos para salir como le pedía el cuerpo, porque son adolescentes». Lo explica un profesor que conoció bien a esa muchacha de Terrassa que, con sólo 19 años, fue arrestada en abril por difundir propaganda de Estado Islámico para captar a otras mujeres. «De repente dejé de verla», recuerda el maestro, «y la siguiente vez que la vi iba tapada hasta las cejas. Tenía 15 o 16 años. Al ver mi cara, me dijo bromeando: 'No te creas que llevo una bomba dentro'».</p>
                    <p>En su entorno, pasó inadvertido que la joven se dedicara al proselitismo yihadista. Tampoco hubo indicios que revelaran la veloz radicalización de la célula de Ripoll, con tres menores en su seno. «No estaban fuera de la sociedad. Es lo que ocurría con chicos como los que atentaron en la sala Bataclan, pero en Ripoll nos falta algo por saber», afirma Jordi Moreras, antropólogo de la Universitat Rovira i Virgili, «¿cómo podía ser tan grande su rabia para hacer el mayor atentado yihadista en Cataluña? Nos demuestra que<strong> los procesos de radicalización no tienen sólo que ver con la marginación o los barrios periféricos</strong>».</p>
                    <p>Los Mossos d'Esquadra pusieron en marcha un protocolo para que los profesores alertaran de si un alumno se radicaliza. Aún no se conocen los datos del curso pasado. </p>
                    <div id='div-gpt-ad-cataluna_n_r_59a31302e5fdea71458b459e' class="publicidad">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_r_59a31302e5fdea71458b459e'); });
                        </script>
                    </div>
                    <p>«Ver lo obvio es fácil, pero darse cuenta de lo que hay debajo es mucho más complicado. Tenemos mucha población y somos pocos profesores», comenta una maestra de un instituto de un barrio deprimido a pocos kilómetros de Barcelona. En su centro alertaron a la Policía del riesgo de que dos chavales, con una situación vulnerable, «fueran víctimas de discursos radicales». Se les puso bajo un seguimiento discreto. Los Mossos descartaron uno de los casos.</p>
                    <p><strong>«Me ha pasado mucho que me digan que no sé nada del islam, porque no soy musulmán, cuando su acercamiento a la religión es pobre»</strong>, manifiesta otro profesor que ha estrechado contacto con jóvenes musulmanes fuera de clase. «Con ese poso, es fácil que alguno mire internet y aprenda cuatro locuras, o que algún miserable les convenza porque no tienen casi nada. Sí tienen mucho deseo de identidad y de orgullo. Cuando se han sentido muchas veces humillados, es una forma de reivindicarse», añade.</p>
                    <p>Lo que es patente para los educadores donde predomina un alto porcentaje de magrebíes es la miseria de las familias, las bajas expectativas con los estudios o la segregación en los colegios, con centros sin apenas hijos de inmigrantes y otros, llenos.</p>
                    <p>«Los chicos musulmanes que viven en ciertos barrios encuentran muchas carencias. Les cuesta encontrar trabajo y vivienda, aparte de las dificultades para estudiar», recalca Enric Canet, del Casal dels Infants. Surgido en el multicultural Raval de Barcelona, el colectivo de atención a la infancia piensa que el trabajo hecho en el barrio con entidades de inmigrantes y servicios sociales ha sido una vacuna contra el radicalismo.</p>
                    <p>Los maestros consultados no ocultan su impotencia ante los obstáculos para que la enseñanza resulte exitosa. «<strong>Es muy difícil, porque los recursos son mínimos</strong>, y tenemos suerte porque una ONG nos da 11.000 euros. Sin ellos, sería imposible que nos pagaran excursiones y libros», reconoce la jefa de estudios de una escuela primaria próxima a la capital, con casi un 90% de alumnos con padres mayoritariamente magrebíes y de pocos ingresos. </p>
                    <p>«La mayor dificultad es con las familias. Hay pocas con las que hablar de tú a tú, surgen malentendidos... Su participación es muy baja. Nos gustaría hacer programas para que las mujeres salgan de casa, mejoraran el idioma y pudieran trabajar, pero es complicadísimo. Hay quienes viven todos en una habitación y no tienen para pagar. Así, la educación es secundaria, y hay niños que son brillantes, pero cuando crezcan y necesiten un ordenador, no podrán tenerlo», expone la maestra, que reclama más apoyo de la administración contra esos impedimentos que, como atestigua, les obliga a hacer «de mediadoras y psicólogas, además de profesoras».</p>
                    <p>En su caso, también disponen de un mosso «de referencia» por si observaran indicios de radicalismo, aun en edades tan tempranas. «Ojalá no nos toque denunciar nunca. Son niños a los que se coge cariño. No nos dejaríamos de preguntar qué hemos hecho mal», admite.</p>
                    <p>«Si un chico se radicaliza, ¿qué alarmas puede despertar si sus padres tienen interiorizada una vida muy anacrónica a nuestros ojos?», se pregunta un profesor, que percibe que la «presión» por mantener las tradiciones puede ser grande sobre la juventud: «Muchos se han reído de lo que les he enseñado de ética, educación para la ciudadanía o filosofía. Te dicen que es mentira. Es parte del adoctrinamiento de la madraza, la mezquita o de casa. Eso no convierte a nadie en terrorista, pero les blinda. A su vez, ¿cómo no van a pensar que lo que les enseñamos sobre los derechos humanos, la fraternidad o la libertad es hipócrita si se contradice con su experiencia?».</p>
                    <p>«Muchas veces te encuentras con la <strong>frustración de estos jóvenes</strong>, porque perciben que hay cosas que les son inalcanzables», señalan educadores consultados. «Puede ser un chico que se ha integrado muy bien, pero es marroquí a ojos de todo el mundo en primera instancia y eso puede ser paralizante», agregan.</p>
                    <p>«Lo principal es entender que no somos una segunda generación, sino que somos hijos e hijas de aquí, y debemos tener las mismas oportunidades. Tenemos jóvenes muy preparados pero, si para cualquiera es complicado encontrar trabajo, siendo musulmán lo es mucho más», opina Cheima El Jebary, coordinadora de Joventut Multicultural Musulmana.</p>
                    <aside class="related-tags">
                        <h4 class="list-header"><span>Relacionados</span></h4>
                        <ul class="item-tags">
                            <li>
                                <a href="http://www.elmundo.es/e/es/estado-islamico-is.html" rel="tag">Estado Islámico</a> </li>
                            <li>
                                <a href="http://www.elmundo.es/catalunya.html" rel="tag">Cataluña</a> </li>
                            <li>
                                <a href="http://www.elmundo.es/catalunya/barcelona.html" rel="tag">Barcelona</a> </li>
                            <li>
                                <a href="http://www.elmundo.es/e/au/audiencia-nacional.html" rel="tag">Audiencia Nacional</a> </li>
                        </ul>
                    </aside>
                </div>
                <div class="row content">

                    {{> includes/ue-comments-button }}

                    <div class="ue-c-panel-shadow" data-slide-shadow></div>

                    {{> includes/ue-panel/ue-panel-no-tabs }}

                </div>
                <aside class="aside-ad floated-left-item">
                    <div class="content-ad">
                        <div class="ad-item-300">
                            <div id='div-gpt-ad-cataluna_n_rb_59a31302e5fdea71458b459e' class="publicidad">
                                <script type='text/javascript'>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_rb_59a31302e5fdea71458b459e'); });
                                </script>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="OUTBRAIN" data-src="http://www.elmundo.es/cataluna/2017/08/28/59a31302e5fdea71458b459e.html" data-widget-id="AR_7" data-ob-template="elmundo"></div>
                <div class="OUTBRAIN" data-src="http://www.elmundo.es/cataluna/2017/08/28/59a31302e5fdea71458b459e.html" data-widget-id="AR_8" data-ob-template="elmundo"></div>
                <div class="OUTBRAIN" data-src="http://www.elmundo.es/cataluna/2017/08/28/59a31302e5fdea71458b459e.html" data-widget-id="AR_9" data-ob-template="elmundo"></div>
                <script type="text/javascript">
                (function() {
                    if (jQuery && jQuery('script[src*="outbrain.js"]').length === 0) {
                        try {
                            var scriptEl = document.createElement('script');
                            scriptEl.type = 'text/javascript';
                            scriptEl.async = 'true';
                            scriptEl.src = 'http://widgets.outbrain.com/outbrain.js';
                            var targetEl = document.getElementsByTagName('script')[0];
                            targetEl.parentNode.insertBefore(scriptEl, targetEl);
                        } catch (e) {};
                    }
                })();
                </script>
            </article>
            <section class="row content cols-30-70">
                <aside class="aside-ad floated-left-item">
                    <div class="content-ad">
                        <div class="ad-item-300">
                            <div id='div-gpt-ad-cataluna_n_rc_59a31302e5fdea71458b459e' class="publicidad">
                                <script type='text/javascript'>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_rc_59a31302e5fdea71458b459e'); });
                                </script>
                            </div>
                        </div>
                    </div>
                </aside>
            </section>
            <aside class="publicidad mod-multipurpose end-fixed">
                <h3 class="list-header"><span>TE PUEDE INTERESAR</span></h3>
                <div id='div-gpt-ad-cataluna_n_nata_59a31302e5fdea71458b459e' class="publicidad">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_nata_59a31302e5fdea71458b459e'); });
                    </script>
                </div>
                <div class="dotted-divider"></div>
                <div id='div-gpt-ad-cataluna_n_natb_59a31302e5fdea71458b459e' class="publicidad">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_natb_59a31302e5fdea71458b459e'); });
                    </script>
                </div>
            </aside>
            <section class="row content ">
            </section>
            <section class="row content row-layout">
            </section>
            <div class="no-visible" id="iframeACargar">
                <div class="lightbox_shadow">
                    <div class="cerrar icon-close" title="Cerrar"></div>
                </div>
                <section class="lightbox inicio-sesion"></section>
            </div>
            <script>
            jQuery(document).ready(function() {
                jQuery(".kaltura-video-player").each(function() { jQuery(this).height(jQuery(this).width() * 9 / 16); });
                jQuery(window).resize(function() { jQuery(".kaltura-video-player").each(function() { jQuery(this).height(jQuery(this).width() * 9 / 16); }); });
            });
            </script>
            <script>
            jQuery(function() {
                if (Comentarios) {
                    window.Comments = new Comentarios({
                        botonesDesplegar: '.js-botonComentarios',
                        newsId: "59a31302e5fdea71458b459e"
                    });
                }
                if (typeof jQuery.fn.RedesSociales === 'function') {
                    jQuery('#js_59a31302e5fdea71458b459e').find('.js_socialMedia').RedesSociales({
                        title: "Las familias, un escollo para integrar al alumno musulmán",
                        img: "",
                        url: "http://www.elmundo.es/cataluna/2017/08/28/59a31302e5fdea71458b459e.html",
                        summary: "",
                        viaTwitter: 'elmundoes',
                        urlCorreo: "http://www.elmundo.es/enviar/formulario_enviar_noticia.html?que_mundo=elmundo",
                        sufijoAnalitica: '_1',
                        sharedFb: true
                    });
                    jQuery('#js_59a31302e5fdea71458b459e').find('.js_socialMedia_1').RedesSociales({
                        title: "Las familias, un escollo para integrar al alumno musulmán",
                        img: "",
                        url: "http://www.elmundo.es/cataluna/2017/08/28/59a31302e5fdea71458b459e.html",
                        summary: "",
                        viaTwitter: 'elmundoes',
                        urlCorreo: "http://www.elmundo.es/enviar/formulario_enviar_noticia.html?que_mundo=elmundo",
                        sufijoAnalitica: '_2',
                        sharedFb: true
                    });
                }
                if (typeof jQuery.fn.ElementoFijo === 'function') {
                    jQuery('#js_59a31302e5fdea71458b459e').find('.js_fixed').ElementoFijo({
                        elementosAnteriores: ['.nav-container', '.breadcrumbs '],
                        elementoDesdeFixed: '.content',
                        elementoHastaFixed: '.end-fixed',
                        minWidthFijo: 768
                    });
                }

                jQuery(window).on('slotRendered', function(event, data) {
                    fixedAdv(data.slotId);
                });
                window.fixedAdv = function(divgpt) {
                    var advFixedCount = jQuery(".js-sky #" + divgpt + " .js_fixed").length;
                    if (advFixedCount > 0) {
                        var advFixed = jQuery("#" + divgpt);
                        var container = advFixed.closest("main");
                        var height = 0;
                        height = container.height() - (advFixed.parent().outerHeight() - advFixed.parent().height()) - advFixed.position().top;
                        advFixed.height(height);
                        advFixed.find(".js_fixed").ElementoFijo({
                            elementosAnteriores: ['.site-header'],
                            elementoDesdeFixed: '.content-ad',
                            minWidthFijo: 768,
                            initialPosition: 'fixed',
                            parentContainer: true
                        });
                    };
                };
            });
            </script>
        </div>
        <script type="text/javascript">
        jQuery(function() {
            if (typeof jQuery.fn.RedesSociales === 'function') { jQuery('.js-cnav-header').find('.js_socialMedia').RedesSociales({ title: "Las familias, un escollo para integrar al alumno musulmán", img: "", url: "http://www.elmundo.es/cataluna/2017/08/28/59a31302e5fdea71458b459e.html", summary: "", viaTwitter: 'elmundoes', urlCorreo: "http://www.elmundo.es/enviar/formulario_enviar_noticia.html?que_mundo=elmundo", sufijoAnalitica: '_1' }); }
            jQuery(document).on("urlChanged", function(event, data) { if (typeof jQuery.fn.RedesSociales === 'function') { jQuery('.js-cnav-header').find('.js_socialMedia').RedesSociales({ title: data.title, img: data.rrss.img, url: data.url, summary: data.rrss.summary, viaTwitter: data.rrss.viaTwitter, urlCorreo: "http://www.elmundo.es/enviar/formulario_enviar_noticia.html?que_mundo=elmundo", sufijoAnalitica: '_1' }); } });
        });
        </script>


        <aside class="content-ad">
            <div class="ad-item-f2">
                <div id='div-gpt-ad-cataluna_n_f2_59a31302e5fdea71458b459e' class="publicidad">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_f2_59a31302e5fdea71458b459e'); });
                    </script>
                </div>
            </div>
        </aside>
        <aside class="content-ad">
            <div class="ad-item-f3">
                <div id='div-gpt-ad-cataluna_n_f3_59a31302e5fdea71458b459e' class="publicidad">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_f3_59a31302e5fdea71458b459e'); });
                    </script>
                </div>
            </div>
        </aside>