{{!-- includes/marca_m/main.hbs --}}


        <aside class="content-ad">
            <div class="ad-item-f">
                <div id='div-gpt-ad-motor_formula1_gp-belgica_n_f_59a3e672268e3e87678b46df' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_f_59a3e672268e3e87678b46df'); });
                    </script>
                </div>
            </div>
        </aside>
        <script>
        if (typeof optimizelyActive !== 'undefined') { window.optimizely = window.optimizely || [];
            window.optimizely.push(["activate", optimizelyActive]); }
        </script>
        <script>
        var ueDataPage = {
            rootSection: "motor",
            sectionPrettyName: "GP Bélgica F1 2017",
            portal: "marca",
            ct: "n",
            model: "f1-gp-belgica",
            contentId: '59a3e672268e3e87678b46df',
            breadcrumb: '<ul class="tab-breadcrumb js-containerbreadcrumb"><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home" itemref="bread-1" id="bread-0"><a itemprop="url" title="MARCA.com" href="http://www.marca.com?cid=MENUMIGA35903&s_kw=home"><span itemprop="title">Inicio</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" itemprop="child" class="first-level" itemref="bread-2" id="bread-1"><a href="http://www.marca.com/motor.html?cid=MENUMIGA35903&s_kw=motor" itemprop="url"><span itemprop="title">Motor</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" itemprop="child" class="second-level" id="bread-2"><a href="http://www.marca.com/motor/formula1.html?cid=MENUMIGA35903&s_kw=formula-1" itemprop="url"><span itemprop="title">Fórmula 1</span></a><span class="arrow"></span></li></ul>',
            children: '<ul class="local-navigation-links js-breadcrumb-submenu"><li><a data-section="Noticias" href="http://www.marca.com/motor/formula1.html?cid=MENUMIGA35903&s_kw=noticias" title="Noticias">Noticias</a></li><li><a data-section="Resultados y directos" href="http://www.marca.com/resultados/motor/formula-1.html?cid=MENUMIGA35903&s_kw=resultados-y-directos" title="Resultados y directos">Resultados y directos</a></li><li><a data-section="Calendario" href="http://www.marca.com/deporte/motor/formula1/calendario.html?cid=MENUMIGA35903&s_kw=calendario" title="Calendario">Calendario</a></li><li><a data-section="Escuderías y pilotos" href="http://www.marca.com/deporte/motor/formula1/escuderias/?cid=MENUMIGA35903&s_kw=escuderias-y-pilotos" title="Escuderías y pilotos">Escuderías y pilotos</a></li><li><a data-section="Clasificación pilotos" href="http://www.marca.com/motor/formula1/clasificacion.html?cid=MENUMIGA35903&s_kw=clasificacion-pilotos" title="Clasificación pilotos">Clasificación pilotos</a></li><li><a data-section="Clas. por carreras" href="http://www.marca.com/motor/formula1/clasificacion-carreras.html?cid=MENUMIGA35903&s_kw=clas-por-carreras" title="Clas. por carreras">Clas. por carreras</a></li><li><a data-section="Clas. Constructores" href="http://www.marca.com/motor/formula1/clasificacion-constructores.html?cid=MENUMIGA35903&s_kw=clas-constructores" title="Clas. Constructores">Clas. Constructores</a></li><li><a data-section="Palmarés" href="http://www.marca.com/deporte/motor/formula1/palmares.html?cid=MENUMIGA35903&s_kw=palmares" title="Palmarés">Palmarés</a></li><li><a data-section="Archivo" href="http://www.marca.com/deporte/motor/formula1/archivo.html?cid=MENUMIGA35903&s_kw=archivo" title="Archivo">Archivo</a></li></ul>',
            numComments: '67',
            rrss: {
                img: "http://e00-marca.uecdn.es/assets/multimedia/imagenes/2017/08/28/15039131211659.jpg",
                summary: "",
                viaTwitter: 'marca'
            }
        }
        </script>
        <div class="container">
            <article class="news-item clearfix" itemtype="http://schema.org/NewsArticle">
                <h2 class="kicker"><a href="http://www.marca.com/motor/formula1/gp-belgica.html">GP Bélgica F1 2017</a></h2>
                <aside class="content-ad">
                    <div class="ad-item">
                        <div id='div-gpt-ad-motor_formula1_gp-belgica_n_m_59a3e672268e3e87678b46df' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_m_59a3e672268e3e87678b46df'); });
                            </script>
                        </div>
                    </div>
                </aside><span class="section-title-group izquierda"><span class="section-type">GP Bélgica F1 2017</span><span class="subsection-type">Fernando quiere que McLaren se separe para seguir en 2018</span></span>
                <h1 itemprop="headline" class="js-headlineb izquierda">Honda o Alonso</h1>
                <figure class="multimedia-item image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><img src="http://e00-marca.uecdn.es/assets/multimedia/imagenes/2017/08/28/15039131211659.jpg" class="full-image" itemprop="contentUrl" alt="Fernando Alonso, en el momento de dirigirse a boxes tras abandonar en..." />
                    <figcaption class="caption" itemprop="description"><i class="icon-caption-photo"></i>Fernando Alonso, en el momento de dirigirse a boxes tras abandonar en Bélgica <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">RV Racing</span></span>
                    </figcaption>
                </figure>
                <div class="subtitle-items">
                    <p class="summary-lead second izquierda"><i class="item-sumary-lead"></i><a href="http://www.marca.com/motor/formula1/gp-belgica/2017/08/27/59a2ca6e22601db5228b4681.html">Hamilton resiste a Vettel y Sainz logra un punto de oro</a></p>
                    <p class="summary-lead second izquierda"><i class="item-sumary-lead"></i><a href="http://www.marca.com/motor/formula1/gp-belgica/2017/08/27/59a2bb97268e3ecc338b4608.html">Alonso, impotente por su motor: "¡¡¡Esto es vergonzoso!!!"</a></p>
                    <p class="summary-lead second izquierda"><i class="item-sumary-lead"></i><a href="http://www.marca.com/motor/formula1/clasificacion-carreras.html">Así está el Mundial de F1 después del GP de Bélgica</a></p>
                </div>
                <aside class="content-ad">
                    <div class="ad-item-320">
                        <div id='div-gpt-ad-motor_formula1_gp-belgica_n_660x50_59a3e672268e3e87678b46df' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_660x50_59a3e672268e3e87678b46df'); });
                            </script>
                        </div>
                    </div>
                </aside>
                <div class="row content sharing-tools">
                    <ul>
                        <li class="signatures-container">
                            <address class="news-author">
                                <ul class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                    <li class="author-twitter"><a href="https://twitter.com/CansecoF1" target="_blank"><i class="icon-twitter_14x11_a"></i>Marco Canseco</a></li>
                                    <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="author-city"><span itemprop="addressLocality">Francorchamps</span></li>
                                </ul>
                            </address>
                        </li>
                        <li class="date-container">
                            <meta itemprop="datePublished" content="2017-08-28">
                            <time datetime="2017-08-28 11:46:33" class="date" itemprop="dateModified">
                                28/08/2017 <strong>11:46 <abbr title="Central European Summer Time">CEST</abbr></strong></time>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <p><strong>La ofensiva de Fernando Alonso contra Honda se ha recrudecido en las últimas horas</strong>. Aprovechando el<strong><a href="http://www.marca.com/motor/formula1/gp-belgica/2017/08/27/59a2bb97268e3ecc338b4608.html"> penoso rendimiento del propulsor japonés en el circuito de Spa-Francorhamps</a></strong>, el piloto español no ha dudado en <strong>cargar con extrema dureza hacia el actual motorizador de McLaren</strong>. Su postura queda clara y le pide a los de Woking que elijan para 2018: <strong>Honda o Alonso</strong>. </p>
                <div id='div-gpt-ad-motor_formula1_gp-belgica_n_r_59a3e672268e3e87678b46df' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_r_59a3e672268e3e87678b46df'); });
                    </script>
                </div>
                <aside class="summary-item">
                    <blockquote class="summary-cite">Veremos lo que pasa en las dos próximas semanas"</blockquote>
                    <p class="cite-author">Fernando Alonso, piloto de McLaren Honda</p>
                </aside>
                <p>No es una suposición, <strong>sino un hecho</strong>, como queda patente en las declaraciones realizadas por el asturiano tras la carrera de ayer. Fernando lo expuso cuando le preguntaron si McLaren debe cambiar de motor para que él renueve. "Veremos lo que pasa en las dos próximas semanas. Estoy feliz en el equipo y estamos en una dura temporada, pero McLaren es uno de los mejores equipos del mundo y estaría feliz si siguiera con ellos... Veremos lo que sucede en estas dos semanas", afirma. </p>
                <p><strong>E insiste</strong>, por si no ha quedado claro, en lo que <strong>tiene que variar para 2018</strong>. "Sólo tiene que haber un cambio. Creo que hay muchas respuestas por ahí y tenemos que encontrarlas. No vendrán mirando al cielo. Tenemos que sentarnos y trabajar y esperamos encontrar la mejor solución para el próximo año", aseguraba. </p>
                <aside class="summary-item">
                    <blockquote class="summary-cite">Sólo tiene que haber un cambio. Hay muchas respuestas por ahí y hay que trabajar para encontrarlas"</blockquote>
                    <p class="cite-author">Fernando Alonso, piloto de McLaren Honda</p>
                </aside>
                <p>Se refiere el de Oviedo a que en ese período de tiempo, <strong>McLaren debe decidir si cambia al motor Renault o si sigue con el actual contrato con Honda,</strong> que expira en 2021, con lo que <strong>tendría que ir a los tribunales para deshacerlo</strong>. La opción de Renault está <strong>hablada y sólo necesita el visto bueno de Zak Brown</strong> para activarse. </p>
                <p>El sábado, Fernando se descolgó con la fase de que "<strong><a href="http://www.marca.com/motor/formula1/gp-belgica/2017/08/26/59a176ba468aeb03308b46e6.html">sin el actual déficit de potencia, estaríamos primero y segundo</a></strong>. Todos los <strong>progresos vienen del chasis</strong>". Ayer, durante la carrera, cuando los Haas le pasaban como si fuesen Mercedes o Ferrari, sin el DRS abierto ni siquiera, el bicampeón no ocultaba su frustración: "<strong><a href="http://www.marca.com/motor/formula1/gp-belgica/2017/08/27/59a2bb97268e3ecc338b4608.html">Esto es vergonzoso, vergonzoso</a></strong>", reiteraba con ira por la radio. </p>
                <p>No fue el único que se quejó pues<strong> Stoffel Vandoorne</strong>, su compañero, coincidía en el diagnóstico: "<strong>No podía alcanzar a mis rivales, es muy frustrante, porque nos falta muchísima potencia en las rectas</strong>", dijo el belga después de acabar decimocuarto tras Palmer y Kvyat. </p>
                <h3 class="list-header">Alonso y su abandono</h3>
                <p>Para acabar la carrera, <strong><a href="http://www.marca.com/motor/formula1/gp-belgica/2017/08/27/59a2c393268e3e94538b460a.html">Fernando se retiró en la vuelta</a></strong> 25, tras sufrir "una pérdida de potencia". Pero en Honda, en lugar de asumir que ese problema había existido, se limitaron a decir: "<strong><a href="http://www.marca.com/motor/formula1/gp-belgica/2017/08/27/59a2fde922601d5a268b4592.html">No hemos encontrado ningún dato anómalo en el motor de Alonso</a></strong>. Él informó de un problema y decidimos retirarlo", comentaba un portavoz del suministrador japonés al terminar la carrera. <strong>No reconocen una avería en Spa, como contestación a los comentarios de Fernando</strong>. </p>
                <aside class="summary-item">
                    <blockquote class="summary-cite">Yo no tendría dudas para seguir con un piloto, que tiene un gran tirón y es uno de los tres mejores de la parrilla"</blockquote>
                    <p class="cite-author">Martin Brundle, en Sky Sports</p>
                </aside>
                <p>La guerra está abierta y<strong> la pelota está ahora en el tejado de McLaren</strong>, aunque desde Gran Bretaña les llegan algunas sugerencias, como la del Martin Brundle: "Yo no tendría dudas para seguir con un piloto, que además de tener un gran tirón entre los aficionados, es uno de los tres mejores de la parrilla. Si McLaren quiere retener a Alonso, debe cambiar de motor", afirmaba ayer en la retransmisión de Sky Sports. En esta semana, en Monza, podría haber un veredicto.</p>
                <aside class="related-tags">
                    <h4 class="list-header"><span>Temas relacionados</span></h4>
                    <ul class="item-tags">
                        <li><a href="http://www.marca.com/motor/formula1.html" rel="tag">fórmula 1</a></li>
                        <li><a href="http://www.marca.com/motor.html" rel="tag">Motor</a></li>
                        <li><a href="http://www.marca.com/motor/fernando-alonso.html" rel="tag">Fernando Alonso</a></li>
                        <li><a href="http://www.marca.com/motor/formula1/gp-belgica.html" rel="tag">GP Bélgica F1</a></li>
                    </ul>
                </aside>    


                <a href="#ancla_comentarios" class="comments-btn js-comentar-59a3e672268e3e87678b46df">
                    <span class="left">
                        <i class="icon-comments_24x20_a"></i>
                        <strong>67</strong>
                    </span>
                    <span class="right">
                        <strong>Comentar</strong>
                        <i class="icon-forward_8x16_a"></i>
                    </span>
                </a>





                <aside class="ue-c-panel aside-comments right-panel comments-panel no-visible" id="right-panel-59a3e672268e3e87678b46df" data-mobile="true">

                    <div class="ue-c-panel__navigation">
                        <a href="#" class="ue-c-panel__navigation-wrapper">
                            <span class="ue-c-panel__navigation__back-btn"> Atrás </span>
                            <span>Volver a la noticia:</span> 
                                'Honda o Alonso'
                        </a>
                    </div>

                    {{#> comments-block }}
                        {{!-- comments content goes here. --}}
                        {{> includes/ue-comments/ue-comments }}
                    {{/comments-block}}
                </aside>
                




                <div class="row content">
                    <aside class="aside-ad">
                        <div class="content-ad">
                            <div class="ad-item-300">
                                <div id='div-gpt-ad-motor_formula1_gp-belgica_n_rb_59a3e672268e3e87678b46df' class="ad-item">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_rb_59a3e672268e3e87678b46df'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="aside-outbrain">
                        <div class="OUTBRAIN" data-src data-widget-id="AR_3" data-ob-template="ES_Marca"></div>
                        <div class="OUTBRAIN" data-src data-widget-id="AR_4" data-ob-template="ES_Marca"></div>
                        <div class="OUTBRAIN" data-src data-widget-id="AR_5" data-ob-template="ES_Marca"></div>
                        <script type="text/javascript">
                        (function() { if (jQuery && jQuery('script[src*="outbrain.js"]').length === 0) { try { var scriptEl = document.createElement('script');
                                    scriptEl.type = 'text/javascript';
                                    scriptEl.async = 'true';
                                    scriptEl.src = 'http://widgets.outbrain.com/outbrain.js'; var targetEl = document.getElementsByTagName('script')[0];
                                    targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {}; } })();
                        </script>
                    </aside>
                    <aside class="aside-ad">
                        <div class="content-ad">
                            <div class="ad-item-300">
                                <div id='div-gpt-ad-motor_formula1_gp-belgica_n_rc_59a3e672268e3e87678b46df' class="ad-item">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_rc_59a3e672268e3e87678b46df'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="publicidad mod-multipurpose end-fixed">
                        <h3 class="list-header"><span>TE PUEDE INTERESAR</span></h3>
                        <div id='div-gpt-ad-motor_formula1_gp-belgica_n_nata_59a3e672268e3e87678b46df' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_nata_59a3e672268e3e87678b46df'); });
                            </script>
                        </div>
                        <div id='div-gpt-ad-motor_formula1_gp-belgica_n_natb_59a3e672268e3e87678b46df' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_natb_59a3e672268e3e87678b46df'); });
                            </script>
                        </div>
                    </aside>
                </div>
            </article>
            <section class="row content"></section>
            <script type="text/javascript">
            jQuery(function() {
                Comentarios_59a3e672268e3e87678b46df = new ComentariosMobile({ botonesDesplegar: ".js-comentar-59a3e672268e3e87678b46df", id: '59a3e672268e3e87678b46df' }, jQuery);
                if (typeof jQuery.fn.Anchor === 'function') { jQuery('#js-comentar-59a3e672268e3e87678b46df-div').Anchor({}); }
                if (typeof jQuery.fn.ElementoFijo === 'function') { jQuery('#js_59a3e672268e3e87678b46df').find('.js_fixed').ElementoFijo({ elementosAnteriores: ['.site-header'], elementoDesdeFixed: '.content', minWidthFijo: 768 }); }
                if (typeof inicializarComentarios === 'function') { inicializarComentarios(1, '#js_59a3e672268e3e87678b46df'); }
                if (typeof crearLoginListeners === 'function') { crearLoginListeners(); }
                if (typeof jQuery.fn.RedesSociales === 'function') { jQuery('#js_59a3e672268e3e87678b46df').find('.js_socialMedia').RedesSociales({ title: "Honda o Alonso", img: "http://e00-marca.uecdn.es/assets/multimedia/imagenes/2017/08/28/15039131211659.jpg", url: "http://www.marca.com/motor/formula1/gp-belgica/2017/08/28/59a3e672268e3e87678b46df.html", summary: "", viaTwitter: "marca", urlCorreo: 'http://www.marca.com/enviar/formulario_enviar_noticia.html?que_mundo=marca', sufijoAnalitica: '_1' }); }
                if (typeof jQuery.fn.Tab === 'function') { jQuery('#js_59a3e672268e3e87678b46df').find('.js-tabs').Tab(); }
                jQuery('#js_59a3e672268e3e87678b46df').find(".full-video").each(function() { jQuery(this).height(jQuery(this).width() * 9 / 16); });
            });
            </script>
        </div>
        <aside class="content-ad">
            <div class="ad-item-f2">
                <div id='div-gpt-ad-motor_formula1_gp-belgica_n_f2_59a3e672268e3e87678b46df' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_f2_59a3e672268e3e87678b46df'); });
                    </script>
                </div>
            </div>
        </aside>
        <aside class="content-ad">
            <div class="ad-item-f3">
                <div id='div-gpt-ad-motor_formula1_gp-belgica_n_f3_59a3e672268e3e87678b46df' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-motor_formula1_gp-belgica_n_f3_59a3e672268e3e87678b46df'); });
                    </script>
                </div>
            </div>
        </aside>
        