<div class="ue-c-comments-wrap">

	<div class="ue-c-comments__filter">

		<div class="ue-c-comments__sort">
			<label for="sortBy" class="is-hidden-text">Seleccionar filtro</label>
			<select id="sortBy" class="ue-c-select" data-select="filters" required>
				<option value="placeHolder" hidden>Ordenar por...</option>
				<option value="newestComments">Los más recientes</option>
				<option value="oldestComments">Los más antiguos</option>
				<option value="mostValued">Los más valorados</option>
				<option value="mostCommented">Los más comentados</option>
			</select>
		</div>

		<div class="ue-c-comments__type" tabindex="1">
			
			<input role="checkbox" class="ue-c-checkbox" type="checkbox" id="switch" aria-checked="false" tabindex="0" />
			<span class="ue-c-checkbox__switch">Activar</span>
			<label for="switch" class="ue-c-checkbox__label" tabindex="0">Mis conversaciones</label>

		</div>

		
	</div>


	{{!-- {{> includes/ue-comments/ue-comments }} --}}

	<div class="is-visible" data-select-content="newestComments" aria-labelledby="Recientes">
		{{> includes/ue-comments/ue-comments }}
	</div>

	<div class="" data-select-content="oldestComments" aria-labelledby="Antiguos">
		{{> includes/ue-comments/ue-comments-oldest }}
	</div>

	<div class="" data-select-content="mostValued" aria-labelledby="Más Valorados">
		{{> includes/ue-comments/ue-comments-most-valued }}
	</div>

	<div class="" data-select-content="mostCommented" aria-labelledby="Más Comentados">
		{{> includes/ue-comments/ue-comments-most-commented }}
	</div>

	<div class="" data-select-content="myMentions" aria-labelledby="Menciones">
		{{> includes/ue-comments/ue-comments-mentions }}
	</div>


</div>