<div class="ue-c-comments-wrap">

	<div class="ue-c-comments__filter">

		<div class="ue-c-comments__order">
			<select class="ue-c-select" data-select="filters" required>
				<!-- Placeholder option -->
				<option value="placeHolder" hidden>Ordenar por...</option>
				<!-- Normal options -->
				<option value="mostRecents">Los más recientes</option>
				<option value="oldestComments">Los más antiguos</option>
				<option value="mostValued">Los más valorados</option>
				<option value="mostCommented">Los más comentados</option>
			</select>
		</div>

		<div class="ue-c-comments__type">
			<input class="ue-c-checkbox" type="checkbox" id="switch" />
			<span class="ue-c-checkbox__switch">switch</span>
			<label for="switch" class="ue-c-checkbox__label">Mis conversaciones</label>
		</div>

		
	</div>


	{{!-- {{> includes/ue-comments/ue-comments }} --}}

	<div class="ue-c-comments" data-select-content="newestComments">Los más recientes</div>

	<div class="ue-c-comments" data-select-content="oldestComments">Los más antiguos</div>

	<div class="ue-c-comments" data-select-content="mostValued">Los más valorados</div>

	<div class="ue-c-comments" data-select-content="mostCommented">Los más comentados</div>


</div>