<div class="ue-c-comments-wrap">

	<div class="ue-c-comments__filter">

		<div class="ue-c-comments__order">
			<select class="ue-c-select" data-select="filters" required>
				<!-- Placeholder option -->
				<option value="placeHolder" hidden>Ordenar por...</option>
				<!-- Normal options -->
				<option value="newestComments">Los m치s recientes</option>
				<option value="oldestComments">Los m치s antiguos</option>
				<option value="mostValued">Los m치s valorados</option>
				<option value="mostCommented">Los m치s comentados</option>
			</select>
		</div>

		<div class="ue-c-comments__type">
			
			<input role="checkbox" class="ue-c-checkbox" type="checkbox" id="switch" aria-checked="false" />
			<span class="ue-c-checkbox__switch">switch</span><label for="switch" class="ue-c-checkbox__label">Mis conversaciones</label>
		</div>

		
	</div>


	{{!-- {{> includes/ue-comments/ue-comments }} --}}

	<div class="is-visible" data-select-content="newestComments">
		{{> includes/ue-comments/ue-comments }}
	</div>

	<div class="" data-select-content="oldestComments">
		{{> includes/ue-comments/ue-comments-oldest }}
	</div>

	<div class="" data-select-content="mostValued">
		{{> includes/ue-comments/ue-comments-most-valued }}
	</div>

	<div class="" data-select-content="mostCommented">
		{{> includes/ue-comments/ue-comments-most-commented }}
	</div>

	<div class="" data-select-content="myMentions">
		{{> includes/ue-comments/ue-comments-mentions }}
	</div>


</div>