<nav class="ue-c-comments_nav">
    <a href="#">
        <i class="icon-arrow-previous"></i>
        <span>Volver a la noticia :</span> 
        'Honda o Alonso'
    </a>
</nav>
<div class="ue-c-comments">

    <form></form>

    <nav class="ue-c-comments_tabs">
        <h4>67 Comentarios</h4>
    </nav>

    <div class="ue-c-comments_list js-comments-list" id="">

    </div>

</div>




{{!-- 

                    <div class="fixed-button">
                        <a href="#" class="boton-volver-59a3e672268e3e87678b46df">
                            <i class="icon-arrow-previous"></i>
                            <span>Volver a la noticia :</span> 'Honda o Alonso'
                        </a>
                        <i class="ellipsis"></i>
                    </div>

                    <div id="comentarios-59a3e672268e3e87678b46df" class="no-visible comentarios comentarios-retro">
                        <div id="comentarios_interior">
                            <form name="formulario_paginar_comentarios" id="formulario_paginar_comentarios" method="post">
                                <input type="hidden" name="noticia" value="3198349" />
                                <input type="hidden" name="portal" value="5" />
                                <input type="hidden" name="pagina" value="1" />
                            </form>
                            <div id="listado_comentarios" class="js-comments-list">
                                <div class="comentarios_pestanas">
                                    <h4><strong>67</strong> comentarios</h4>
                                    <ul class="not_logged">
                                        <li class="seleccionado"><a href="javascript:void(0);" class="msg_all" onclick="javascript: pasarPaginaComentarios(1, this);" title="Ver todos los mensajes">Todos</a></li>
                                        <li><a href="javascript:void(0);" onclick="javascript:pasarPaginaComentariosMejorValorados(1,this); DOMLoaded2();return false;" class="msg_best" title="Ver los mensajes mejor valorados">Mejor valorados</a></li>
                                        <li class="msg_mention" title="Entra con tu usuario para ver las menciones que has recibido">Te mencionan</li>
                                    </ul>
                                </div>
                                <div class="listado_principal_comentarios">
                                    <!-- CAMBIOS -->
                                    <div class="comentario" style="z-index: 20;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                            <span class="nombre_usuario">krlospeka</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#73</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:24:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:24</span>
                                        </time>
                                        <p>O este otro si te vale mejor FDmGSZdaBII</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53299025" id="denuncia_comentario_53299025">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53299025" id="valoracion_comentario_53299025">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="krlospeka">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 18;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                            <span class="nombre_usuario">Ciudadperdida</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#72</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:24:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:24</span>
                                        </time>
                                        <p>Situación complicada. Fernando no quiere a Honda, por lo que probablemente obtenga un motor Renault si firma por cualquier equipo. Y a Renault le quedan unos añitos para evolucionar. ¿Tendrá Fernando paciencia estos dos o tres posibles años? McLaren, pues yo continuaba con Honda, ya que, aunque las cosas no están saliendo como se esperaba, quizás pronto den con la tecla, y están poniendo muchísimo empeño. Si McLaren cambia a Renault tardarán un tiempo para mejorar y volvemos a lo dicho anteriormente. Y Honda, quizás dé un salto de calidad en otro equipo, lo que ya sería el colmo para Fernando (caso Ferrari). Además, parece que se está desvalorizando ser bicampeón del mundo. Incluso me parece que Fernando ha perdido un poco el rumbo en este sentido y ha podido olvidar lo difícil que es lo que ya ha conseguido. Conseguir otro título en 5 años ya es muchísimo. Tricampeón es una pasada.</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53299022" id="denuncia_comentario_53299022">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53299022" id="valoracion_comentario_53299022">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="Ciudadperdida">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 16;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/social/ugc/avatars/003/777/xlarge_3777935.png" />
                                            <span class="nombre_usuario">mondoplus</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#71</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:24:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:24</span>
                                        </time>
                                        <p>@krlospeka <a rel="nofollow" onmouseover="document.getElementById('comentarios_lectores_referencia_71_55_0').style.display='block'" onmouseout="document.getElementById('comentarios_lectores_referencia_71_55_0').style.display='none';" onclick="document.getElementById('comentarios_lectores_referencia_71_55_0').style.display='none';" class="ancla_referencia">#55<span class="referencia" id="comentarios_lectores_referencia_71_55_0" style="display:none">@ Fitsnake hasta tú, sabes que la decisión con o sin Alonso es clara: el prestigio y la categoría de McLaren no lo puede echar por tierra Honda, como lleva haciendo 3 años... Han hecho el ridículo más miserable y Honda ni reacciona, ni se deja asesorar, ni da con la tecla mecánica ni electrónica.... ni se le espera.... La decisión empresarial lógica es cambiar de motorizador, renueven o no a tu paisano</span></a> Honda es tan lista que quiso pasarse por el forro con el Talla Zero lo que los alemanes, franceses e italianos llevaban años haciendo. Y al toparse con la realidad el año pasado, vio el cielo abierto cuando sus amigos de Liberty compraron la F1 y quitaron los tokens. Pero ni con esas porque ahora los listos quieren hacer creer al personal que van a estar a la altura de los otros motorizadores en un año. No se que m...da fuman en Japon, pero debe de ser muy potente. Si el año que viene siguen Mclaren-Honda, sera como en el 2016, equipo de mitad de tabla si dan con la tecla.</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53299019" id="denuncia_comentario_53299019">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53299019" id="valoracion_comentario_53299019">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="mondoplus">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 14;">
                                        <p class="nombre">
                                            <img src="//e04-marca.uecdn.es/social/ugc/avatars/005/251/xlarge_5251422.png" />
                                            <span class="nombre_usuario">Fitsnake</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#70</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:23:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:23</span>
                                        </time>
                                        <p><a rel="nofollow" onmouseover="document.getElementById('comentarios_lectores_referencia_70_52_0').style.display='block'" onmouseout="document.getElementById('comentarios_lectores_referencia_70_52_0').style.display='none';" onclick="document.getElementById('comentarios_lectores_referencia_70_52_0').style.display='none';" class="ancla_referencia">#52<span class="referencia" id="comentarios_lectores_referencia_70_52_0" style="display:none"># 23 @ Fitsnake Eso de que el mundo no tiene ojos salvo para los dos punteros(actualmente), no es ási. De hecho los de "Sky" que nunca han sido pro-Alonso, están más atentos a lo que Alonso dice por radio, en el paddock, etc. que a la misma carrera ;)</span></a> Y en Hungría hablarían sobre todo de su compañero Di Resta, deduzco... Hablan de Alonso porque es un bicampeón en una situación de extrema inanición deportiva, con un guión que no habría firmado ni el más sádico de los anti. Pero hablan sobre todo de McLaren, que es la firma ingles por antonomasia. Y lo otro es una frase hecha. En Telegraaf estarán hablando de la huelga de motores para Max. Pero el foco de atención mayoritario, global, está en esa lucha entre los dos grandes dominadores de la última década, añadiendo a ello el resurgir de Ferrari. Y la radio de Alonso... como la de Hamilton o Kimi, son clásicos de ayer y de hoy.</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53299017" id="denuncia_comentario_53299017">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53299017" id="valoracion_comentario_53299017">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="Fitsnake">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 12;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/social/ugc/avatars/003/280/xlarge_3280156.jpg" />
                                            <span class="nombre_usuario">linfocito78</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#69</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:23:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:23</span>
                                        </time>
                                        <p>Si Mclaren elige el dinero de Honda, al prestigio,entonces que sigan asi</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53299016" id="denuncia_comentario_53299016">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53299016" id="valoracion_comentario_53299016">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="linfocito78">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 10;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                            <span class="nombre_usuario">krlospeka</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#68</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:21:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:21</span>
                                        </time>
                                        <p>@BuddyB perfectisimamente legal... como se ve en el siguiente video con las luces amarillas en el salpicadero de Vettel. Echa un vistazo a este vídeo o a cualquier otro de youtube.... whNRsYXu6k4</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53298999" id="denuncia_comentario_53298999">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53298999" id="valoracion_comentario_53298999">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="krlospeka">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 8;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/social/ugc/avatars/004/651/xlarge_4651151.png" />
                                            <span class="nombre_usuario">athletik_INDEPENDENTZIA</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#67</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:21:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:21</span>
                                        </time>
                                        <p>@DONMILINKO <a rel="nofollow" onmouseover="document.getElementById('comentarios_lectores_referencia_67_43_0').style.display='block'" onmouseout="document.getElementById('comentarios_lectores_referencia_67_43_0').style.display='none';" onclick="document.getElementById('comentarios_lectores_referencia_67_43_0').style.display='none';" class="ancla_referencia">#43<span class="referencia" id="comentarios_lectores_referencia_67_43_0" style="display:none">@ athletik_INDEPENDENTZIA # 38 yo lo que no me explico es cómo no hay forma de que mclaren rompa el contrato con Honda. A nivel contractual yo entiendo que ante un cumplimiento tan irregular como supone el pésimo rendimiento del motor, no hay vía legal para deshacerlo. Hay daños con esto para mclrane de manera que hay justificación para resolver el contrato.</span></a> Nadie pensaba que daria este rendimiento, estate seguro de que se cumplira el contrato (salvo sorpresa). Es verdad de que mclaren a hecho el peor ridiculo de su historia estos 3 años, pero tambien te digo que si alonso quiere ganar solo se puede quedar en mclaren-honda y rezar para que hagan un super motor, por que los tres equipos dominantes no lo quieren y irse a willians por ejemplo seria mas de lo mismo ;)</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53298995" id="denuncia_comentario_53298995">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53298995" id="valoracion_comentario_53298995">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="athletik_INDEPENDENTZIA">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 6;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                            <span class="nombre_usuario">krlospeka</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#66</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:18:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:18</span>
                                        </time>
                                        <p>@Fitsnake tú no reclamaste porque tu paisano a lo mejor no te pagó un culín de sidra o no te firmó una gorra...</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53298979" id="denuncia_comentario_53298979">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53298979" id="valoracion_comentario_53298979">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="krlospeka">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 4;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                            <span class="nombre_usuario">krlospeka</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#64</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:17:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:17</span>
                                        </time>
                                        <p>@Fitsnake no hay peor ciego que el que no quiere ver.</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53298960" id="denuncia_comentario_53298960">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53298960" id="valoracion_comentario_53298960">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="krlospeka">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comentario" style="z-index: 2;">
                                        <p class="nombre">
                                            <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                            <span class="nombre_usuario">DONMILINKO</span>
                                        </p>
                                        <strong class="numero_comentario"><a title="Responder citando mensaje" href="javascript:void(0);">#61</a></strong>
                                        <time content="2017-08-28" itemprop="dateCreated" datetime="2017-08-28T13:15:00+01:00">
                                            <span class="fecha">28/08/2017</span>
                                            <span class="hora">13:15</span>
                                        </time>
                                        <p>@jrb3000 <a rel="nofollow" onmouseover="document.getElementById('comentarios_lectores_referencia_61_45_0').style.display='block'" onmouseout="document.getElementById('comentarios_lectores_referencia_61_45_0').style.display='none';" onclick="document.getElementById('comentarios_lectores_referencia_61_45_0').style.display='none';" class="ancla_referencia">#45<span class="referencia" id="comentarios_lectores_referencia_61_45_0" style="display:none">@ ComoNoTeVoyAQuerer12 # 35, de acuerdo contigo. Honda sabe hacer motores y solo necesitan tiempo (tal vez estén a pto de consiguirlo el próximo año). El problema es que cuando tienes a una persona constantemente atacando...No quiero imaginar la presión y, a la vez, la frustración de los encargados de ese motor. Pero al mismo entiendo a Alonso. El tiempo corre en contra de él y Vettel y Hamilton siguen ganando. Su frustración debe ser mayor que el valor tan alto que dice que tiene.</span></a> Y lo que es peor, las reglas para el diseño del motor, van a cambiar de nuevo en breve. Siendo lógicos ¿qué dirías tú que va a ocurrir entonces? Insisto, no hay el menor atisbo para creer que Honda el año que viene vaya a hacerlo ni siquiera BIEN. Otra cosa es que el pobre alonso no tiene suerte, y es capaz de irse, y ocurrir el milagro. Pero siendo racionales, pinta muy mal para honda</p>
                                        <div class="interact">
                                            <div class="bloque_izquierda">
                                                <div class="js-comments-denounce-commet-53298944" id="denuncia_comentario_53298944">
                                                    <span class="denunciar">Denunciar</span> </div>
                                                <div class="js-comments-rate-commet-53298944" id="valoracion_comentario_53298944">
                                                    <p>
                                                        <span><strong>Valorar:&nbsp;</strong></span>
                                                        <a class="voto_positivo voto" title="Positivo" href="javascript:void(0);">Positivo</a>
                                                        <a class="voto_negativo" title="Negativo" href="javascript:void(0);">Negativo</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bloque_derecha">
                                                <a class="comenta" title="Responder al usuario" href="javascript:void(0);" data="DONMILINKO">Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="paginacion estirar">
                                    <div class="nav_paginacion-button">
                                        <button class="paginador-button" onclick="pasarPaginaComentarios(2,this,'append'); DOMLoaded2();">VER ANTERIORES </button>
                                        <i class="img-flecha-abajo"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comentar">
                                <div id="login">
                                    <div class="js-cajaComentario no-visible">
                                        <div id="cajaComentario">
                                            <div id="izquierda">
                                                <div id="enviarComentario">
                                                    <form name="formulario_comentar_comentarios" id="formulario_comentar_comentarios" method="post">
                                                        <input type="hidden" name="opcion" value="1" />
                                                        <input type="hidden" name="noticia" value="3198349" />
                                                        <input type="hidden" name="portal" value="5" />
                                                        <p class="avisos">
                                                            <input type="checkbox" id="formulario_comentar_comentarios_reglas" value="S" name="reglas" /><a href="http://www.marca.com/corporativo/aviso-legal.html" class="reglas" target="_blank">Acepto las reglas de participación</a></p>
                                                        <textarea rows="1" name="texto" class="js-comments-comment-txt" id="formulario_comentar_comentarios_texto" onfocus="if(this.value=='Déjanos tu comentario') value='';" onblur="if(this.value=='') value='Déjanos tu comentario';">Déjanos tu comentario</textarea>
                                                        <input type="button" onclick="javascript:enviarComentario(this)" class="boton" id="enviar" value="Publicar" name="enviar" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-cajaLogin ">
                                        <div id="validacion">
                                            <button class="registro-login-button button js-loginClick" ue-attr-csp="673">Iniciar sesión para participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
           