
    <div class="ue-c-comments">
        <div class="ue-c-comments__title">
            <span class="ue-c-comments__count">125</span> Comentarios
        </div> 
        <div class="ue-c-comments__thread">
            <div class="ue-c-comment">
                <header class="ue-c-comment__header"> 
                    <img class="ue-c-comment__avatar" width="50" alt="Avatar de usuario" src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                    <span class="ue-c-comment__meta">    
                        <span class="ue-c-comment__name">krlospeka</span>
                        <time datetime="2017-08-28T13:24Z">
                            <span class="ue-c-comment__date">28-08-2017</span>
                            <span class="ue-c-comment__time">13:24</span>
                        </time> 
                    </span>
                    <span class="ue-c-comment__number">
                        <a title="Número de comentario" href="#">#73</a>
                    </span>
                </header>
                <div class="ue-c-comment__discussion has-mention">
                    <span class="ue-c-comment__mention">
                        <span class="ue-c-comment__mention__name">@caracartucho</span>
                        <a class="ue-c-comment__mention__number" href="">
                            #126 
                        </a> 
                        <span data-mention class="ue-c-comment__mention__text is-hidden">
                            <button class="ue-c-button ue-c-comment__mention--close" type="button" data-mention-close data-mention-primary-focus aria-label="cerrar mención">
                                <span class="is-hidden-text">Cerrar mención</span>
                            </button>
                            Que se salgan los independentistas catalanes con la suya es más fácil que te publiquen un comentario en "El Mundo"...
                        </span>
                    </span>
                    A veces tardan mucho, y cuando los publican ya han quitado la noticia... A mí no me gusta este sistema de comentarios... Me gustaría poder ver en una página enlaces a todos mis comentarios y las respuestas a los mismos, ser notificado de las respuestas, y que la navegación por los comentarios fuera mucho más fluida y no se tardara una eternidad en llegar a los primeros. La verdad es que los competidores suelen tener mejores sistemas, lo que me joroba bastante porque las discusiones de El Mundo suelen ser muy interesantes :(
                </div>
                <ul class="ue-c-comment__tools">
                    <li class="ue-c-comment__report">
                        <button class="ue-c-button" title="Denunciar comentario">
                            <span class="is-hidden-text">Denunciar comentario</span>
                        </button>
                        <span class="ue-c-comment__report-message is-hidden">
                            Gracias. Revisaremos tu aviso de mal comportamiento.
                        </span>
                    </li>
                    <li class="ue-c-comment__vote is-positive">
                        <button class="ue-c-button" data-tooltip="Votar a favor">
                            <span class="is-hidden-text">Votar a favor</span>
                            <span class="ue-c-comment__votes" aria-label="Votos a favor">2</span>
                        </button>
                    </li>
                    <li class="ue-c-comment__vote is-negative">
                        <button class="ue-c-button" data-tooltip="Votar en contra">
                            <span class="is-hidden-text">Votar en contra</span>
                            <span class="ue-c-comment__votes" aria-label="Votos en contra">5</span>
                        </button>
                    </li>
                    <li class="ue-c-comment__reply">
                        <button class="ue-c-button">Responder al comentario</button>
                    </li>
                </ul>
            </div>
            <div class="ue-c-comments__thread-pagination">
                <button class="ue-c-button">VER ANTERIORES</button>
            </div>
        </div>

        {{#> comments-form-block }}
            {{!-- comments form content goes here. --}}
            {{> includes/ue-comments-form/ue-comments-form }}
        {{/comments-form-block}}

    </div>     