<div class="ue-c-comments-wrap">

	<div class="ue-c-comments__filter">

		<div class="ue-c-comments__order">
			<select class="ue-c-select" required>
				<!-- Placeholder option -->
				<option value="" hidden>Ordenar por...</option>
				<!-- Normal options -->
				<option value="1">Los m치s recientes</option>
				<option value="2">Los m치s antiguos</option>
				<option value="3">Los m치s valorados</option>
				<option value="4">Los m치s comentados</option>
			</select>
		</div>

		<div class="ue-c-comments__type">
			<input class="ue-c-checkbox" type="checkbox" id="switch" />
			<span class="ue-c-checkbox__switch">switch</span>
			<label for="switch" class="ue-c-checkbox__label">Mis conversaciones</label>
			{{!-- <input class="ue-c-checkbox" type="checkbox" id="switch" />
			<label class="ue-c-checkbox__switch" for="switch">
				<span class="ue-c-checkbox__text">Mis conversaciones</span>
			</label> --}}
		</div>

		
	</div>

	{{> includes/ue-comments/ue-comments }}


</div>