{{!-- includes/elmundo/body-scripts.hbs --}}
	<script>
	    var gptadslots = [],
	        googletag = googletag || {};
	    googletag.cmd = googletag.cmd || []
    </script>
    <script src="//active.cache.el-mundo.net/js/1475575201_elmundo.js"></script>
   
   
    <script type="text/javascript" language="javascript" src="http://estaticos.cookies.unidadeditorial.es/js/policy.js" async></script>
    
    <script>
    	//var nav_continua_active = true;
    </script>

    <iframe src="https://5214106.fls.doubleclick.net/activityi;src=5214106;type=corp;cat=regis0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1503582340?" width="1" height="1" frameborder="0" style="display:none"></iframe>

    <script type="text/javascript">
	    var sectionMainMenuActive = 'default';
	    var uniqueCtId = '599eae6546163fc1168b460f';
	    var activeUeNavigation = true;
    </script>

    <script type="text/javascript">
   	 var uePages = [{ "url": "http://www.elmundo.es/cataluna/2017/08/24/599eae6546163fc1168b460f.html", "titulo": "El Govern, sobre el aviso &quot;informal&quot; de la Policía belga: &quot;Nunca nos constó que Es Satty fuera peligroso&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599e9f3a46163f06208b4625.html", "titulo": "El juez Andreu decreta libertad provisional para Salh el Karib, el dueño del locutorio de Ripoll" }, { "url": "http://www.elmundo.es/espana/2017/08/24/599eaa51468aeb316a8b4613.html", "titulo": "Uno de los terroristas que amenazan a España, hijo de una española en Siria" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ddb78e2704e5b3c8b4610.html", "titulo": "Últimas horas  en la &#039;guarida de los lobos&#039;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599dec79e2704ea87f8b460b.html", "titulo": "El &#039;héroe de Cambrils&#039;, instruido en Melilla" }, { "url": "http://www.elmundo.es/madrid/2017/08/24/599ebe06e5fdeade658b4614.html", "titulo": "Ada Colau dice que las declaraciones del alcalde de Alcorcón son de una &quot;bajeza extrema&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d6e11e2704e89778b45b8.html", "titulo": "Los Mossos se revuelven ante las críticas" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599c8563e2704ec9518b4618.html", "titulo": "Trapero, un policía &quot;pura sangre&quot; en el huracán" }, { "url": "http://www.elmundo.es/espana/2017/08/24/599df08d22601dfb638b4613.html", "titulo": "En el refugio del yihadista de La Rambla" }, { "url": "http://www.elmundo.es/espana/2017/08/23/599dc953e5fdea50398b456f.html", "titulo": "El Estado Islámico celebra en un vídeo el atentado de Barcelona y pide &quot;vengar la matanza de la Inquisición&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d6e97468aeb871f8b457c.html", "titulo": "El padre del niño muerto de Rubí a los Mossos: &quot;Sois la mejor policía del mundo&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d64eb46163fc1168b4599.html", "titulo": "Barcelona estudia ahora poner bolardos en vías concurridas" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599ca0a246163f254b8b456e.html", "titulo": "La misteriosa habitación de hotel para dos que reservó... ¿Younes Abouyaaqoub?" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ed515e2704ed9728b457e.html", "titulo": "Barcelona concentrará los altares de La Rambla en un punto pasada la manifestación" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ed3ace2704eaa138b4596.html", "titulo": "Trias rechaza convertir La Rambla en peatonal y ratifica poner barreras móviles" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ecb77e2704e6b038b45a5.html", "titulo": "Aparecen pintadas contra la comunidad musulmana en Figueres" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ec33eca4741e6248b45a5.html", "titulo": "Renfe, Metro y Tram reforzarán sus servicios para la manifestación del sábado" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ebeb5ca4741715b8b4597.html", "titulo": "PDeCAT, a favor de crear un registro de imames para poner fin al &quot;nivel de descontrol&quot; actual" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599eb2ce46163f963b8b4637.html", "titulo": "El Parlament alega al TC que el recurso contra la reforma del reglamento es &quot;claramente preventivo&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599eb0c646163ff3298b4648.html", "titulo": "Dos detenidos por tener una plantación industrial de marihuana en Badalona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ea9de46163fcd5b8b45fc.html", "titulo": "El gasto medio de los catalanes en equipamiento escolar será de 209 euros" }, { "url": "http://www.elmundo.es/cataluna/2017/08/24/599ddecfe2704e8b7d8b45f9.html", "titulo": "Junts pel Sí y la CUP mantienen el referéndum" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599defbfe2704e74438b462a.html", "titulo": "Colau revela que un urbano avisó del ataque gritando &quot;¡ataque terrorista!&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599dac2fe2704ef8238b45f3.html", "titulo": "Los Mossos investigan si el terrorista de La Rambla se refugió en el piso de Vilafranca" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599da17c46163fcc408b45ac.html", "titulo": "El padre de dos yihadistas y del dueño del Audi usado en Cambrils: &quot;No sabíamos nada&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d9ca0ca474139338b4610.html", "titulo": "El Festival de Cap Roig celebra su récord de asistencia con 46.316 espectadores" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d86e2ca47416f578b45f1.html", "titulo": "Cuatro museos de Barcelona cierran y tres tienen afectaciones parciales por la huelga" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d73b8ca4741414b8b45d2.html", "titulo": "Barcelona hará un gran homenaje a los servicios de seguridad y emergencia" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d6695268e3e2c378b4602.html", "titulo": "La Generalitat pide a la Casa Real la retirada de fotos de los niños heridos en sus redes sociales" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d65e6e2704ec03d8b45d5.html", "titulo": "Policía, Guardia Civil y Mossos aseguran que no fueron preguntados por Bélgica sobre el imam" }, { "url": "http://www.elmundo.es/cataluna/2017/08/20/5998dabe46163fe31b8b45c1.html", "titulo": "La célula terrorista que causó los atentados en Barcelona y Cambrils" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d4edb46163ff3298b45ad.html", "titulo": "El PDeCAT anuncia que romperá con la CUP a partir del 1 de octubre" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d440046163f113c8b4588.html", "titulo": "La Generalitat asegura que se compartió toda la información entre Mossos, Guardia Civil y Policía Nacional" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599d27be468aeb4d248b4570.html", "titulo": "Los Mossos terminan de registrar de madrugada un piso de Vilafranca y un locutorio de Ripoll" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599c986ae2704ec0628b4636.html", "titulo": "Interior investiga si los yihadistas fueron a París a verse con un líder del IS" }, { "url": "http://www.elmundo.es/cataluna/2017/08/23/599c93b0e2704e257b8b4623.html", "titulo": "Brotes de islamofobia en Ripoll: &quot;Asesinos, idos a vuestro país&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c6f09468aeb10418b4601.html", "titulo": "Detenido en Marruecos un butanero vecino de Youness Abouyaaqoub en Ripoll" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c71c2e2704edd478b463c.html", "titulo": "Cs, PSC y PP piden condecorar también a la Guardia Civil y la Policía Nacional" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c3b4e46163f943c8b45d8.html", "titulo": "Fomento instala bolardos frente a la estación de Sants pese a la oposición del Ayuntamiento de Barcelona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c2741e2704ea15f8b461c.html", "titulo": "Sáenz de Santamaría: &quot;Lo de ayer fue una buena noticia, y fue posible porque todos trabajamos unidos&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c1a9e268e3e98468b46b7.html", "titulo": "El Parlament concede la medalla de honor a Mossos, SEM y policías locales por su actuación en los atentados" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c167f46163f7e378b45bc.html", "titulo": "Colau dice que el turismo no se ha resentido tras el atentado en Barcelona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c06dde5fdea79738b459e.html", "titulo": "Carta de una educadora de Ripoll: &quot;Eran niños como todos, ¿qué estamos haciendo mal?&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599c068be2704ec9518b45c3.html", "titulo": "La CUP dice que Rajoy y el Rey son &quot;indirectamente responsables&quot; de los atentados" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599bf64ce2704ef2658b45d3.html", "titulo": "El ministro de Interior de Francia revela que Younes  Abauyaaqoub estuvo en París" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599b4adc468aeba84a8b45b1.html", "titulo": "La familia de Pau Pérez: &quot;El reconocimiento como víctima alivia&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599b4f68468aeb71438b4599.html", "titulo": "Un vecino de los yihadistas de Ripoll: &quot;Creía que se juntaban para fumar porros&quot;" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599b3156e2704e8c518b45a8.html", "titulo": "Un &#039;crowdfunding&#039; para sufragar el funeral de Jared" }, { "url": "http://www.elmundo.es/cataluna/2017/08/22/599b3b1ce2704e977a8b45a5.html", "titulo": "Policías, personal sanitario y comerciantes encabezarán la manifestación de Barcelona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599b2c11e2704edd478b45b3.html", "titulo": "Los musulmanes piden en Barcelona ayuda para impedir que los jóvenes caigan en manos del IS" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599af1c046163faa158b45eb.html", "titulo": "La ayuda de una mujer permite cazar al yihadista de La Rambla" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599a8830e5fdea921e8b4576.html", "titulo": "Los Mossos confirman que el imam de Ripoll murió mientras manipulaba explosivos" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599ade81e2704ede478b4576.html", "titulo": "El Mayor de los Mossos califica de &quot;juego sucio&quot; decir que se tardó en vincular Alcanar con el atentado" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599abea3268e3e02628b456f.html", "titulo": "El Hospital de Mataró, intervenido y con más déficit" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599ab97f268e3e71658b4620.html", "titulo": "La Diputación reclama a su vicepresidente condenado la factura de su defensa" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599a9380e2704e86638c0916.html", "titulo": "Una corriente de la CUP ve al Rey &quot;culpable del ataque&quot; y llama a protestar contra él" }, { "url": "http://www.elmundo.es/cataluna/2017/08/21/599aae44268e3e71658b4613.html", "titulo": "Los Mossos detienen a un hombre en Girona por un falso aviso de bomba en dos autobuses" }, { "url": "http://www.elmundo.es/cataluna/2017/08/17/5995fc9522601d9f258b460e.html", "titulo": "Las víctimas de los atentados de Barcelona y Cambrils" }, { "url": "http://www.elmundo.es/cataluna/2017/08/20/5999f3cbe2704e57728b45e7.html", "titulo": "Puigdemont califica de &quot;muy lamentable&quot; el veto de la CUP al Rey en la manifestación del sábado" }, { "url": "http://www.elmundo.es/cataluna/2017/08/20/5999718ae2704ed9698b459d.html", "titulo": "La célula pretendía atentar con explosivos el mismo jueves en Barcelona" }, { "url": "http://www.elmundo.es/cataluna/2017/08/20/59997812ca474144398b45f0.html", "titulo": "Harry Athwal, el turista británico que no quiso dejar morir solo al niño Julian en el suelo de La Rambla" }, { "url": "http://www.elmundo.es/cataluna/2017/08/20/59993e4be2704e004d8b4581.html", "titulo": "Sigue la actualidad de los atentados de Barcelona: los 14 muertos estarán identificados el lunes" }];
    </script>

    <script type="text/javascript">
    	var IsAPSEnabled = true;

    	var data = { "networkId": "99071977", "divId": "div-gpt-ad-cataluna_n", "customTargeting": {}, "adSlots": [{ "adUnit": "mun/cataluna/n", "customTargeting": { "p": ["f"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [728, 90],
                [728, 250],
                [970, 90],
                [970, 250],
                [980, 90],
                [980, 180],
                [980, 200],
                [980, 250],
                [990, 90],
                [990, 200],
                [990, 250],
                [1, 1]
            ], "customTargeting": { "p": ["m"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [300, 250],
                [300, 300],
                [300, 600],
                [1, 1]
            ], "customTargeting": { "p": ["r"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [300, 250],
                [300, 300],
                [1, 1]
            ], "customTargeting": { "p": ["rb"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [120, 600],
                [160, 600],
                [120, 1000],
                [160, 1000],
                [1, 1]
            ], "customTargeting": { "p": ["si"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [120, 600],
                [160, 600],
                [120, 1001],
                [160, 1001],
                [1, 1]
            ], "customTargeting": { "p": ["sd"] } }, { "adUnit": "mun/cataluna/n", "customTargeting": { "p": ["f2"] } }, { "adUnit": "mun/cataluna/n", "customTargeting": { "p": ["f3"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [300, 100],
                [1, 1]
            ], "customTargeting": { "p": ["b300x100"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [300, 100],
                [1, 1]
            ], "customTargeting": { "p": ["nata"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [300, 100],
                [1, 1]
            ], "customTargeting": { "p": ["natb"] } }, { "adUnit": "mun/cataluna/n", "sizes": [
                [300, 250],
                [300, 300],
                [1, 1]
            ], "customTargeting": { "p": ["rc"] } }] };
    	googletag.cmd.push(function() {
	        data.customTargeting.t = ['cataluna-home'];
	        data.customTargeting.tag = ['estado-islamico,tarragona,comunicacion,atentado-en-barcelona'];
	        data.customTargeting.referer = ['home'];
	        data.customTargeting.ueseg = [''];
	        data.customTargeting.ueid = ['2CA07D0B8531467F-4000012AA0003D6E'];


        window["ueDFPData"] = data;

        function kruxretrieve(n) {
            var m, k = 'kxunidad_' + n;
            if (window.localStorage) {
                return window.localStorage[k] || '';
            } else if (navigator.cookieEnabled) {
                m = document.cookie.match(k + '=([^;]*)');
                return (m && unescape(m[1])) || '';
            } else {
                return '';
            }
        }

        data.customTargeting.kuid = 'NoDefinido';
        data.customTargeting.ksegs = 'NoDefinido';
        var kuser = kruxretrieve('user');
        if (kuser) {
            data.customTargeting.kuid = kuser;
        }
        var ksegments = kruxretrieve('segs');
        if (ksegments) {
            data.customTargeting.ksegs = ksegments.split(',');
        }

        data.adSlots.forEach(function(adSlot, i) {
            var slotIndex = i + 1;
            var adUnit = adSlot.adUnit ? adSlot.adUnit : data.adUnit;
            adUnit = '/' + data.networkId + '/' + adUnit;
            var divId = data.divId + '_' + adSlot.customTargeting.p.join('_');

            divId += '_' + '599eae6546163fc1168b460f'

            if (adSlot.sizes) {
                gptadslots[slotIndex] = googletag.defineSlot(adUnit, adSlot.sizes, divId);
            } else {
                gptadslots[slotIndex] = googletag.defineOutOfPageSlot(adUnit, divId);
            }

            for (var key in adSlot.customTargeting) {
                if (adSlot.customTargeting.hasOwnProperty(key)) {
                    gptadslots[slotIndex].setTargeting(key, adSlot.customTargeting[key]);
                }
            }
            gptadslots[slotIndex].addService(googletag.pubads());
        });

        if ((typeof DisableenableSingleRequest === 'undefined') || !DisableenableSingleRequest) {
            googletag.pubads().enableSingleRequest();
        }

        for (var key in data.customTargeting) {
            if (data.customTargeting.hasOwnProperty(key)) {
                googletag.pubads().setTargeting(key, data.customTargeting[key]);
            }
        }

        googletag.pubads().addEventListener('slotRenderEnded', function(event) {
            var count = 0;
            var interval = setInterval(function() {
                count++;
                if (event && event.slot) {
                    jQuery(window).trigger('slotRendered', { "slotId": event.slot.getSlotElementId(), "intervalId": interval });
                    var container = jQuery("#" + event.slot.getSlotElementId());
                    container.attr("style", "height:" + container.height() + "px;");
                }
                if (count > 9) {
                    clearInterval(interval);
                }
            }, 500);
        });

        googletag.pubads().enableAsyncRendering();
        if (((typeof gptIsDisableInitialLoad !== 'undefined') && gptIsDisableInitialLoad) || (typeof IsAPSEnabled !== 'undefined' && IsAPSEnabled)) {
            googletag.pubads().disableInitialLoad();
        }

        if (typeof pbjs !== 'undefined') {
            pbjs.que.push(function() {
                pbjs.setTargetingForGPTAsync();
            });
        }
        googletag.enableServices();
    });
    if (typeof IsAPSEnabled !== 'undefined' && IsAPSEnabled) {

        apstag.init({
            pubID: '3537',
            adServer: 'googletag',
            bidTimeout: 1e3
        });

        var aps_data = {};
        aps_data.slots = [];

        data.adSlots.forEach(function(adSlot, i) {
            var slotIndex = i + 1;
            var adUnit = adSlot.adUnit ? adSlot.adUnit : data.adUnit;
            adUnit = '/' + data.networkId + '/' + adUnit;
            var divId = data.divId + '_' + adSlot.customTargeting.p.join('_');

            divId += '_' + '599eae6546163fc1168b460f'

            if (adSlot.sizes) {
                //gptadslots[slotIndex] = googletag.defineSlot(adUnit, adSlot.sizes, divId);
                var t = adSlot.sizes.filter(function(size) {
                    return (size[0] !== 1) && (size[1] !== 1);
                });
                aps_data.slots.push({ slotID: divId, slotName: adUnit, sizes: t });
            } else {
                //gptadslots[slotIndex] = googletag.defineOutOfPageSlot(adUnit, divId);
            }

        });

        apstag.fetchBids(aps_data, function(bids) {
            googletag.cmd.push(function() {
                apstag.setDisplayBids();
                googletag.pubads().refresh();
            });
        });
    }
    </script>

    <div id='div-gpt-ad-cataluna_n_f_599eae6546163fc1168b460f' class="publicidad">
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_f_599eae6546163fc1168b460f'); });
        </script>
    </div>

    <div id="fb-root"></div>

    <script>
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5&&appId=279395918757488&status=true&cookie=true";
        fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    </script>