{{!-- includes/elmundo/main.hbs --}}

        <div class="container">
            <script>
            var ueDataPage = { rootSection: "default", sectionPrettyName: "Cataluña", portal: "elmundo", ct: "n", model: "cataluna-home", contentId: '599eae6546163fc1168b460f', breadcrumb: '<ul class="tab-breadcrumb js-containerbreadcrumb"><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home" itemref="bread-1" id="bread-0"><a itemprop="url" title="Inicio" href="http://www.elmundo.es"><span itemprop="title">Inicio</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="first-level" itemref="bread-2" id="bread-1"><a itemprop="url" title="España" href="http://www.elmundo.es/espana.html"><span itemprop="title">España</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="second-level"  id="bread-2"><a itemprop="url" title="Cataluña" href="http://www.elmundo.es/elmundo/barcelona.html"><span itemprop="title">Cataluña</span></a></li></ul>', children: '', numComments: '100', rrss: { img: "http://v.uecdn.es/p/108/thumbnail/entry_id/0_d79tes2x/width/657/type/2/bgcolor/000000/0_d79tes2x.jpg", summary: "", viaTwitter: 'elmundoes' } }
            </script>
            <div class="alerta" id="alerta">
                <ul>
                    <li class="deportes">
                        <span><strong>LA VUELTA</strong><a href="http://www.elmundo.es/eventos/en-directo/2017/08/24/46344-6-etapa-de-la-vuelta-villarreal-sagunto-en-vivo/?cid=ULTHR22001&amp;s_kw=la_vuelta">Siga la sexta etapa, con final en Sagunto.</a></span>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
            if (typeof portal == 'undefined') { portal = ''; }
            var ueAlert = window.ueAlert || (window.utilsEvent ? null : initUeAlerts());
            if (ueAlert == null) { window.addEventListener('cargaUtils', function() { ueAlert = initUeAlerts(); }); }

            function initUeAlerts(event) {
                var pos = 0,
                    lis = [],
                    nlis = 0,
                    timer1 = null,
                    btPlay = null,
                    btStop = null;

                function init() {
                    var alerta_container = document.getElementById("alerta");
                    var cont = alerta_container.getElementsByTagName("ul")[0];
                    btPlay = ueUtils.getElementsByClass("play", cont.getElementsByTagName("ul")[1])[0];
                    btStop = ueUtils.getElementsByClass("stop", cont.getElementsByTagName("ul")[1])[0];
                    if (portal == 'portada') { lis = cont.getElementsByTagName("li"); } else { lis = cont.getElementsByClassName('urgente'); }
                    nlis = lis.length;
                    if (nlis == 0) { ueUtils.addClass(alerta_container, 'ocultar'); } else { ueUtils.addClass(lis[0], "mostrar");
                        ueUtils.addClass(btStop, "ocultar");
                        ueAlert.play(); }
                }
                var ueAlert = {
                    play: function() { timer1 = setInterval(ueAlert.next, 5000);
                        ueUtils.addClass(btPlay, "ocultar");
                        ueUtils.removeClass(btStop, "ocultar"); },
                    stop: function() {
                        if (timer1) { clearInterval(timer1);
                            timer1 = null; }
                        ueUtils.addClass(btStop, "ocultar");
                        ueUtils.removeClass(btPlay, "ocultar");
                    },
                    next: function() { var nextPos = ((pos + 1) < nlis) ? (pos + 1) : 0;
                        ueUtils.removeClass(lis[pos], "mostrar");
                        ueUtils.addClass(lis[nextPos], "mostrar");
                        pos = nextPos; },
                    preview: function() { var nextPos = ((pos - 1) < 0) ? (nlis - 1) : (pos - 1);
                        ueUtils.removeClass(lis[pos], "mostrar");
                        ueUtils.addClass(lis[nextPos], "mostrar");
                        pos = nextPos; }
                }
                init();
                return ueAlert;
            }
            </script>
            <article class="news-item" itemscope itemtype="http://schema.org/NewsArticle"><span class="section-title-group"><span class="section-type"><a href="http://www.elmundo.es/cataluna.html">Cataluña</a></span></span>
                <div class="content-ad">
                    <div class="ad-item-990">
                        <div id='div-gpt-ad-cataluna_n_m_599eae6546163fc1168b460f' class="publicidad">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_m_599eae6546163fc1168b460f'); });
                            </script>
                        </div>
                    </div>
                </div>
                <h2 class="kicker"> Atentado en Barcelona</h2>
                <h1 itemprop="headline" class="js-headline">El Govern, sobre el aviso "informal" de la Policía belga: "Nunca nos constó que Es Satty fuera peligroso"</h1>
                <div class="row content sharing-tools">
                    <ul>
                        <li class="signatures-container">
                            <address class="news-author">
                                <ul class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                    <li itemprop="name" class="author-name"><strong>FERNANDO LÁZARO| AGENCIAS</strong></li>
                                    <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="author-city"><span itemprop="addressLocality"> Madrid|Barcelona</span></li>
                                </ul>
                            </address>
                        </li>
                        <li class="social-networks-container">
                            <ul class="js_socialMedia">
                                <li><i class="icon-facebook_30_a js-icon-facebook"></i><span class="hidden-content">Facebook</span></li>
                                <li><i class="icon-twitter_30_a js-icon-twitter"></i><span class="hidden-content">Twitter</span></li>
                                <li onclick="envioSC('Enviar');"><i class="icon-mail_30_a js-icon-mail"></i><span class="hidden-content">Enviar</span></li>
                            </ul>
                        </li>
                        <li class="date-container">
                            <meta itemprop="datePublished" content="2017-08-24">
                            <time datetime="2017-08-24 14:49:57" class="date" itemprop="dateModified">
                                24 ago. 2017
                                <strong>14:49</strong></time>
                        </li>
                    </ul>
                </div>
                <div class="row content cols-70-30" itemprop="articleBody">
                    <figure class="multimedia-item video" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                        <meta itemprop="name" content="El Govern, sobre el aviso &quot;informal&quot; de la Policía belga: &quot;Nunca nos constó que Es Satty fuera peligroso&quot;" />
                        <meta itemprop="description" content="Descubre mas videos" />
                        <meta itemprop="thumbnailUrl" content="http://v.uecdn.es/p/108/thumbnail/entry_id/0_d79tes2x/width/660/type/2/bgcolor/000000/0_d79tes2x.jpg" />
                        <meta itemprop="contentURL" content="http://k.uecdn.es/index.php/kwidget/wid/_108/uiconf_id/8704917/entry_id/0_d79tes2x" />
                        <meta itemprop="uploadDate" content="2017-08-24T14:50:02+02:00" />
                        <meta itemprop="duration" content="T42S" />
                        <div id="video-599eae6546163fc1168b460f" style="height: 371px;" class="full-video"></div>
                        <script type="text/javascript">
                        jQuery(function() { if (typeof KalturaUE === 'object') { var kalturaPlayer = new KalturaUE.Player('video-599eae6546163fc1168b460f', kalturaPlayerConfig);
                                kalturaPlayer.setConfig({ partnerId: 108, opciones: { responsive: '16/9' } }); var tags = "atentado-en-barcelona";
                                kalturaPlayer.setTags(tags.split(","));
                                kalturaPlayer.setTopic("actualidad");
                                kalturaPlayer.load('0_d79tes2x', 'El Govern, sobre el aviso &quot;informal&quot; de la Policía belga: &quot;Nunca nos...'); }; });
                        </script>
                        <noscript><img src="http://v.uecdn.es/p/108/thumbnail/entry_id/0_d79tes2x/width/660/cache_st/1503578998/type/2/bgcolor/000000/0_d79tes2x.jpg" style="height: 590px; margin-top: -590px; width:100%; " /></noscript>
                        <figcaption class="caption" itemprop="description"><i class="icon-video_16_g"></i>El Govern, sobre el aviso "informal" de la Policía belga: "Nunca nos constó que Es Satty fuera peligroso" <span itemprop="author" itemscope itemtype="http://schema.org/Person"></span><span itemprop="name">EFE</span></figcaption>
                    </figure>
                    <aside class="aside-tools byline-tools">
                        <div class="content-ad">
                            <div class="ad-item-300">
                                <div id='div-gpt-ad-cataluna_n_b300x100_599eae6546163fc1168b460f' class="publicidad">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_b300x100_599eae6546163fc1168b460f'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <aside class="aside-block js_fixed">

                           {{> includes/ue-comments-button }}

                            <div class="content-ad">
                                <div class="ad-item-300">
                                    <div id='div-gpt-ad-cataluna_n_r_599eae6546163fc1168b460f' class="publicidad">
                                        <script type='text/javascript'>
                                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_r_599eae6546163fc1168b460f'); });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </aside>
                    <!-- Fin Modulo publicidad y boton -->
                    <div class="subtitle-items">
                        <p class="summary-lead"><i class="icon-apoyo_16_b"></i>Vuelve a pedir que los Mossos se integren en Europol</p>
                        <p class="summary-lead"><i class="icon-apoyo_16_b"></i><a href="http://www.elmundo.es/espana/2017/08/24/599db4b3e2704e044d8b462b.html">La Policía belga se dirigió a los Mossos para advertirles sobre el imam de Ripoll en marzo de 2016</a></p>
                    </div>
                    <p>El conseller de Interior de la Generalitat, Joaquim Forn, ha explicado este jueves que la policía belga envió a los Mossos d'Esquadra una comunicación informal reclamando información sobre el imán de Ripoll Abdelbaki es Satty pero que <strong>nadie les alertó de que fuera peligroso</strong>. </p>
                    <p> En una comparecencia junto a la alcaldesa de Cambrils (Tarragona), Camí Mendoza, tras participar en la Junta local de seguridad, Forn ha indicado que la policía belga pidió información sobre Es Satty: "Se da la información que tenemos, y <strong>en ningún momento nos consta que esta persona esté investigada o sea peligrosa</strong>. Es evidente que si alguien nos hubiera alertado de esto se hubiera actuado de otra manera". </p>
                    <p> Sobre esta comunicación, ha indicado que fue absolutamente informal, en sus palabras: "Si hubiera sido formal precisamente el canal no hubiera sido directo porque <strong>nosotros no podemos tener una relación directa con policías de fuera</strong>, y por lo tanto se debería haber hecho a traves del Ministerio". </p>
                    <p> Ha añadido: "Nos nos advierten sobre el estado de esta persona, solo piden si tenemos información de esta persona y no se tiene información y es lo que se contesta". </p>
                    <p> "Me sorprende que, habiendo una <a href="http://www.elmundo.es/espana/2017/08/23/599dc953e5fdea50398b456f.html" target="_blank">amenaza difundida por Estado Islámico</a> ayer mismo, <strong>la preocupación de algunos medios sea disminuir la tarea de los Mossos y poner en duda y ensuciar su trabajo</strong>", ha lamentado el conseller.</p>
                    <h3 class="subhead">Aviso de un policía belga a los Mossos</h3>
                    <p>La policía local del municipio flamenco de Vilvoorde (Bélgica) contactó en marzo del pasado año con los Mossos para conocer si la policía de la Generalitat tenía en sus archivos datos sobre Albdelbaki es Satty.</p>
                    <p>En concreto, la comunicación a los Mossos la realizaron agentes de la policía de esa localidad en la que Abdelbaki es Satty residió durante tres meses, a principios de 2016, y donde trató de conseguir trabajo en uno de los oratorios locales. </p>
                    <p>La policía municipal consideró sospechosas sus actividades y envió su consulta de información a la policía de la Generalitat por escrito. La respuesta fue remitida de nuevo hacia Vilvoorde el 8 de marzo de 2016.</p>
                    <h3 class="subhead">La actitud "extrema" del imam de Ripoll</h3>
                    <p>Abdelbaki Es Satty mostró una actitud "rígida" y "extrema" cuando pidió trabajo en la mezquita del municipio de Diegem, según ha confirmado a Europa Press el responsable de este centro religioso, Akaychouh Soliman. </p>
                    <p> Soliman ha explicado que pidió a Es Satty documentos personales que acreditasen la ausencia de antecedentes en España que el imán de Ripoll no aportó.<strong> Soliman, además, detectó "comportamientos sospechosos", por lo que advirtió a la policía local</strong>. </p>
                    <p> "Cuando le pedimos el certificado de buena conducta y fue incapaz de presentarlo comprendimos bien que no tenía sitio aquí y que tenía que marcharse", añade el responsable de la mezquita en un comunicado publicado este jueves, en el que <strong>niega además que la comunidad musulmana de la localidad sea responsable de estos "actos criminales". </strong></p>
                    <p> La comunidad musulmana de Machelen ha conocido con tristeza las noticias y<strong> condena este acto horrible que no se encuentra en ningún lugar de nuestra religión, una religión de paz y de humanismo</strong>", asegura el texto.</p>
                    <aside class="publicidad mod-multipurpose end-fixed">
                        <h3 class="list-header"><span>TE PUEDE INTERESAR</span></h3>
                        <div id='div-gpt-ad-cataluna_n_nata_599eae6546163fc1168b460f' class="publicidad">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_nata_599eae6546163fc1168b460f'); });
                            </script>
                        </div>
                        <div class="dotted-divider"></div>
                        <div id='div-gpt-ad-cataluna_n_natb_599eae6546163fc1168b460f' class="publicidad">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_natb_599eae6546163fc1168b460f'); });
                            </script>
                        </div>
                    </aside>
                    <aside class="related-tags inside-news-body">
                        <aside class="related-tags">
                            <h4 class="list-header"><span>Relacionados</span></h4>
                            <ul class="item-tags">
                                <li><a href="http://www.elmundo.es/e/es/estado-islamico-is.html" rel="tag">Estado Islámico</a></li>
                                <li><a href="http://www.elmundo.es/catalunya/tarragona.html" rel="tag">Tarragona</a></li>
                                <li><a href="http://www.elmundo.es/t/at/atentado-barcelona.html" rel="tag">Atentado en Barcelona</a></li>
                            </ul>
                        </aside>
                    </aside>
                    <div class="related-links inside-news-body">
                        <aside class="related-links end-fixed">
                            <h3 class="list-header"><span>Noticias relacionadas</span></h3>
                            <ol class="list">
                                <li><a onclick="eventoSCModulos('noticias', 'relacionadas', '1', 'Colau y los Mossos esquivaron el consejo policial de poner bolardos', 'http://www.elmundo.es/cataluna/2017/08/18/5996adfae2704ea95f8b460d.html?cid=MNOT23801&amp;s_kw=colau_y_los_mossos_esquivaron_el_consejo_policial_de_poner_bolardos');" href="http://www.elmundo.es/cataluna/2017/08/18/5996adfae2704ea95f8b460d.html?cid=MNOT23801&amp;s_kw=colau_y_los_mossos_esquivaron_el_consejo_policial_de_poner_bolardos">Colau y los Mossos esquivaron el consejo policial de poner bolardos</a><span class="baseline"></span></li>
                                <li><a onclick="eventoSCModulos('noticias', 'relacionadas', '2', 'La célula pretendía atentar con explosivos el mismo jueves en Barcelona', 'http://www.elmundo.es/cataluna/2017/08/20/5999718ae2704ed9698b459d.html?cid=MNOT23801&amp;s_kw=la_celula_pretendia_atentar_con_explosivos_el_mismo_jueves_en_barcelona');" href="http://www.elmundo.es/cataluna/2017/08/20/5999718ae2704ed9698b459d.html?cid=MNOT23801&amp;s_kw=la_celula_pretendia_atentar_con_explosivos_el_mismo_jueves_en_barcelona">La célula pretendía atentar con explosivos el mismo jueves en Barcelona</a><span class="baseline"></span></li>
                                <li><a onclick="eventoSCModulos('noticias', 'relacionadas', '3', 'La célula yihadista preparó el atentado durante seis meses sin obstáculos', 'http://www.elmundo.es/espana/2017/08/21/5999f394468aeb8f5e8b4632.html?cid=MNOT23801&amp;s_kw=la_celula_yihadista_preparo_el_atentado_durante_seis_meses_sin_obstaculos');" href="http://www.elmundo.es/espana/2017/08/21/5999f394468aeb8f5e8b4632.html?cid=MNOT23801&amp;s_kw=la_celula_yihadista_preparo_el_atentado_durante_seis_meses_sin_obstaculos">La célula yihadista preparó el atentado durante seis meses sin obstáculos</a><span class="baseline"></span></li>
                            </ol>
                        </aside>
                    </div>
                </div>
                <div class="row content cols-70-30 ">
                    <aside class="aside-ad floated-right-item">
                        <div class="content-ad js_fixed">
                            <div class="ad-item-300">
                                <div id='div-gpt-ad-cataluna_n_rb_599eae6546163fc1168b460f' class="publicidad">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_rb_599eae6546163fc1168b460f'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="aside-outbrain">
                        <div class="OUTBRAIN" data-src="http://www.elmundo.es/cataluna/2017/08/24/599eae6546163fc1168b460f.html" data-widget-id="AR_7" data-ob-template="elmundo"></div>
                        <div class="OUTBRAIN" data-src="http://www.elmundo.es/cataluna/2017/08/24/599eae6546163fc1168b460f.html" data-widget-id="AR_8" data-ob-template="elmundo"></div>
                        <div class="OUTBRAIN" data-src="http://www.elmundo.es/cataluna/2017/08/24/599eae6546163fc1168b460f.html" data-widget-id="AR_9" data-ob-template="elmundo"></div>
                        <script type="text/javascript">
                        (function() { if (jQuery && jQuery('script[src*="outbrain.js"]').length === 0) { try { var scriptEl = document.createElement('script');
                                    scriptEl.type = 'text/javascript';
                                    scriptEl.async = 'true';
                                    scriptEl.src = 'http://widgets.outbrain.com/outbrain.js'; var targetEl = document.getElementsByTagName('script')[0];
                                    targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {}; } })();
                        </script>
                    </aside>
                </div>
                <div class="row content cols-70-30">
                    <aside class="aside-tools floated-right-item">
                        <div class="content-ad js_fixed">
                            <div class="ad-item-300">
                                <div id='div-gpt-ad-cataluna_n_rc_599eae6546163fc1168b460f' class="publicidad">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_rc_599eae6546163fc1168b460f'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside id="ancla_comentarios" class="comentarios aside-comments">
                        
                        <h3>
                            <i class="icon-comentarios_32_a"></i>
                            <strong class="js-ueCommentsCounter" data-commentId="1451902" content="UserComments:100" itemprop="interactionCount">100</strong>
                            Comentarios
                        </h3>

                        <article>
                            <header>
                                <span>5</span>
                                <img class="avatar" alt src="https://e00-elmundo.uecdn.es/social/ugc/avatars/004/517/xlarge_4517073.png">
                                <div itemprop="author" class="autor ">
                                    Luis-on
                                </div>
                                <time content="2017-08-24" itemprop="dateCreated" datetime="2017-08-24T13:27:00+01:00">
                                    <span class="fecha">24/08/2017</span>
                                    <span class="hora">13:27 horas</span>
                                </time>
                            </header>
                            <div itemprop="text" class="texto-comentario">
                                <p>Y no se lo ocurrió enviar la información al CNI? esto cada vez es peor, es necesario que este cosejero de Interior de explicaciones a la ciudadanía y si no tomar las responsabilidades correspondientes, cada vez esta más claro que se pudo haber evitado pero la prepotencia de las autoridades catalanas y su afán de ser independiente nos han puesto en peligro a todos</p>
                            </div>
                        </article>

                       {{> includes/ue-comments-button }}

                    </aside>
                </div>

                <div class="ue-c-panel-shadow" data-slide-shadow></div>

                {{> includes/ue-panel/ue-panel }}

            </article>
            <section class="row content row-layout"></section>
            <section class="row content row-layout"></section>
            <div class="content-ad">
                <div class="ad-item-f2">
                    <div id='div-gpt-ad-cataluna_n_f2_599eae6546163fc1168b460f' class="publicidad">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_f2_599eae6546163fc1168b460f'); });
                        </script>
                    </div>
                </div>
            </div>
            <div class="content-ad">
                <div class="ad-item-f3">
                    <div id='div-gpt-ad-cataluna_n_f3_599eae6546163fc1168b460f' class="publicidad">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_f3_599eae6546163fc1168b460f'); });
                        </script>
                    </div>
                </div>
            </div>
            <div class="content-ad">
                <div class="ad-item-si js-sky">
                    <div id='div-gpt-ad-cataluna_n_si_599eae6546163fc1168b460f' class="publicidad">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_si_599eae6546163fc1168b460f'); });
                        </script>
                    </div>
                </div>
            </div>
            <div class="content-ad">
                <div class="ad-item-sd js-sky">
                    <div id='div-gpt-ad-cataluna_n_sd_599eae6546163fc1168b460f' class="publicidad">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-cataluna_n_sd_599eae6546163fc1168b460f'); });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        jQuery(function() {
            // if (Comentarios) { window.Comments = new Comentarios({ botonesDesplegar: '.js-botonComentarios', newsId: "599eae6546163fc1168b460f" }); }
            if (typeof jQuery.fn.RedesSociales === 'function') { jQuery('#js_599eae6546163fc1168b460f').find('.js_socialMedia').RedesSociales({ title: "El Govern, sobre el aviso \"informal\" de la Policía belga: \"Nunca nos constó que Es Satty fuera peligroso\"", img: "http://v.uecdn.es/p/108/thumbnail/entry_id/0_d79tes2x/width/657/type/2/bgcolor/000000/0_d79tes2x.jpg", url: "http://www.elmundo.es/cataluna/2017/08/24/599eae6546163fc1168b460f.html", summary: "", viaTwitter: 'elmundoes', urlCorreo: "http://www.elmundo.es/enviar/formulario_enviar_noticia.html?que_mundo=elmundo", sufijoAnalitica: '_1' }); }
            if (typeof jQuery.fn.ElementoFijo === 'function') { jQuery('#js_599eae6546163fc1168b460f').find('.js_fixed').ElementoFijo({ elementosAnteriores: ['.nav-container', '.breadcrumbs '], elementoDesdeFixed: '.content', elementoHastaFixed: '.end-fixed', minWidthFijo: 768 }); }
        });
        </script>