
        <form class="ue-c-comments-form" name="comment-box" action="#" data-form="publishComment"> 
            <span class="ue-c-comments-form__message is-hidden" data-form-message="confirm">Gracias por tu aportación</span>
            <label class="is-hidden-text" for="">Comentar:</label>
            <span class="ue-c-input-group">   
                <textarea class="ue-c-textarea" name="comment" id="comment" placeholder="Escriba aquí su comentario" autocorrect="on" required></textarea>
                <button class="ue-c-button" type="submit" name="publish" value="Publicar" data-form="verifyUser">Publicar</button>
            </span>
        </form>

        <form class="ue-c-comments-form is-hidden" name="comment-verification" action="#" data-form-content="verifyUser">  
            <fieldset class="ue-c-comments-form__captcha">
                <label class="ue-c-comments-form__message" for="captcha" data-form-message="captcha">
                    Introduzca el código que aparece en la imagen. Si no lo ve bien, pinche <a rel="nofollow" title="Cargar otra imagen" href="#">aquí</a> para mostrar otro.
                </label>
                <span class="ue-c-comments-form__message--error is-hidden" data-form-message="error">
                    El código de seguridad que ha introducido no es correcto. Por favor, revíselo y pruebe de nuevo
                </span>
                <img alt="captcha image" src="http://www.elmundo.es/servicios/noticias/scroll/comentarios/comunidad/captcha.jpg?1504083523171"> 
                <span class="ue-c-input-group"> 
                    <input class="ue-c-input" type="text" name="captcha" maxlength="6" autocapitalize="off" required>
                    <button type="submit" class="ue-c-button" name="" data-form="submitComment">Enviar</button>
                </span>
            </fieldset>
        </form>


