{{!-- layouts/base_elmundo_m.hbs --}}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles/core-ue-comments.css">
  </head>
  <body>
    
    
    <header>
   
    </header>


    <main>

      <div style="width: 100%; max-width: 990px; margin-right: auto; margin-left: auto; position: relative;">

        {{> includes/ue-comments-button }}

        <div class="ue-c-panel-shadow" data-slide-shadow></div>

        {{!-- {{> includes/ue-panel/ue-panel-no-tabs }} --}}
        {{> includes/ue-panel/ue-panel }}

      {{!--   <input type="checkbox" id="pepito" />
        <label for="pepito">XXXXX</label> --}}
      </div>
    </main>

    <script src="javascripts/main.js"></script>

  </body>

</html>