* {
  box-sizing: border-box;
}
@import "normalize";
@import "tools/_mixins";
@import "components/_ue-c-panel";
@import "components/_ue-c-tabs";
@import "components/_ue-c-comments";
@import "components/_ue-c-form";
@import "objects/_ue-o-tooltip";

.is-hidden-text {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}