* {
  box-sizing: border-box;
  font-family: "robotoRegular", Arial, sans-serif, helvetica;
}
//@import "normalize";
@import "tools/_mixins";
@import "tools/_functions";
@import "tools/_utils";
//@import "tools/_css-variables";
@import "components/_ue-c-panel";
@import "components/_ue-c-tabs";
@import "components/_ue-c-comments";
@import "components/_ue-c-form";
@import "objects/_ue-o-tooltip";

//@import "themes/_marca-styles";


// OVERRIDE elmundo_style & marca_style (provisional)

body {
	a,
	a:link {
		color: var(--link-color, black); // set new color for links
		&:visited,
		&:focus,
		&:hover,
		&:active {
			color: var(--link-color-hover, #999);
		}
	}
}

.ue-c-panel {
	z-index: 12000; // set a higher z-index
}