<div class="ue-c-tabs">
	<ul class="ue-c-tabs-list">
	    <li class="ue-c-tabs-list__tab" data-section="all"><a title="Todos los comentarios" href="#all">Todos</a></li>
	    <li class="ue-c-tabs-list__tab" data-section="most-valued"><a title="Comentarios más valorados" href="#most-valued">Más valorados</a></li>
	</ul>
	<div class="ue-c-tabs__panel">
		{{#> comments-block }}
            {{!-- comments content goes here. --}}
            {{> includes/ue-comments/ue-comments }}
        {{/comments-block}}
	</div>
</div>