{{!-- includes/marca/body-scripts.hbs --}}

<div id="pixelcontabilizacionmarca" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z-Index:1"><img src="http://pixelcounter.marca.com/pixelcontabilizacion/pixelcontabilizacion.gifctl?r=http%3A%2F%2Fwww%2Emarca%2Ecom%2Ffutbol%2Fbarcelona%2F2017%2F08%2F24%2F599ec3b046163f06628b456f%2Ehtml&amp;s=marca&amp;d=WZ7SVMCoFWgAAGbOmQ0" width="1" height="1" alt="" />
        <script type="text/javascript">
        function DM_prepClient(csid, client) { var cat = document.location.href.split('/');
            url_section = cat[6];
            client.DM_addEncToLoc("as_section", url_section); }
        </script>
    </div>
    <script type="text/javascript" language="javascript" src="http://estaticos.cookies.unidadeditorial.es/js/policy.js" async></script>
    <div class="lightbox_shadow no-visible" id="js-popup"></div>
    <script>
    var nav_continua_active = true;
    </script>
    <script type="text/javascript">
    var cookieList = document.cookie.split(";");
    for (index in cookieList) { if (typeof cookieList[index] == "string" && cookieList[index].indexOf("REGMARCA") != -1) { var ifr = document.createElement("iframe");
            ifr.src = "https://5214106.fls.doubleclick.net/activityi;src=5214106;type=corp;cat=regis00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=" + Math.random() * 1000000000000 + "?";
            ifr.width = "1";
            ifr.height = "1";
            ifr.style.display = "none";
            ifr.setAttribute("frameborder", "0"); var node = document.body.getElementsByTagName("script")[0];
            node.parentNode.insertBefore(ifr, node); break; } }
    </script>
    <noscript>
        <iframe src="https://5214106.fls.doubleclick.net/activityi;src=5214106;type=corp;cat=regis00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <script type="text/javascript">
    var sectionMainMenuActive = 'futbol';
    var uniqueCtId = '599ec3b046163f06628b456f';
    var activeUeNavigation = true;
    </script>
    <script type="text/javascript">
    var uePages = [{ "url": "http://www.marca.com/futbol/barcelona/2017/08/24/599ec3f1e5fdeab41b8b45fd.html", "titulo": "El Barça se entrena pendiente de Iniesta" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html", "titulo": "Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot;" }, { "url": "http://www.marca.com/futbol/mundial/2017/08/24/599ec279468aeb672b8b4610.html", "titulo": "Cristiano y André Gomes entran en la convocatoria de la selección de Portugal" }, { "url": "http://www.marca.com/radio/2017/08/24/599eb130468aeb6d208b460c.html", "titulo": "La Tribu: &quot;Hay ganas de ver cómo va a reaccionar este Madrid tras dos Champions&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/24/599eb3ed468aebb4048b4614.html", "titulo": "Neymar interpone una demanda contra el Barça a través de la FIFA" }, { "url": "http://www.marca.com/futbol/champions-league/2017/08/24/599dc883e5fdea5d478b4573.html", "titulo": "Sorteo Champions: Un rey y 31 aspirantes a derrocarle" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/24/599dc745468aeba6348b45e3.html", "titulo": "El Barça no será cabeza de serie por primera vez en la Champions" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599df5ab268e3ee94c8b4661.html", "titulo": "&quot;El PSG llamó hace tres días al Niza por Seri para joder al Barça&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599de2ea468aeb55688b45bf.html", "titulo": "Las curiosidades de la conjura azulgrana: Paulinho muy integrado y gritos de &quot;Iniesta, no te retires&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d97aa268e3e886f8b4632.html", "titulo": "Bartomeu y Messi, cara a cara camino de Mónaco" }, { "url": "http://www.marca.com/futbol/liga-francesa/2017/08/23/599d9a1f46163f06208b45bd.html", "titulo": "Emery: &quot;Con Neymar todo será mejor&quot;" }, { "url": "http://www.marca.com/radio/2017/08/23/599d8f70e2704e21338b45d4.html", "titulo": "Agustí Benedito: &quot;Es urgente que la Junta Directiva del Barcelona dimita&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d8654e2704e557d8b45c2.html", "titulo": "&quot;Los jugadores están echando un pulso a la directiva&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d7a8446163f26258b45aa.html", "titulo": "El Milan quiere a Rafinha" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d78e946163f907a8b45bb.html", "titulo": "La plantilla del Barcelona se conjura en una comida" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d6cb0e2704e89778b45b0.html", "titulo": "Así &#039;fichó&#039; el Burgos a Messi" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d629dca4741e6198b45bd.html", "titulo": "Un verano para olvidar" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d5ea9e2704e42618b45b1.html", "titulo": "¿Es Di María el fichaje que necesita el Barça?" }, { "url": "http://www.marca.com/radio/2017/08/23/599d5825268e3ec8258b45f4.html", "titulo": "La Tribu: &quot;La gestión de Bartomeu no está siendo buena, pero la culpa en este caso es de los futbolistas&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d5940ca4741e6198b45b4.html", "titulo": "Iniesta podría reaparecer este sábado" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d4981268e3e45588b45c4.html", "titulo": "Munir: Nadie paga 20 kilos" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d4d8bca474116058b45cd.html", "titulo": "Enric Masip: &quot;Amigos de la Junta, estáis acabados&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d4a3b268e3e15628b45bb.html", "titulo": "Y ahora el PSG se pone duro con Di María" }, { "url": "http://www.marca.com/futbol/barcelona/opinion/2017/08/23/599d45bf268e3e96538b45b9.html", "titulo": "&quot;Nada es casualidad en el Barcelona&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d3c4146163f113c8b4572.html", "titulo": "El Barça descarta el fichaje de Seri" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d208a268e3ec54b8b45bb.html", "titulo": "Neymar provoca la guerra total" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599d14cc268e3ee02a8b459d.html", "titulo": "El Barça, hackeado en twitter y facebook, &#039;anuncia&#039; el fichaje de Di María" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/23/599cbf2822601dac098b457b.html", "titulo": "Seri: &quot;No ha sido mi último partido con el Niza, el sábado estaré en Amiens&quot;" }, { "url": "http://www.marca.com/futbol/las-palmas/2017/08/23/599cbb5322601d174f8b4574.html", "titulo": "Las Palmas llega a un acuerdo con el Barça por Samper" }, { "url": "http://www.marca.com/futbol/liga-francesa/2017/08/22/599c9988468aebb0608b45f7.html", "titulo": "Neymar recuerda al Barça que pedirá la prima de renovación íntegra" }, { "url": "http://www.marca.com/futbol/liga-francesa/2017/08/22/599c9651468aeb71438b462f.html", "titulo": "El PSG lamenta &quot;una vez más&quot; la actitud del Barcelona" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599c70bf268e3e1f7b8b456d.html", "titulo": "Neymar le devuelve el &quot;se queda&quot; a Piqué" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599c67cf268e3e472b8b46c3.html", "titulo": "Messi vacila a Piqué con Neymar: &quot;Volvió&quot;" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599c5c1522601df9208b4641.html", "titulo": "Dugarry: &quot;Los directivos del Barcelona son nulos&quot;" }, { "url": "http://www.marca.com/futbol/futbol-internacional/2017/08/22/599c3c79ca4741211a8b45a1.html", "titulo": "El Guangzhou cae goleado en su primer partido de Champions sin Paulinho" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599c3c03e2704e045e8b4611.html", "titulo": "El Barcelona demanda a Neymar y le pide una millonada" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599c220be5fdea2c138b45d1.html", "titulo": "Los dibujos de Valverde" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599c275122601dfa2c8b4607.html", "titulo": "Digne: &quot;Si no sabes qué hacer con el balón, se lo das a Iniesta&quot;" }, { "url": "http://www.marca.com/radio/2017/08/22/599c11b446163fe0628b45ab.html", "titulo": "La Tribu: &quot;El Real Madrid tiene una idea de juego, salga quien salga lo hace bien&quot;" }, { "url": "http://www.marca.com/apuestas-deportivas/2017/08/16/5993ea6f46163f747a8b45d4.html", "titulo": "¿Quién se llevará la Supercopa: Real Madrid o Barça?" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599c0125468aeb1a6f8b45f9.html", "titulo": "Di María es ahora el objetivo del Barça" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599bbf89268e3e25398b4603.html", "titulo": "Messi no tiene prisa por firmar" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/22/599b6311e5fdea8f1a8b4583.html", "titulo": "Benedito: &quot;El caso de Messi puede ser peor que el de Neymar&quot;" }, { "url": "http://www.marca.com/futbol/premier-league/2017/08/21/599b5465e5fdea2a2f8b457b.html", "titulo": "Guardiola: &quot;Si alguno quiere pagar 300 millones por Messi, los pagará&quot;" }, { "url": "http://www.marca.com/futbol/primera-division/2017/08/21/599b02cf22601db2388b4572.html", "titulo": "Lucas Digne, el voluntario que socorrió a los heridos en el atentado de Barcelona" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/21/599b233ee5fdead4598b45d1.html", "titulo": "Dembélé no quiere saber nada del Borussia" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/21/599aff7b46163f51368b4608.html", "titulo": "El Barça aprieta por Dembélé pero el Dortmund no cede" }, { "url": "http://www.marca.com/futbol/barcelona/2017/08/21/599b09c246163f51368b4615.html", "titulo": "El agente de Seri está en Barcelona negociando el traspaso del jugador" }];
    </script>
    <script type="text/javascript">
    var data = { "networkId": "99071977", "divId": "div-gpt-ad-futbol_barcelona_n", "customTargeting": {}, "adSlots": [{ "adUnit": "mc2/futbol/barcelona/n", "customTargeting": { "p": ["f"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [728, 90],
                [728, 250],
                [970, 90],
                [970, 250],
                [980, 90],
                [980, 180],
                [980, 250],
                [980, 220],
                [990, 90],
                [990, 250],
                [1, 1]
            ], "customTargeting": { "p": ["m"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [300, 100],
                [300, 250],
                [300, 300],
                [300, 600],
                [1, 1]
            ], "customTargeting": { "p": ["r"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [300, 100],
                [300, 250],
                [300, 300],
                [300, 600],
                [1, 1]
            ], "customTargeting": { "p": ["rb"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [120, 600],
                [160, 600],
                [120, 1000],
                [160, 1000],
                [450, 1000],
                [1, 1]
            ], "customTargeting": { "p": ["si"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [120, 600],
                [160, 600],
                [120, 1001],
                [160, 1001],
                [450, 1001],
                [1, 1]
            ], "customTargeting": { "p": ["sd"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [980, 50],
                [990, 50],
                [1, 1]
            ], "customTargeting": { "p": ["c990x50_320x53"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [300, 100],
                [300, 250],
                [300, 300],
                [1, 1]
            ], "customTargeting": { "p": ["rc"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [300, 100],
                [1, 1]
            ], "customTargeting": { "p": ["natb"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [300, 100],
                [1, 1]
            ], "customTargeting": { "p": ["natc"] } }, { "adUnit": "p_mc2/futbol/barcelona/n", "sizes": [
                [660, 50],
                [1, 1]
            ], "customTargeting": { "p": ["660x50"] } }, { "adUnit": "mc2/futbol/barcelona/n", "customTargeting": { "p": ["f2"] } }, { "adUnit": "mc2/futbol/barcelona/n", "customTargeting": { "p": ["f3"] } }, { "adUnit": "mc2/futbol/barcelona/n", "sizes": [
                [300, 100],
                [1, 1]
            ], "customTargeting": { "p": ["nata"] } }] };
    var adUnits = [{ sizeMapping: [{ minWidth: 1024, sizes: [
                [728, 90],
                [970, 90],
                [970, 250],
                [980, 90],
                [980, 250],
                [990, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-LDB1", bids: [{ bidder: "appnexus", params: { placementId: "11595052" } }, { bidder: "rubicon", params: { zoneId: 663036, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788297 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 54639, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [728, 90],
                [970, 90],
                [970, 250],
                [980, 90],
                [980, 250],
                [990, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-LDB2", bids: [{ bidder: "appnexus", params: { placementId: "11595053" } }, { bidder: "rubicon", params: { zoneId: 663040, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788298 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 54640, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU1", bids: [{ bidder: "appnexus", params: { placementId: "11595057" } }, { bidder: "rubicon", params: { zoneId: 663050, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788301 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40859, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU2", bids: [{ bidder: "appnexus", params: { placementId: "11595058" } }, { bidder: "rubicon", params: { zoneId: 663056, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788302 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40974, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU3", bids: [{ bidder: "appnexus", params: { placementId: "11595059" } }, { bidder: "rubicon", params: { zoneId: 663058, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792342 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40975, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU4", bids: [{ bidder: "appnexus", params: { placementId: "11595060" } }, { bidder: "rubicon", params: { zoneId: 663060, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792344 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40976, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU5", bids: [{ bidder: "appnexus", params: { placementId: "11595061" } }, { bidder: "rubicon", params: { zoneId: 663062, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792346 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40977, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [320, 50],
                [320, 53],
                [320, 100]
            ] }], code: "div-gpt-ad-LDB1", bids: [{ bidder: "appnexus", params: { placementId: "11595040" } }, { bidder: "rubicon", params: { zoneId: 663146, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788327 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 54723, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [320, 50],
                [320, 53],
                [320, 100]
            ] }], code: "div-gpt-ad-LDB2", bids: [{ bidder: "appnexus", params: { placementId: "11595041" } }, { bidder: "rubicon", params: { zoneId: 663148, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788328 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 54724, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }], code: "div-gpt-ad-MPU1", bids: [{ bidder: "appnexus", params: { placementId: "11595043" } }, { bidder: "rubicon", params: { zoneId: 663156, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788330 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40859, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250]
            ] }], code: "div-gpt-ad-MPU2", bids: [{ bidder: "appnexus", params: { placementId: "11595044" } }, { bidder: "rubicon", params: { zoneId: 663158, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792377 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40974, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }], code: "div-gpt-ad-MPU3", bids: [{ bidder: "appnexus", params: { placementId: "11595045" } }, { bidder: "rubicon", params: { zoneId: 663160, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792378 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40975, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250]
            ] }], code: "div-gpt-ad-MPU4", bids: [{ bidder: "appnexus", params: { placementId: "11595046" } }, { bidder: "rubicon", params: { zoneId: 663162, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792380 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40976, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250]
            ] }], code: "div-gpt-ad-MPU5", bids: [{ bidder: "appnexus", params: { placementId: "11595047" } }, { bidder: "rubicon", params: { zoneId: 663164, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792381 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40977, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }];

    var map = {
        'div-gpt-ad-LDB1': 'm',
        'div-gpt-ad-LDB2': 'mb',
        'div-gpt-ad-MPU1': 'r',
        'div-gpt-ad-MPU2': 'rb',
        'div-gpt-ad-MPU3': 'rc',
        'div-gpt-ad-MPU4': 'rd',
        'div-gpt-ad-MPU5': 're',
    };

    adUnits.forEach(function(item) {
        if (item.code in map) {
            item.code = data.divId + '_' + map[item.code] + '_599ec3b046163f06628b456f';
        }
    });

    if (typeof pbjs !== 'undefined') {
        pbjs.que.push(function() {
            pbjs.setPriceGranularity("dense");
            pbjs.enableSendAllBids();

            pbjs.enableAnalytics([{
                provider: "appnexus",
                options: {
                    memberId: 7669
                }
            }]);

            pbjs.addAdUnits(adUnits);

            pbjs.requestBids({
                timeout: 1000,
                bidsBackHandler: function() {
                    initAdServer();
                }
            });
        });
    }

    googletag.cmd.push(function() {
        data.customTargeting.t = ['barcelona-es'];
        data.customTargeting.tag = ['fc-barcelona,primera-division'];
        data.customTargeting.referer = ['home'];
        data.customTargeting.ueseg = [''];
        data.customTargeting.ueid = ['2CA07D0B8531467F-4000012AA0003D6E'];

        window["ueDFPData"] = data;

        function kruxretrieve(n) {
            var m, k = 'kxunidad_' + n;
            if (window.localStorage) {
                return window.localStorage[k] || '';
            } else if (navigator.cookieEnabled) {
                m = document.cookie.match(k + '=([^;]*)');
                return (m && unescape(m[1])) || '';
            } else {
                return '';
            }
        }
        data.customTargeting.kuid = 'NoDefinido';
        data.customTargeting.ksegs = 'NoDefinido';
        var kuser = kruxretrieve('user');
        if (kuser) {
            data.customTargeting.kuid = kuser;
        }
        var ksegments = kruxretrieve('segs');
        if (ksegments) {
            data.customTargeting.ksegs = ksegments.split(',');
        }

        data.adSlots.forEach(function(adSlot, i) {
            var slotIndex = i + 1;
            var adUnit = adSlot.adUnit ? adSlot.adUnit : data.adUnit;
            adUnit = '/' + data.networkId + '/' + adUnit;
            var divId = data.divId + '_' + adSlot.customTargeting.p.join('_');

            divId += '_' + '599ec3b046163f06628b456f'

            if (adSlot.sizes) {
                gptadslots[slotIndex] = googletag.defineSlot(adUnit, adSlot.sizes, divId);
            } else {
                gptadslots[slotIndex] = googletag.defineOutOfPageSlot(adUnit, divId);
            }

            for (var key in adSlot.customTargeting) {
                if (adSlot.customTargeting.hasOwnProperty(key)) {
                    gptadslots[slotIndex].setTargeting(key, adSlot.customTargeting[key]);
                }
            }
            gptadslots[slotIndex].addService(googletag.pubads());
        });

        if ((typeof DisableenableSingleRequest === 'undefined') || !DisableenableSingleRequest) {
            googletag.pubads().enableSingleRequest();
        }

        for (var key in data.customTargeting) {
            if (data.customTargeting.hasOwnProperty(key)) {
                googletag.pubads().setTargeting(key, data.customTargeting[key]);
            }
        }

        googletag.pubads().addEventListener('slotRenderEnded', function(event) {
            var count = 0;
            var interval = setInterval(function() {
                count++;
                if (event && event.slot) {
                    jQuery(window).trigger('slotRendered', { "slotId": event.slot.getSlotElementId(), "intervalId": interval });
                    var container = jQuery("#" + event.slot.getSlotElementId());
                    container.attr("style", "height:" + container.height() + "px;");
                }
                if (count > 9) {
                    clearInterval(interval);
                }
            }, 500);
        });

        googletag.pubads().enableAsyncRendering();
        if ((typeof gptIsDisableInitialLoad !== 'undefined') && gptIsDisableInitialLoad) {
            googletag.pubads().disableInitialLoad();
        }

        if (typeof pbjs !== 'undefined') {
            pbjs.que.push(function() {
                pbjs.setTargetingForGPTAsync();
            });
        }

        googletag.enableServices();
    });
    </script>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.7&&appId=160427764002568&status=true&cookie=true";
        fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    </script>