{{!-- includes/marca/footer.hbs --}}

        <div class="container-list-footer js-toggle-footer">
            <div class="js-botonera-toggle arrow-toggle">
                <span>
                    Otras webs de Unidad Editorial
                    <i data-click-role="icon-close" class="icon-arrow-up no-visible"></i>
                    <i data-click-role="icon-open" class="icon-arrow-down"></i>
                </span>
            </div>
            <div class="js-contenido-toggle container-toggle">
                <div class="clearfix">
                    <ul class="list-footer">
                        <li class="highlight"><span>Marca</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/mundo-marca/2017/01/18/587f574fe2704e47368b45ff.html" title="App Marca" target="_blank" itemprop="url"><span itemprop="name">App Marca</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://online.nethive.com/promoRedirect?member=MARCAcom&campaign=DEFAULT&channel=footermarca&zone=56305085&lp=56245531" title="Apuestas Deportivas" target="_blank" itemprop="url"><span itemprop="name">Apuestas Deportivas</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/futbol/primera/clasificacion.html" title="Clasificaci&oacute;n LaLiga" target="_blank" itemprop="url"><span itemprop="name">Clasificaci&oacute;n LaLiga</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/futbol/primera/calendario.html" title="Calendario LaLiga" target="_blank" itemprop="url"><span itemprop="name">Calendario LaLiga</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/hemeroteca/" title="Hemeroteca Marca" target="_blank" itemprop="url"><span itemprop="name">Hemeroteca Marca</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://app.marca.com/Estadisticas/JuegosMunicipales/Controlador" title="Marca Madrid" target="_blank" itemprop="url"><span itemprop="name">Marca Madrid</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="https://clk.tradedoubler.com/click?p=271538&a=2407712&g=23657338" title="Marca en Orbyt" target="_blank" itemprop="url"><span itemprop="name">Marca en Orbyt</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://suscripcion.marca.com/" title="Suscripci&oacute;n Marca" target="_blank" itemprop="url"><span itemprop="name">Suscripci&oacute;n Marca</span></a></li>
                    </ul>
                    <div id="pixelcontabilizacionNLalerta" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z-index:1">
                        <img src="https://impes.tradedoubler.com/imp?type(inv)g(23657338)a(2407712)" width="1" height="1" alt/>
                    </div>
                    <ul class="list-footer">
                        <li class="highlight"><span>Moda y Ocio</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/tiramillas.html" title="Tiramillas" target="_blank" itemprop="url"><span itemprop="name">Tiramillas</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.telva.com/" title="Moda - Telva" target="_blank" itemprop="url"><span itemprop="name">Moda - Telva</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.buhomag.com/" title="BUHO Magazine" target="_blank" itemprop="url"><span itemprop="name">BUHO Magazine</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.elmundo.es/traductor/" title="Traductor" target="_blank" itemprop="url"><span itemprop="name">Traductor</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.elmundo.es/television/programacion-tv/" title="Programaci&oacute;n TV" target="_blank" itemprop="url"><span itemprop="name">Programaci&oacute;n TV</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="https://www.marcaentradas.com/" title="Marca Entradas" target="_blank" itemprop="url"><span itemprop="name">Marca Entradas</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.mibebeyyo.com/" title="Mi beb&eacute; y yo" target="_blank" itemprop="url"><span itemprop="name">Mi beb&eacute; y yo</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://descuentos.elmundo.es/" title="C&oacute;digos de descuento" target="_blank" itemprop="url"><span itemprop="name">C&oacute;digos de descuento</span></a></li>
                    </ul>
                    <ul class="list-footer">
                        <li class="highlight"><span>Salud</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.correofarmaceutico.com/" title="Farmacia - Correo Farmac&eacute;utico" target="_blank" itemprop="url"><span itemprop="name">Farmacia - Correo Farmac&eacute;utico</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.cuidateplus.com/" title="Cu&iacute;date Plus" target="_blank" itemprop="url"><span itemprop="name">Cu&iacute;date Plus</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.diariomedico.com/" title="Medicina - Diario M&eacute;dico" target="_blank" itemprop="url"><span itemprop="name">Medicina - Diario M&eacute;dico</span></a></li>
                    </ul>
                    <ul class="list-footer">
                        <li class="highlight"><span>Empleo</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.escuelaunidadeditorial.es/medios/marca/" title="Masters - Escuela Unidad Editorial" target="_blank" itemprop="url"><span itemprop="name">Masters - Escuela Unidad Editorial</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.unidadeditorial.es/" title="Unidad Editorial" target="_blank" itemprop="url"><span itemprop="name">Unidad Editorial</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.expansionyempleo.com/" title="Trabajo - Expansi&oacute;n y Empleo" target="_blank" itemprop="url"><span itemprop="name">Trabajo - Expansi&oacute;n y Empleo</span></a>
                        </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.expansion.com/" title="Econom&iacute;a - Expansi&oacute;n" target="_blank" itemprop="url"><span itemprop="name">Econom&iacute;a - Expansi&oacute;n</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-about-footer">
            <ul class="about-list">
                <li class="copyright">
                    <p>&copy; Agosto 2017
                        <span itemprop="name"> Unidad Editorial Informaci&oacute;n Deportiva, S.L.U. Todos los derechos reservados.</span></p>
                </li>
                <li><a href="http://www.marca.com/corporativo/aviso-legal.html" target="_blank" title="T&eacute;rminos y condiciones de uso">T&eacute;rminos y condiciones de uso</a></li>
                <li><a href="http://www.marca.com/corporativo/proteccion-datos.html" target="_blank" title="Pol&iacute;tica de privacidad">Pol&iacute;tica de privacidad</a></li>
                <li><a href="http://cookies.unidadeditorial.es/" target="_blank" title="Pol&iacute;tica de cookies">Pol&iacute;tica de cookies</a></li>
                <li><a href="http://www.ojd.es/" target="_blank" title="Certificado por OJD">Certificado por OJD</a></li>
                <li><a href="http://www.marca.com/corporativo/contacto.html" target="_blank" title="Contacto">Contacto</a></li>
                <li><a href="http://www.unidadeditorial.com/publicidad" target="_blank" title="Publicidad">Publicidad</a></li>
                <li><a href="http://www.marca.com/corporativo/ayuda.html" target="_blank" title="Ayuda">Ayuda</a></li>
                <li><a href="http://www.marca.com/corporativo/el_equipo.html" target="_blank" title="Nuestro equipo">Nuestro equipo</a></li>
                <li><a href="https://www.uesyndication.com/" target="_blank" title="Venta de contenidos">Venta de contenidos</a></li>
            </ul>
            <aside class="follow-us">
                <p>S&iacute;guenos en</p>
                <ul class="social-networks">
                    <li title="Facebook"><a class="icon-facebook" href="https://www.facebook.com/MARCA" target="_blank" itemprop="sameAs"><span>Facebook</span></a></li>
                    <li title="Twitter"><a class="icon-twitter" href="https://twitter.com/marca" target="_blank" itemprop="sameAs"><span>Twitter</span></a></li>
                    <li title="Google Plus"><a class="icon-google" href="https://plus.google.com/+DiarioMARCA/posts" target="_blank" itemprop="sameAs"><span>Google Plus</span></a></a>
                    </li>
                    <li title="RSS"><a class="icon-rss" href="http://www.marca.com/deporte/rss/" target="_blank" itemprop="sameAs"><span>RSS</span></a></li>
                </ul>
            </aside>
        </div>
