{{!-- includes/marca/head.hbs --}}

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <title data-ue-c="innerHTML" data-ue-u="title">FC Barcelona: Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot; | Marca.com</title>
    <link rel="stylesheet" type="text/css" href="http://e00-marca.uecdn.es/assets/v7/css/core-marca-desktop.css">
    <meta data-ue-u="keywords" name="keywords" content=",FC Barcelona,Primera División" />
    <meta data-ue-u="news_keywords" name="news_keywords" content=",FC Barcelona,Primera División" />
    <!-- ##IBEXCLU -->
    <link data-ue-c="href" data-ue-u="canonical" rel="canonical" Href="http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html" />
    <link rel="amphtml" Href="https://amp.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html">
    <link rel="publisher" Href="https://plus.google.com/u/0/+marca" />
    <!-- ##FBEXCLU -->
    <meta name="robots" content="index,follow" />
    <meta name="organization" content="Unidad Editorial Información Deportiva S.L." />
    <meta name="date" content="2017-08-24T14:16:57+02:00" />
    <meta name="DC.date.issued" content="2017-08-24">
    <meta property="article:published_time" content="2017-08-24" />
    <meta property="article:modified_time" content="2017-08-24T14:16:57+02:00" />
    <meta property="article:section" content="Futbol/barcelona" />
    <meta property="article:tag" content="FC Barcelona" />
    <meta property="article:tag" content="Primera División" />
    <meta name="twitter:site" content="@marca" />
    <meta name="twitter:creator" content="@marca" />
    <meta data-ue-u="twitter:title" name="twitter:title" content="FC Barcelona: Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot;" />
    <meta data-ue-u="twitter:description" name="twitter:description" content="Gerard Piqué hizo un repaso a la actualidad azulgrana. Lo hizo en el Casino de Barcelona antes de jugar un partida de póker organizada por Poker..." />
    <meta data-ue-u="description" name="description" content="Gerard Piqué hizo un repaso a la actualidad azulgrana. Lo hizo en el Casino de Barcelona antes de jugar un partida de póker organizada por Poker..." />
    <meta data-ue-u="og:title" property="og:title" content="FC Barcelona: Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot; - Marca.com" />
    <meta data-ue-u="og:description" property="og:description" content="Gerard Piqué hizo un repaso a la actualidad azulgrana. Lo hizo en el Casino de Barcelona antes de jugar un partida de póker organizada por Poker..." />
    <meta property="og:url" content="http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html" />
    <meta property="og:video" content="http://k.uecdn.es/index.php/kwidget/wid/_110/uiconf_id/8705164/entry_id/0_4m8d9n9f" />
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <link rel="image_src" href="http://v.uecdn.es/p/110/thumbnail/entry_id/0_4m8d9n9f/width/657/cache_st/20170824151100/type/2/bgcolor/000000/0_4m8d9n9f.jpg" />
    <link rel="video_src" href="http://k.uecdn.es/index.php/kwidget/wid/_110/uiconf_id/8705164/entry_id/0_4m8d9n9f" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta data-ue-u="twitter:image" name="twitter:image" content="http://v.uecdn.es/p/110/thumbnail/entry_id/0_4m8d9n9f/width/657/cache_st/20170824151100/type/2/bgcolor/000000/0_4m8d9n9f.jpg" />
    <meta data-ue-u="og:image" name="og:image" content="http://v.uecdn.es/p/110/thumbnail/entry_id/0_4m8d9n9f/width/657/cache_st/20170824151100/type/2/bgcolor/000000/0_4m8d9n9f.jpg" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Marca.com" />
    <meta property="fb:app_id" content="160427764002568" />
    <link href="http://e00-marca.uecdn.es/rss/portada.xml" rel="alternate" type="application/rss+xml" title="RSS Portada - Marca.com" />
    <link href="http://e00-marca.uecdn.es/rss/futbol/barcelona.xml" rel="alternate" type="application/rss+xml" title="RSS de futbol - Marca.com" />
    <link href="http://e00-marca.uecdn.es/favicon.ico" type="image/ico" rel="icon" />
    <link href="http://e00-marca.uecdn.es/favicon.ico" type="image/ico" rel="shortcut icon" />
    <link rel="apple-touch-icon-precomposed" href="http://e00-marca.uecdn.es/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://e00-marca.uecdn.es/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://e00-marca.uecdn.es/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://e00-marca.uecdn.es/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://e00-marca.uecdn.es/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://e00-marca.uecdn.es/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://e00-marca.uecdn.es/apple-touch-icon-152x152-precomposed.png">
    
    <!--[if IE]><link rel="stylesheet" type="text/css" href="http://e00-marca.uecdn.es/assets/v7/css/core-ie.css"><![endif]-->
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v7/js/jquery.2.2.1.js"></script>
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v7/js/ue-utils.js"></script>
    <!--[if IE 8]><script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v7/js/html5.js"></script><script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v7/js/jquery.ie8.js"></script><![endif]-->
    <script class="kxct" data-id="qu0qz3ohn" data-timing="async" data-version="1.9" type="text/javascript">
    window.Krux || ((Krux = function() { Krux.q.push(arguments) }).q = []);
    (function() { var k = document.createElement('script');
        k.type = 'text/javascript';
        k.async = true; var m, src = (m = location.href.match(/\bkxsrc=([^&]+)/)) && decodeURIComponent(m[1]);
        k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" : (location.protocol === "https:" ? "https:" : "http:") + "//cdn.krxd.net/controltag?confid=qu0qz3ohn"; var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(k, s); }());
    </script>
    <script src="//assets.adobedtm.com/73515ad8d49a3d35d5aa6bc81b535d3a8761d99c/satelliteLib-43269810dc56b0fa3684a8c690c1353d9585cd0f.js"></script>