{{!-- includes/marca/main.hbs --}}

        <aside class="content-ad">
            <div class="ad-item-f">
                <div id='div-gpt-ad-futbol_barcelona_n_f_599ec3b046163f06628b456f' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_f_599ec3b046163f06628b456f'); });
                    </script>
                </div>
            </div>
        </aside>
        <div class="container">
            <aside class="content-ad">
                <div class="ad-item-si js-sky">
                    <div id='div-gpt-ad-futbol_barcelona_n_si_599ec3b046163f06628b456f' class="ad-item">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_si_599ec3b046163f06628b456f'); });
                        </script>
                    </div>
                </div>
            </aside>
            <aside class="content-ad">
                <div class="ad-item-sd js-sky">
                    <div id='div-gpt-ad-futbol_barcelona_n_sd_599ec3b046163f06628b456f' class="ad-item">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_sd_599ec3b046163f06628b456f'); });
                        </script>
                    </div>
                </div>
            </aside>
        </div>
        <script>
        if (typeof optimizelyActive !== 'undefined') { window.optimizely = window.optimizely || [];
            window.optimizely.push(["activate", optimizelyActive]); }
        </script>
        <script>
        var ueDataPage = {
            rootSection: "futbol",
            sectionPrettyName: "Barcelona",
            portal: "marca",
            ct: "n",
            model: "barcelona-es",
            contentId: '599ec3b046163f06628b456f',
            breadcrumb: '<ul class="tab-breadcrumb js-containerbreadcrumb"><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home" itemref="bread-1" id="bread-0"><a itemprop="url" title="MARCA.com" href="http://www.marca.com?intcmp=MENUMIGA&s_kw=home"><span itemprop="title">Inicio</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" itemprop="child" class="first-level"  itemref="bread-2"  id="bread-1"><a href="http://www.marca.com/futbol.html?intcmp=MENUMIGA&s_kw=futbol" itemprop="url"><span itemprop="title">Fútbol</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" itemprop="child" class="second-level"  itemref="bread-3"  id="bread-2"><a href="http://www.marca.com/futbol/primera-division.html?intcmp=MENUMIGA&s_kw=laliga-santander" itemprop="url"><span itemprop="title">LaLiga Santander</span></a><span class="arrow"></span></li><li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" itemprop="child" class="third-level"  id="bread-3"><a href="http://www.marca.com/futbol/barcelona.html?intcmp=MENUMIGA&s_kw=barcelona" itemprop="url"><span itemprop="title">Barcelona</span></a><span class="arrow"></span></li></ul>',
            children: '<ul class="tab-breadcrumb tab-breadcrumb-list js-breadcrumb-submenu"><li><a data-section="Plantilla y datos del club" href="http://www.marca.com/deporte/futbol/equipos/barcelona/datos.html?intcmp=MENUMIGA&s_kw=plantilla-y-datos-del-club" title="Plantilla y datos del club">Plantilla y datos del club</a></li><li><a data-section="Resultados" href="http://www.marca.com/futbol/barcelona/resultados-temporada.html?intcmp=MENUMIGA&s_kw=resultados" title="Resultados">Resultados</a></li><li><a data-section="Calendario" href="http://www.marca.com/deporte/futbol/primera-division/calendario/?intcmp=MENUMIGA&s_kw=calendario" title="Calendario">Calendario</a></li><li><a data-section="Fichajes" href="http://www.marca.com/deporte/futbol/primera-division/mercado-fichajes/#barcelona?intcmp=MENUMIGA&s_kw=fichajes" title="Fichajes">Fichajes</a></li><li><a data-section="Pretemporada" href="http://www.marca.com/futbol/barcelona/pretemporada?intcmp=MENUMIGA&s_kw=pretemporada" title="Pretemporada">Pretemporada</a></li><li><a data-section="Blog" href="http://www.marca.com/blogs/barcelona?intcmp=MENUMIGA&s_kw=blog" title="Blog">Blog</a></li></ul>',
            numComments: '202',
            rrss: {
                img: "",
                summary: "",
                viaTwitter: 'marca'
            }
        }
        </script>
        <div class="container">
            <div class="lightbox_shadow no-visible" id="js-popup-599ec3b046163f06628b456f"></div>
            <article class="news-item" itemscope itemtype="http://schema.org/NewsArticle">
                <h2 class="kicker"><a href="http://www.marca.com/futbol/barcelona.html">Barcelona</a></h2>
                <div class="content-ad">
                    <div class="ad-item-990">
                        <div id='div-gpt-ad-futbol_barcelona_n_m_599ec3b046163f06628b456f' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_m_599ec3b046163f06628b456f'); });
                            </script>
                        </div>
                    </div>
                </div><span class="section-title-group izquierda"><span class="section-type">FC Barcelona</span><span class="subsection-type">Asegura que no enviaron un mensaje a la Directiva</span></span>
                <h1 id="titulo-599ec3b046163f06628b456f" itemprop="headline" class="js-headline izquierda">Piqué: "Las fotos con Ney no hacen daño a nadie; fue una casualidad"</h1>
                <div class="row content sharing-tools">
                    <ul>
                        <li class="signatures-container">
                            <address class="news-author">
                                <ul class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                    <li itemprop="name" class="author-name"><strong>Luis F. Rojo</strong></li>
                                    <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="author-city"><span itemprop="addressLocality">Barcelona</span></li>
                                </ul>
                            </address>
                        </li>
                        <li class="social-networks-container">
                            <ul class="js_socialMedia">
                                <li><i class="icon-facebook js-icon-facebook" title="Facebook"></i><span class="hidden-content">Facebook</span></li>
                                <li><i class="icon-twitter js-icon-twitter" title="Twitter"></i><span class="hidden-content">Twitter</span></li>
                                <li onclick="envioSC('Enviar');"><i class="icon-mail_30_a js-icon-mail"></i><span class="hidden-content">Enviar</span></li>
                            </ul>
                        </li>
                        <li class="date-container">
                            <meta itemprop="datePublished" content="2017-08-24">
                            <time datetime="2017-08-24 14:16:57" class="date" itemprop="dateModified">
                                24/08/2017 <strong>14:16 <abbr title="Central European Summer Time">CEST</abbr></strong></time>
                        </li>
                    </ul>
                </div>
                <div class="row content cols-30-70" itemprop="articleBody">
                    <figure class="multimedia-item video" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                        <meta itemprop="name" content="Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot;" />
                        <meta itemprop="description" content="Descubre mas videos" />
                        <meta itemprop="thumbnailUrl" content="http://v.uecdn.es/p/110/thumbnail/entry_id/0_4m8d9n9f/width/660/cache_st/20170824151100/type/2/bgcolor/000000/0_4m8d9n9f.jpg" />
                        <meta itemprop="contentURL" content="http://k.uecdn.es/index.php/kwidget/wid/_110/uiconf_id/8705164/entry_id/0_4m8d9n9f" />
                        <meta itemprop="uploadDate" content="2017-08-24T15:11:01+02:00" />
                        <meta itemprop="duration" content="T5M16S" />
                        <div id="video-599ec3b046163f06628b456f" class="full-video"></div>
                        <script type="text/javascript">
                        jQuery(function() { if (typeof KalturaUE === 'object') { var kalturaPlayer = new KalturaUE.Player('video-599ec3b046163f06628b456f', kalturaPlayerConfig);
                                kalturaPlayer.setConfig({ partnerId: 110, opciones: { responsive: '16/9' } }); var tags = "";
                                kalturaPlayer.setTags(tags.split(","));
                                kalturaPlayer.setTopic("futbol");
                                kalturaPlayer.load('0_4m8d9n9f', 'Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot;'); } });
                        </script>
                        <noscript><img src="http://v.uecdn.es/p/110/thumbnail/entry_id/0_4m8d9n9f/width/660/cache_st/20170824151100/type/2/bgcolor/000000/0_4m8d9n9f.jpg" style="height: 590px; margin-top: -590px; width:100%; " /></noscript>
                        <figcaption class="caption" itemprop="description"><i class="icon-caption-video"></i>Piqué: "Las fotos con Ney no hacen daño a nadie; fue una casualidad" </figcaption>
                    </figure>
                    <aside class="aside-tools byline-tools">
                        <aside class="aside-block js_fixed"><a href="#ancla_comentarios" class="comments-btn js-comentar-599ec3b046163f06628b456f"><span class="left"><i class="icon-comments_24x20_a"></i><strong>202</strong></span><span class="right"><strong>Comentar</strong><i class="icon-forward_8x16_a"></i></span></a>
                            <div class="content-ad">
                                <div class="ad-item-300">
                                    <div id='div-gpt-ad-futbol_barcelona_n_r_599ec3b046163f06628b456f' class="ad-item">
                                        <script type='text/javascript'>
                                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_r_599ec3b046163f06628b456f'); });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </aside>
                    <div class="subtitle-items">
                        <p class="summary-lead second izquierda"><i class="item-sumary-lead"></i>No se ve inferior al Madrid y cree que Leo tiene derecho a "firmar cuando quiera"</p>
                    </div>
                    <aside class="content-ad">
                        <div class="ad-item-660">
                            <div id='div-gpt-ad-futbol_barcelona_n_660x50_599ec3b046163f06628b456f' class="ad-item">
                                <script type='text/javascript'>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_660x50_599ec3b046163f06628b456f'); });
                                </script>
                            </div>
                        </div>
                    </aside>
                    <p><span class="capital-letter">G</span>erard Piqué hizo un repaso a la actualidad azulgrana. Lo hizo en el Casino de Barcelona antes de jugar un partida de póker organizada por Poker Stars. El defensa habló de toda la polémica creada por las fotos en la fiesta de Neymar y otros temas.</p>
                    <p>"No estamos dolidos con la Directiva para nada. Las fotos que han causado todo este ruido son cosas que pasan. Fue una casualidad. El club emitió el comunicado de su demanda contra Ney a las cuatro, cuando nosotros ya estábamos en la fiesta. No tenemos que estar enterados de todo. Tampoco nos comunicaron nada. Son fotos normales con un ex jugador que era compañero y amigo de muchos de la plantilla. Son unas fotos que se hacen en un cumpleaños de niños en el que nos lo estábamos pasando bien. Si los jugadores queremos dar un mensaje a la Directiva lo hacemos en privado. Nos sentamos con ellos y lo comentamos. No necesitamos utilizar las redes sociales ni enviar mensajes a través de fotos. Se ha sacado todo de contexto. Se ha dado la casualidad de que todo se produjo al mismo tiempo, pero hay que quitarle hierro al asunto. No estamos enfadados ni mucho menos. Tampoco hay falta de comunicación con la Junta. Ya lo dije en el Bernabéu tenemos que ir todos a una. El trabajo que está haciendo la Directiva seguro que es el mejor que puede hacer. Y seguro que hasta el 31 que acaba el mercado y en el tema de fichajes, que es uno de los que más se ha comentado, harán lo mejor posible. Tienen nuestra plena confianza, todavía queda una semana para fichar y veremos qué sucede".</p>
                    <p><strong>El enfado del socio</strong>:</p>
                    <p>"Puedo entender que para la afición la salida de Neymar les haya molestado. Pero tienen que entender que Ney ha sido compañero durante cinco años y que ha sido mucho más porque es un gran amigo. Independientemente de que el fútbol es muy importante, al final lo que importa es la amistad y la persona. Porque haya salido de una manera o de otra no vamos a renunciar a la amistad que tenemos con Ney. Es un gran amigo mío y de otros muchos compañeros de la plantilla y pudimos compartir la fiesta de sus niños con los nuestros. Compartir unas fotos de esa fiesta no hace ningún daño. Entiendo que haya gente que no comprenda cómo se ha ido. Ha habido un club que ha pagado la cláusula y Ney ha decidido marcharse. Él decidió irse y eso no cambia nuestra amistad. Solo faltaría que no pudiéramos hacernos fotos o mostrar nuestra amistad o tener que esconderla".</p>
                    <p><strong>La renovación de Leo</strong>:</p>
                    <p>"Messi o cualquier jugador tiene derecho a firmar y renovar cuando él quiera. Al final la renovación es una cuestión del club y jugador. Y cuando se ponen de acuerdo encuentran un día para firmar y ya está. Espero que esto suceda lo antes posible".</p>
                    <p><strong>El Madrid como adversario</strong>:</p>
                    <p>"No creo que a nivel de plantilla seamos inferiores. Uno por uno no somos inferiores, pero en el partido del Bernabéu fueron superiores. El Madrid es el que ha ganado Liga y Champions y es el que defiende los títulos en las dos competiciones. Es el equipo que ahora está haciendo bien las cosas. Están en una buena racha y cuando un equipo está en una dinámica tan positiva es muy complicado darle la vuelta. Pero cualquier club en el mundo hay un día que pierde y nosotros estar ahí para aprovecharlo".</p>
                    <aside class="publicidad mod-multipurpose end-fixed">
                        <h3 class="list-header"><span>TE PUEDE INTERESAR</span></h3>
                        <div id='div-gpt-ad-futbol_barcelona_n_nata_599ec3b046163f06628b456f' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_nata_599ec3b046163f06628b456f'); });
                            </script>
                        </div>
                        <div id='div-gpt-ad-futbol_barcelona_n_natb_599ec3b046163f06628b456f' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_natb_599ec3b046163f06628b456f'); });
                            </script>
                        </div>
                        <div id='div-gpt-ad-futbol_barcelona_n_natc_599ec3b046163f06628b456f' class="ad-item">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_natc_599ec3b046163f06628b456f'); });
                            </script>
                        </div>
                    </aside>
                    <aside class="related-tags">
                        <h4 class="list-header"><span>Temas relacionados</span></h4>
                        <ul class="item-tags">
                            <li><a href="http://www.marca.com/futbol/barcelona.html" rel="tag">FC Barcelona</a></li>
                            <li><a href="http://www.marca.com/futbol/primera-division.html" rel="tag">Primera División</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="row-layout content cols-30-70">
                    <aside class="aside-ad floated-left-item js_fixed">
                        <div class="content-ad">
                            <div class="ad-item-300">
                                <div id='div-gpt-ad-futbol_barcelona_n_rb_599ec3b046163f06628b456f' class="ad-item">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_rb_599ec3b046163f06628b456f'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="aside-outbrain">
                        <div class="OUTBRAIN" data-src data-widget-id="AR_3" data-ob-template="ES_Marca"></div>
                        <div class="OUTBRAIN" data-src data-widget-id="AR_4" data-ob-template="ES_Marca"></div>
                        <div class="OUTBRAIN" data-src data-widget-id="AR_5" data-ob-template="ES_Marca"></div>
                        <script type="text/javascript">
                        (function() { if (jQuery && jQuery('script[src*="outbrain.js"]').length === 0) { try { var scriptEl = document.createElement('script');
                                    scriptEl.type = 'text/javascript';
                                    scriptEl.async = 'true';
                                    scriptEl.src = 'http://widgets.outbrain.com/outbrain.js'; var targetEl = document.getElementsByTagName('script')[0];
                                    targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {}; } })();
                        </script>
                    </aside>
                </div>
                <div class="row-layout content cols-30-70">
                    <aside class="aside-ad floated-left-item js_fixed">
                        <div class="content-ad">
                            <div class="ad-item-300">
                                <div id='div-gpt-ad-futbol_barcelona_n_rc_599ec3b046163f06628b456f' class="ad-item">
                                    <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_rc_599ec3b046163f06628b456f'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="aside-comments" id="js-comentar-599ec3b046163f06628b456f-div">
                        <aside id="ancla_comentarios" class="comentarios aside-comments">
                            <div class="comentarios_pestanas">
                                <h4><strong content="UserComments:202" itemprop="interactionCount">202</strong> Comentarios</h4>
                            </div>
                            <div class="comentario">
                                <p class="nombre">
                                    <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                    <span class="nombre_usuario">Lamantabla</span>
                                </p>
                                <strong class="numero_comentario">#6</strong>
                                <time content="2017-08-24" itemprop="dateCreated" datetime="2017-08-24T14:23:00+01:00">
                                    <span class="fecha">24/08/2017</span>
                                    <span class="hora">14:23 horas</span>
                                </time>
                                <p>El club en guerra contra Neymar, y los pesos pesados e idolos de la aficion sacandose fotitos y de cachondeo con el. Vale que sean amiguetes, pero para que veais como a los futbolistas de hoy les importa cuatro pepinos los sentimientos de su aficion y las acciones del club que les paga. Neymar ha traicionado al club y encima les ha estafado 26 kilos, y estos de cachondeo.</p>
                            </div>
                            <div class="comentario">
                                <p class="nombre">
                                    <img src="https://e00-marca.uecdn.es/registro/v2/images/avatar/avatar.svg" />
                                    <span class="nombre_usuario">Heliopolo</span>
                                </p>
                                <strong class="numero_comentario">#7</strong>
                                <time content="2017-08-24" itemprop="dateCreated" datetime="2017-08-24T14:23:00+01:00">
                                    <span class="fecha">24/08/2017</span>
                                    <span class="hora">14:23 horas</span>
                                </time>
                                <p>Esto con Puyol de capitán no pasaba, pero como está este...</p>
                            </div>
                        </aside>
                        <aside class="aside-tools">
                            <ul class="tools">
                                <li>
                                    <ul class="horizontal">
                                        <ul class="horizontal">
                                            <li class="comments-tool open-comments js-botonComentarios-599ec3b046163f06628b456f" itemprop="interactionCount" content="    202"><a class="js-comentar-599ec3b046163f06628b456f" data-id="599ec3b046163f06628b456f" href="javascript:void(0)">
Ver <strong>202</strong> Comentarios
<i class="icon-arrow-next-gray" data-click-role="cambiarIconos"></i><i class="icon-cerrar_32_d no-visible" data-click-role="cambiarIconos"></i></a></li>
                                            <li class="comments-tool js-botonComentarios-599ec3b046163f06628b456f" id="js-botonComentarios-599ec3b046163f06628b456f-div" itemprop="interactionCount" content="    202"><a class="js-comentar-599ec3b046163f06628b456f" data-id="599ec3b046163f06628b456f" href="javascript:void(0)">
Comenta
<i class="icon-arrow-next" data-click-role="cambiarIconos"></i><i class="icon-cerrar_32_d no-visible" data-click-role="cambiarIconos"></i></a></li>
                                        </ul>
                                    </ul>
                                </li>
                            </ul>
                        </aside>
                    </aside>
                </div>
            </article>
            <section class="row-layout content cols-30-70"></section>
            <script type="text/javascript">
            jQuery(function() {
                Comentarios_599ec3b046163f06628b456f = new Comentarios({
                    botonesDesplegar: ".js-comentar-599ec3b046163f06628b456f",
                    id: '599ec3b046163f06628b456f'
                }, jQuery);

                if (typeof jQuery.fn.ElementoFijo === 'function') {
                    jQuery('#js_599ec3b046163f06628b456f').find('.js_fixed').ElementoFijo({
                        elementosAnteriores: ['.main-header'],
                        elementoDesdeFixed: '.content',
                        elementoHastaFixed: '.end-fixed',
                        minWidthFijo: 768
                    });
                }
                if (typeof inicializarComentarios === 'function') {
                    inicializarComentarios(1, '#js_599ec3b046163f06628b456f');
                }
                if (typeof crearLoginListeners === 'function') {
                    crearLoginListeners();
                }

                if (typeof jQuery.fn.RedesSociales === 'function') {
                    jQuery('#js_599ec3b046163f06628b456f').find('.js_socialMedia').RedesSociales({
                        title: "Piqué: \"Las fotos con Ney no hacen daño a nadie; fue una casualidad\"",
                        img: "",
                        url: "http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html",
                        summary: "",
                        viaTwitter: "marca",
                        urlCorreo: 'http://www.marca.com/enviar/formulario_enviar_noticia.html?que_mundo=marca',
                        sufijoAnalitica: '_1'
                    });
                }

                if (typeof jQuery.fn.Tab === 'function') {
                    jQuery('#js_599ec3b046163f06628b456f').find('.js-tabs').Tab();
                }

                jQuery('#js_599ec3b046163f06628b456f').find(".full-video").each(function() {
                    jQuery(this).height(jQuery(this).width() * 9 / 16);
                });
                jQuery("#js_599ec3b046163f06628b456f #ancla_comentarios .comentario").map(function() {
                    var sizeComment = jQuery(this).height();
                    var textComment = jQuery(this).children().last();
                    var nameComment = jQuery(this).find('.nombre').height();
                    var sizeInside = textComment.height() + nameComment;
                    if (sizeInside > sizeComment) {
                        jQuery(this).append("<a href='#' onclick='cargarComentario(event, this)' class='leer-mas-btn'>" +
                            "<span class='gradient'></span><span class='txt'>Leer más</span></a>");
                    }
                });
            });

            function cargarComentario(event, element) {
                event.preventDefault();
                jQuery(element).closest(".comentario").css("max-height", "none");
                jQuery(element).remove();
            }
            </script>


            {{> includes/ue-panel/ue-panel }}


        </div>
        <aside class="content-ad">
            <div class="ad-item-f2">
                <div id='div-gpt-ad-futbol_barcelona_n_f2_599ec3b046163f06628b456f' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_f2_599ec3b046163f06628b456f'); });
                    </script>
                </div>
            </div>
        </aside>
        <aside class="content-ad">
            <div class="ad-item-f3">
                <div id='div-gpt-ad-futbol_barcelona_n_f3_599ec3b046163f06628b456f' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_barcelona_n_f3_599ec3b046163f06628b456f'); });
                    </script>
                </div>
            </div>
        </aside>
