{{!-- includes/elmundo/scripts.hbs --}}

    <script>
    jQuery.noConflict();
    </script>
    <script>
    jQuery("head").append('<link href="http://e00-marca.uecdn.es/assets/v7/css/print.css" type="text/css" rel="stylesheet">');
    </script>
    <script language="JavaScript" type="text/javascript" data-ue-omniture>
    <!--
    var s = {};
    var pageName = "http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html";
    s.pageType = "";
    s.pageName = "http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html";
    s.channel = "futbol";
    s.prop1 = "barcelona-es";
    s.prop2 = "noticia";
    s.prop3 = "barcelona";
    s.prop4 = "";
    s.prop5 = "";
    s.prop6 = "Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot;-599ec3b046163f06628b456f";
    s.prop7 = "marca.com";
    s.prop11 = "";
    s.hier1 = "marca.com|futbol|barcelona|noticia";
    s.prop27 = "web";

    s.prop28 = "0|0";

    s.prop29 = "FC Barcelona,Primera División";
    s.list2 = "FC Barcelona,Primera División";
    s.prop30 = "imagenes|videos";
    s.prop52 = navigator.platform;
    s.prop53 = "";
    s.prop31 = "futbol";
    s.prop32 = "noticia";
    s.prop33 = "barcelona-es";
    s.prop34 = "pc";
    s.prop35 = "origen";

    s.prop36 = "";
    s.prop39 = "nuevo-08-24";
    s.prop55 = "";
    s.prop75 = "Luis F. Rojo";
    /* Conversion Variables */
    s.eVar1 = s.channel;
    s.eVar2 = s.prop1;
    s.eVar3 = s.prop2;
    s.eVar4 = s.prop3;
    s.eVar5 = s.prop5;
    s.eVar11 = s.prop11;
    s.eVar35 = s.prop4;
    s.eVar31 = s.prop6;
    s.eVar36 = s.prop7;
    s.eVar27 = s.prop27;
    s.eVar28 = s.prop28;
    s.eVar29 = s.prop29;
    s.eVar30 = s.prop30;
    s.eVar45 = s.prop32;
    s.eVar33 = s.prop33;
    s.eVar34 = s.prop34;
    s.eVar39 = s.prop39;
    s.eVar52 = s.prop52;
    s.eVar75 = s.prop75;
    s.eVar80 = s.prop53;
    s.eVar84 = s.prop35;
    s.eVar85 = s.prop36;
    var s_omniture = s;
    <!-- ==== pageName="http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html" ==== --><!-- ==== pageType="" ==== --><!-- ==== channel="futbol" ==== --><!-- ==== prop1="barcelona-es" ==== --><!-- ==== prop3="barcelona" ==== --><!-- ==== prop4="" ==== --><!-- ==== prop5="" ==== --><!-- ==== prop6="Piqué: &quot;Las fotos con Ney no hacen daño a nadie; fue una casualidad&quot;-599ec3b046163f06628b456f" ==== --><!-- ==== prop7="marca.com" ==== --><!-- ==== prop11="" ==== --><!-- ==== hier1="marca.com|futbol|barcelona|noticia" ==== --><!-- ==== prop29="FC Barcelona,Primera División" ==== --><!-- ==== list2="FC Barcelona,Primera División" ==== --><!-- ==== prop30="imagenes|videos" ==== --><!-- ==== prop31="futbol" ==== --><!-- ==== prop32="noticia" ==== --><!-- ==== prop35="origen" ==== --><!-- ==== prop36="" ==== --><!-- ==== prop39="nuevo-08-24" ==== --><!-- ==== prop55="" ==== --><!-- ==== prop75="Luis F. Rojo" ==== -->
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    //-->
    </script>
    <script type="text/javascript">
    function DM_prepClient(csid, client) { client.DM_cat("futbol > barcelona-es > noticia"); }
    </script>
    <script>
    if (typeof gptIsDisableInitialLoad !== 'undefined' && gptIsDisableInitialLoad === true) { googletag.cmd.push(function() { googletag.pubads().refresh(); }); }
    </script>
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v7/js/desktop.min.js"></script>
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v7/js/kalturaue-marca.min.js"></script>
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v7/js/ueComentariosNoticiasComunidad.js"></script>
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/navcontinua/v1/navegacioncontinua.min.js"></script>
    <script type="text/javascript">
    jQuery(function() { if (typeof NavegacionContinua === 'function' && typeof nav_continua_active !== 'undefined' && typeof uePages !== 'undefined' && typeof ueDataPage !== 'undefined' && typeof activeUeNavigation !== 'undefined') { var navegacion = new NavegacionContinua(jQuery, uePages, ueDataPage, nav_continua_active, activeUeNavigation);
            navegacion.init(); } else { var historyFix = new historyAPIFix(jQuery);
            historyFix.lanzaListenerPopstate(); }; });
    </script>
    <script type="text/javascript">
    jQuery(function() {
        if (typeof jQuery.fn.RedesSociales === 'function') {
            jQuery('.js-cnav-header').find('.js_socialMedia').RedesSociales({
                title: "Piqué: \"Las fotos con Ney no hacen daño a nadie; fue una casualidad\"",
                img: "",
                url: "http://www.marca.com/futbol/barcelona/2017/08/24/599ec3b046163f06628b456f.html",
                summary: "",
                viaTwitter: "marca",
                urlCorreo: 'http://www.marca.com/enviar/formulario_enviar_noticia.html?que_mundo=marca',
                sufijoAnalitica: '_1'
            });
        }
        jQuery(document).on("urlChanged", function(event, data) {
            if (typeof jQuery.fn.RedesSociales === 'function') {
                jQuery('.js-cnav-header').find('.js_socialMedia').RedesSociales({
                    title: data.title,
                    img: data.rrss.img,
                    url: data.url,
                    summary: data.rrss.summary,
                    viaTwitter: data.rrss.viaTwitter,
                    urlCorreo: "http://www.marca.com/enviar/formulario_enviar_noticia.html?que_mundo=marca",
                    sufijoAnalitica: '_1'
                });
            }
        });
    });
    </script>
    <script type="text/javascript">
    function hiddenCapa(idcapa) {
        var fd = document.getElementById(idcapa);
        fd.style.bottom = "-70px";
    };

    function bandaSuscripcionAccept() {
        days = 1;
        myDate = new Date();
        myDate.setTime(myDate.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = "MARCA_suscrp = suscrip_yes; expires = " + myDate.toGMTString();
        hiddenCapa("banda_suscripcion");
    };

    function bandaSuscripcionCookie() {
        days = 1;
        myDate = new Date();
        myDate.setTime(myDate.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = "MARCA_suscrp = suscrip_yes; expires = " + myDate.toGMTString();
    };

    function checkSuscription() {
        var fd = document.getElementById("banda_suscripcion");
        var valorCookie = getCookie('MARCA_suscrp');
        if (!valorCookie) {
            if (fd && fd.style.bottom != "0px") {
                fd.style.bottom = "0px";
                bandaSuscripcionCookie();
            }
        } else {
            document.removeEventListener("scroll", checkSuscription);
        }
    };
    document.addEventListener("scroll", checkSuscription);
    </script>
    <style type="text/css">
    .banda_suscripcion .wrap a span.suscribete {
        font-weight: bold;
        background-color: #00b155;
        border: 2px solid #c45050;
        color: white;
    }
    </style>
    <aside id="banda_suscripcion" class="banda_suscripcion">
        <div class="wrap">
            <a target="_blank" href="http://clk.tradedoubler.com/click?p=272127&amp;a=2407712&amp;g=23584320">
¡Suscríbete a Orbyt por sólo 7,99€/mes y llévate una Tablet y LA GUÍA DE LA LIGA! <span class="suscribete">¡Consíguelo YA!</span>
</a>
            <div class="cerrar" onclick="bandaSuscripcionAccept();" title="Cerrar"></div>
        </div>
        <div id="pixelcontabilizacionsuscripcion" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z index:1">
            <img src="http://impes.tradedoubler.com/imp?type(inv)g(23584320)a(2407712)" width="1" height="1" alt>
        </div>
    </aside>
    <img src="//amplifypixel.outbrain.com/pixel?mid=0025e676e1e85b1dcdde3bb0b1e620cc71">
    <!-- SiteCatalyst code version: H.21.  Copyright 1996-2010 Adobe, Inc. All Rights Reserved More info available at /web/20151202224104/http://www.omniture.com -->
    <script type="text/javascript">
    _satellite.pageBottom();
    </script>
    <script type="text/javascript">
    window.optimizely = window.optimizely || [];
    window.optimizely.push("activateSiteCatalyst");
    </script>
    <script language="JavaScript" type="text/javascript">
    <!--
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '!-' + '-')
    //-->
    </script>
    <noscript><img src="http://metrics.el-mundo.net/b/ss/uevistatest/1/H.21--NS/0" height="1" width="1" border="0" alt="" /></noscript>
    <!--/DO NOT REMOVE/-->
    <!-- End SiteCatalyst code version: H.21. -->
    <!-- cXense script begin -->
    <div id="cX-root" style="display:none"></div>
    <script type="text/javascript">
    var cX = cX || {};
    cX.callQueue = cX.callQueue || [];
    cX.callQueue.push(['setAccountId', '9222274424412905874']);
    cX.callQueue.push(['setSiteId', '9222274424412905877']);
    cX.callQueue.push(['sendPageViewEvent']);
    </script>
    <script type="text/javascript">
    (function() {
        try {
            var scriptEl = document.createElement('script');
            scriptEl.type = 'text/javascript';
            scriptEl.async = 'async';
            scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://active.cache.el-mundo.net/banners/cxense/cx.js';
            var targetEl = document.getElementsByTagName('script')[0];
            targetEl.parentNode.insertBefore(scriptEl, targetEl);
        } catch (e) {};
    }());
    </script>
    <!-- cXense script end -->
    <script type='text/javascript'>
    var _sf_async_config = {};
    _sf_async_config.uid = 52682;
    _sf_async_config.domain = s ? (s.prop7 ? s.prop7 : "marca.com") : "marca.com";
    _sf_async_config.useCanonical = true;
    _sf_async_config.sections = s ? (s.channel ? s.channel : "no definido") : "no definido";
    _sf_async_config.authors = s ? (s.prop75 ? s.prop75 : "no definido") : "no definido";
    _sf_async_config.type = s ? (s.prop32 ? s.prop32 : "no definido") : "no definido";
    (function() {
        function loadChartbeat() { window._sf_endpt = (new Date()).getTime(); var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e); } var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload();
            loadChartbeat(); }; })();
    </script>
    <!-- Facebook Pixel Code -->
    <script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '155657188322363'); // Insert your pixel ID here.
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=155657188322363&ev=PageView&noscript=1" /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->