{{!-- includes/marca/tabs.hbs --}}

    <div class="main-tab-container no-visible" id="submenuFutbol">
        <ul class="tab-content">
            <li class="tab-column tab-column-main">
                <h3 class="main-tab-header">Espa&ntilde;a</h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/primera-division.html?intcmp=MENUPROD&s_kw=primera-division" title="La Liga Santander" class="tab-list-header">La Liga Santander</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/eventos/marcador/futbol/2017_18/primera/?intcmp=MENUPROD&s_kw=primera-division-resultados" title="Resultados">Resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/primera/calendario.html?intcmp=MENUPROD&s_kw=primera-division-calendario" title="Calendario"> Calendario </a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/primera/clasificacion.html?intcmp=MENUPROD&s_kw=primera-division-clasificacion" title="Clasificaci&oacute;n"> Clasificaci&oacute;n </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/segunda-division.html?intcmp=MENUPROD&s_kw=segunda-division" title="La Liga 1|2|3" class="tab-list-header">LaLiga 1|2|3</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/eventos/marcador/futbol/2017_18/segunda/?intcmp=MENUPROD&s_kw=segunda-division-resultados" title="Resultados">Resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/segunda/calendario.html?intcmp=MENUPROD&s_kw=segunda-division-calendario" title="Calendario">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/segunda/clasificacion.html?intcmp=MENUPROD&s_kw=segunda-division-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/mas-futbol.html?intcmp=MENUPROD&s_kw=mas-futbol" title="M&aacute;s f&uacute;tbol" class="tab-list-header">M&aacute;s f&uacute;tbol</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/mas-futbol.html?intcmp=MENUPROD&s_kw=segunda-b" title="Segunda B">Segunda B</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/mas-futbol/tercera-division.html?intcmp=MENUPROD&s_kw=tercera-division" title="Tercera">Tercera</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/mas-futbol/danone-nations-cup.html?intcmp=MENUPROD&s_kw=danone-nations-cup" title="Danone Nations Cup">Danone Nations Cup</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/copa-rey.html?intcmp=MENUPROD&s_kw=copa-rey" title="Copa del Rey" class="tab-list-header">Copa del Rey</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/estadisticas/futbol/copa_rey/?intcmp=MENUPROD&s_kw=copa-rey-calendario-resultados" title="Calendario y Resultados">Calendario y Resultados</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/futbol-femenino.html?intcmp=MENUPROD&s_kw=futbol-femenino" title="F&uacute;tbol Femenino" class="tab-list-header">F&uacute;tbol Femenino</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/futbol-femenino/calendario-primera-division.html?intcmp=MENUPROD&s_kw=futbol-femenino-primera-division" title="Primera Divisi&oacute;n">Primera Divisi&oacute;n</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/futbol-femenino/clasificacion-primera-division.html?intcmp=MENUPROD&s_kw=futbol-femenino-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/seleccion.html?intcmp=MENUPROD&s_kw=selección-espanola" title="Selecci&oacute;n Espa&ntilde;ola" class="tab-list-header">Selecci&oacute;n Espa&ntilde;ola</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/mundial.html?intcmp=MENUPROD&s_kw=mundial-2018" title="Mundial 2018">Mundial 2018</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/europeo-sub-21.html" title="Europeo sub 21">Europeo sub 21</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/futbol-sala.html?intcmp=MENUPROD&s_kw=futbol-sala" title="F&uacute;tbol Sala" class="tab-list-header">F&uacute;tbol Sala</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/futbol-sala/calendario.html?intcmp=MENUPROD&s_kw=futbol-sala-calendario" title="Calendario">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/futbol-sala/clasificacion.html?intcmp=MENUPROD&s_kw=futbol-sala-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/rincon-penas.html?intcmp=MENUPROD&s_kw=rincon-penas" title="Rinc&oacute;n de las Pe&ntilde;as" class="tab-list-header">Rinc&oacute;n de las Pe&ntilde;as</a>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header"><a href="http://www.marca.com/futbol/futbol-internacional.html?intcmp=MENUPROD&s_kw=futbol-internacional" title="Internacional">Internacional<i class="iconsvg iconsvg-right-b"></i></a></h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/champions-league.html?intcmp=MENUPROD&s_kw=champions-league" title="Champions League" class="tab-list-header">Champions League</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/champions-league/calendario/previa.html?intcmp=MENUMIGA&s_kw=calendario" title="Calendario y Resultados">Calendario y Resultados</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/europa-league.html?intcmp=MENUPROD&s_kw=europa-league" title="Europa League" class="tab-list-header">Europa League</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/europa-league/calendario/previa.html?intcmp=MENUPROD&s_kw=europa-league-calendario-resultados" title="Calendario y Resultados">Calendario y Resultados</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/premier-league.html?intcmp=MENUPROD&s_kw=premier-league" title="Premier League" class="tab-list-header">Premier League</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/premier-league/calendario.html?intcmp=MENUPROD&s_kw=premier-league-calendario-resultados" title="Calendario y Resultados">Calendario y Resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/premier-league/clasificacion.html?intcmp=MENUPROD&s_kw=premier-league-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/bundesliga.html?intcmp=MENUPROD&s_kw=bundesliga" title="Bundesliga" class="tab-list-header">Bundesliga</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/bundesliga/calendario.html?intcmp=MENUPROD&s_kw=bundesliga-calendario-resultados" title="Calendario y Resultados">Calendario y Resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/bundesliga/clasificacion.html?intcmp=MENUPROD&s_kw=bundesliga-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/liga-italiana.html?intcmp=MENUPROD&s_kw=liga-italiana" title="Calcio" class="tab-list-header">Calcio</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-italiana/calendario.html?intcmp=MENUPROD&s_kw=liga-italiana-calendario-resultados" title="Calendario y Resultados">Calendario y Resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-italiana/clasificacion.html?intcmp=MENUPROD&s_kw=liga-italiana-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/liga-francesa.html?intcmp=MENUPROD&s_kw=liga-francesa" title="Ligue 1" class="tab-list-header">Ligue 1</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-francesa/calendario.html?intcmp=MENUPROD&s_kw=liga-francesa-calendario-resultados" title="Calendario y Resultados">Calendario y Resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-francesa/clasificacion.html?intcmp=MENUPROD&s_kw=liga-francesa-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/futbol-internacional.html?intcmp=MENUPROD&s_kw=futbol-otras-ligas" title="Otras ligas" class="tab-list-header">Otras ligas</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-portuguesa.html?intcmp=MENUPROD&s_kw=futbol-liga-portuguesa" title="Portugal">Portugal</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-holandesa/calendario.html?intcmp=MENUPROD&s_kw=futbol-liga-holandesa" title="Holanda">Holanda</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-rusa/calendario.html?intcmp=MENUPROD&s_kw=futbol-liga-rusa" title="Rusia">Rusia</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header"><a href="http://www.marca.com/futbol/america.html?intcmp=MENUPROD&s_kw=futbol-america" title="Am&eacute;rica">Am&eacute;rica<i class="iconsvg iconsvg-right-b"></i></a></h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/argentina.html?intcmp=MENUPROD&s_kw=futbol-argentina" title="Argentina" class="tab-list-header">Argentina</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-argentina/2016/calendario.html?intcmp=MENUPROD&s_kw=futbol-argentina-calendario-resultados" title="Calendario y resultados"> Calendario y resultados </a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-argentina/2016/clasificacion.html?intcmp=MENUPROD&s_kw=futbol-argentina-clasificacion" title="Clasificaci&oacute;n"> Clasificaci&oacute;n </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/chile.html?intcmp=MENUPROD&s_kw=futbol-chile" title="Chile" class="tab-list-header">Chile</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-chilena/clausura/2016/?intcmp=MENUPROD&s_kw=futbol-chile-resultados" title="Resultados"> Resultados </a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-chilena/clausura/2016/calendario.html?intcmp=MENUPROD&s_kw=futbol-chile-calendario" title="Calendario"> Calendario </a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-chilena/clausura/2016/clasificacion.html?intcmp=MENUPROD&s_kw=futbol-chile-clasificacion" title="Clasificaci&oacute;n"> Clasificaci&oacute;n </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/colombia.html?intcmp=MENUPROD&s_kw=futbol-colombia" title="Colombia" class="tab-list-header">Colombia</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-colombiana/clausura/2016/calendario.html?intcmp=MENUPROD&s_kw=futbol-colombia-calendario-resultados" title="Calendario y resultados">Calendario y resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-colombiana/clausura/2016/clasificacion.html?intcmp=MENUPROD&s_kw=futbol-colombia-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/estados-unidos.html?intcmp=MENUPROD&s_kw=futbol-estados-unidos" title="Estados Unidos" class="tab-list-header">Estados Unidos</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/mls/2016/clasificacion.html?intcmp=MENUPROD&s_kw=futbol-estados-unidos-fase-previa-msl" title="Fase previa MLS">Fase previa MLS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/mexico.html?intcmp=MENUPROD&s_kw=futbol-mexico" title="M&eacute;xico" class="tab-list-header">M&eacute;xico</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-mx/apertura/calendario.html?intcmp=MENUPROD&s_kw=futbol-mexico-calendario-resultados" title="Resultados">Calendario y Resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/liga-mx/apertura/clasificacion.html?intcmp=MENUPROD&s_kw=futbol-mexico-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/venezuela.html?intcmp=MENUPROD&s_kw=futbol-venezuela" title="Venezuela" class="tab-list-header">Venezuela</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-venezolana/clausura/2016/calendario.html?intcmp=MENUPROD&s_kw=futbol-venezuela-calendario-resultados" title="Calendario y resultados">Calendario y resultados</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/futbol/liga-venezolana/apertura/2016/clasificacion.html?intcmp=MENUPROD&s_kw=futbol-venezuela-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/futbol/resto-america.html?intcmp=MENUPROD&s_kw=?intcmp=MENUPROD&s_kw=futbol-mas-america" title="M&acute;s Am&eacute;rica" class="tab-list-header">M&aacute;s Am&eacute;rica</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/copa-libertadores.html?intcmp=MENUPROD&s_kw=futbol-copa-libertadores" title="Copa Libertadores">Copa Libertadores</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/futbol/copa-america.html?intcmp=MENUPROD&s_kw=futbol-copa-america" title="Copa Am&eacute;rica">Copa Am&eacute;rica</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="main-tab-container no-visible" id="submenuMasDeportes">
        <ul class="tab-content">
            <li class="tab-column">
                <h3 class="main-tab-header">Destacados</h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/atletismo.html?intcmp=MENUPROD&s_kw=atletismo" title="Atletismo" class="tab-list-header">Atletismo</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/golf.html?intcmp=MENUPROD&s_kw=golf" title="Golf" class="tab-list-header">Golf</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/balonmano.html?intcmp=MENUPROD&s_kw=balonmano" title="Balonmano" class="tab-list-header">Balonmano</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/deportes-invierno.html?intcmp=MENUPROD&s_kw=deportes-invierno" title="Deportes de Invierno" class="tab-list-header">Deportes Invierno</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/padel.html?intcmp=MENUPROD&s_kw=padel" title="P&aacute;del" class="tab-list-header">P&aacute;del</a>
                    </li>
                </ul>
            </li>
            <li class="tab-column margin-column">
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/ciclismo.html?intcmp=MENUPROD&s_kw=ciclismo" title="Ciclismo" class="tab-list-header">Ciclismo</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/natacion.html?intcmp=MENUPROD&s_kw=natacion" title="Nataci&oacute;n" class="tab-list-header">Nataci&oacute;n</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/tenis.html?intcmp=MENUPROD&s_kw=tenis" title="Tenis" class="tab-list-header">Tenis</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/otros-deportes.html?intcmp=MENUPROD&s_kw=otros-deportes" title="Otros deportes" class="tab-list-header">Otros deportes</a>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header">Otros</h3>
                <ul>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/ajedrez.html?intcmp=MENUPROD&s_kw=ajedrez" title="Ajedrez" class="tab-list-header">Ajedrez</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/boxeo.html?intcmp=MENUPROD&s_kw=boxeo" title="Boxeo" class="tab-list-header">Boxeo</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/combates-ufc.html?intcmp=MENUPROD&s_kw=combates-ufc" title="Combates UFC" class="tab-list-header">Combates UFC</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/deportes-aventura.html?intcmp=MENUPROD&s_kw=deportes-aventura" title="Deportes Aventura" class="tab-list-header">Deportes Aventura</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/esports.html?intcmp=MENUPROD&s_kw=esports" title="eSports" class="tab-list-header">eSports</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/juegos-olimpicos.html?intcmp=MENUPROD&s_kw=juegos-olimpicos" title="Juegos Ol&iacute;mpicos" class="tab-list-header">Juegos Ol&iacute;mpicos</a>
                    </li>
                </ul>
            </li>
            <li class="tab-column margin-column">
                <ul>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/olimpismo.html?intcmp=MENUPROD&s_kw=olimpismo" title="Olimpismo" class="tab-list-header">Olimpismo</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/paralimpicos.html?intcmp=MENUPROD&s_kw=paralimpicos" title="Paral&iacute;mpicos" class="tab-list-header">Paral&iacute;mpicos</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/rugby.html?intcmp=MENUPROD&s_kw=rugby" title="Rugby" class="tab-list-header">Rugby</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/toros.html?intcmp=MENUPROD&s_kw=toros" title="Toros" class="tab-list-header">Toros</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/turf.html?intcmp=MENUPROD&s_kw=turf" title="Turf" class="tab-list-header">Turf</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="main-tab-container no-visible" id="submenuBaloncesto">
        <ul class="tab-content">
            <li class="tab-column">
                <h3 class="main-tab-header">Espa&ntilde;a</h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/acb.html?intcmp=MENUPROD&s_kw=baloncesto-acb" title="Liga Endesa" class="tab-list-header">Liga Endesa</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/acb/calendario.html?intcmp=MENUPROD&s_kw=baloncesto-acb-calendario" title="Calendario">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/acb/clasificacion.html?intcmp=MENUPROD&s_kw=baloncesto-acb-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/basketfeb.html?intcmp=MENUPROD&s_kw=baloncesto-feb" title="Basket FEB" class="tab-list-header">Basket FEB</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/baloncesto/basketfeb/leb-oro/resultados/?intcmp=MENUPROD&s_kw=baloncesto-feb-leb-oro" title="LEB Oro">LEB Oro</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/baloncesto/basketfeb/leb-plata/resultados/?intcmp=MENUPROD&s_kw=baloncesto-feb-leb-plata" title="LEB Plata">LEB Plata</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/baloncesto/basketfeb/liga-femenina/resultados/?intcmp=MENUPROD&s_kw=baloncesto-feb-liga-femenina" title="Liga Femenina">Liga Femenina</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/copa-rey.html?intcmp=MENUPROD&s_kw=baloncesto-copa-rey" title="Copa del Rey" class="tab-list-header">Copa del Rey</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/baloncesto/acb/copadelrey/cuadro.html?intcmp=MENUPROD&s_kw=baloncesto-copa-rey-cuadro-resultados" title="Cuadro y resultados">Cuadro y resultados</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/seleccion.html?intcmp=MENUPROD&s_kw=baloncesto-selección" title="Selecci&oacute;n" class="tab-list-header">Selecci&oacute;n</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/eurobasket.html?intcmp=MENUPROD&s_kw=baloncesto-campeones-europa" title="Campeones de Europa">Campeones de Europa</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header">Europa</h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/euroliga.html?intcmp=MENUPROD&s_kw=baloncesto-euroliga" title="Euroliga" class="tab-list-header">Euroliga</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/euroliga/clasificacion.html?intcmp=MENUPROD&s_kw=baloncesto-euroliga-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/euroliga/calendario.html?intcmp=MENUPROD&s_kw=baloncesto-euroliga-calendario" title="Calendario">Calendario</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/eurocup.html?intcmp=MENUPROD&s_kw=baloncesto-eurocup" title="Eurocup" class="tab-list-header">Eurocup</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/central-de-datos/baloncesto/eurocup/2016-2017/grupo-a.html?intcmp=MENUPROD&s_kw=baloncesto-eurocup-resultados-clasificacion" title="Resultados y Clasificaci&oacute;n">Resultados y Clasificaci&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/eurobasket.html?intcmp=MENUPROD&s_kw=baloncesto-eurobasket" title="Eurobasket" class="tab-list-header">Eurobasket</a>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/eurobasket-femenino.html?intcmp=MENUPROD&s_kw=baloncesto-eurobasket-femenino" title="Eurobasket Femenino" class="tab-list-header">Eurobasket Femenino</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/eurobasket-femenino/calendario.html?intcmp=MENUPROD&s_kw=baloncesto-eurobasket-femenino-calendario" title="Calendario">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/eurobasket-femenino/resultados.html?intcmp=MENUPROD&s_kw=baloncesto-eurobasket-femenino-resultados" title="Resultados">Resultados</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header">Internacional</h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/nba.html?intcmp=MENUPROD&s_kw=baloncesto-nba" title="NBA" class="tab-list-header">NBA</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/nba/partidos-en-directo.html?intcmp=MENUPROD&s_kw=baloncesto-nba-partidos-directo" title="Partidos en directo">Partidos en directo</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/baloncesto/nba/2015-2016/clasificaciones/jornada.html?intcmp=MENUPROD&s_kw=baloncesto-nba-jornada" title="Jornada">Jornada</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/baloncesto/nba/calendario/?intcmp=MENUPROD&s_kw=baloncesto-nba-calendario" title="Calendario NBA">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/baloncesto/nba/clasificaciones/?intcmp=MENUPROD&s_kw=baloncesto-nba-clasificaciones" title="Clasificaciones">Clasificaciones</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/baloncesto/nba/equipos/?intcmp=MENUPROD&s_kw=baloncesto-nba-equipos" title="Equipos">Equipos</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/baloncesto/nba/playoffs.html?intcmp=MENUPROD&s_kw=baloncesto-nba-playoffs" title="Playoffs">Playoffs</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/baloncesto/nba/playoffs/cuadro.html?intcmp=MENUPROD&s_kw=baloncesto-nba-cuadro-final" title="Cuadro final">Cuadro final</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/baloncesto/nba/playoffs.html?intcmp=MENUPROD&s_kw=baloncesto-nba-playoffs" title="Playoffs NBA" class="tab-list-header">Playoffs NBA</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/baloncesto/nba/playoffs/cuadro.html?intcmp=MENUPROD&s_kw=baloncesto-nba-cuadro-final" title="Cuadro">Cuadro</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-tab-container no-visible" id="submenuMotor">
        <ul class="tab-content">
            <li class="tab-column">
                <h3 class="main-tab-header">Coches</h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/motor/formula1.html?intcmp=MENUPROD&s_kw=formula-1" title="F&oacute;rmula 1" class="tab-list-header">F&oacute;rmula 1</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/formula1/calendario.html?intcmp=MENUPROD&s_kw=formula-1-calendario" title="Calendario">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/motor/formula1/clasificacion.html?intcmp=MENUPROD&s_kw=formula-1-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/formula1/escuderias/?intcmp=MENUPROD&s_kw=formula-1-pilotos" title="Pilotos">Pilotos</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/motor/rallies.html?intcmp=MENUPROD&s_kw=rally-raids" title="Rally/Raids" class="tab-list-header">Rally/Raids</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/rallies/calendario.html?intcmp=MENUPROD&s_kw=rally-raids-calendario" title="Calendario">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/rallies/clasificacion-pilotos.html?intcmp=MENUPROD&s_kw=rally-raids-clasificacion-pilotos" title="Clasificaci&oacute;n pilotos">Clasificaci&oacute;n pilotos</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/rallies/clasificacion-equipos.html?intcmp=MENUPROD&s_kw=rally-raids-clasificacion-equipos" title="Clasificaci&oacute;n equipos">Clasificaci&oacute;n equipos</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list">
                        <a href="http://www.marca.com/motor/dakar.html?intcmp=MENUPROD&s_kw=rally-dakar" title="Rally Dakar" class="tab-list-header">Rally Dakar</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/dakar/clasificacion-coches.html?intcmp=MENUPROD&s_kw=rally-dakar-clasificacion-coches" title="Clasificaciones">Clasificaciones</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/dakar/recorrido.html?intcmp=MENUPROD&s_kw=rally-dakar-recorrido" title="Recorrido">Recorrido</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/dakar/participantes.html?intcmp=MENUPROD&s_kw=rally-dakar-participantes" title="Participantes">Participantes</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header">Motos</h3>
                <ul>
                    <li class="tab-list">
                        <a href="http://www.marca.com/motor/motogp.html?intcmp=MENUPROD&s_kw=moto-gp" title="Moto GP" class="tab-list-header">Moto GP</a>
                        <ul>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/motociclismo/calendario.html?intcmp=MENUPROD&s_kw=moto-gp-calendario" title="Calendario">Calendario</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/motor/motociclismo/clasificacion-motogp.html?intcmp=MENUPROD&s_kw=moto-gp-clasificacion" title="Clasificaci&oacute;n">Clasificaci&oacute;n</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/deporte/motor/motociclismo/pilotos-motogp.html?intcmp=MENUPROD&s_kw=moto-gp-equipos-pilotos" title="Equipos y pilotos">Equipos y pilotos</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/motor/motociclismo/clasificacion-moto2.html?intcmp=MENUPROD&s_kw=moto-gp-moto2" title="Moto2">Moto2</a>
                            </li>
                            <li class="tab-list-link">
                                <a href="http://www.marca.com/motor/motociclismo/clasificacion-moto3.html?intcmp=MENUPROD&s_kw=moto-gp-moto3" title="Moto3">Moto3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header">Modelos de coches</h3>
                <ul>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/motor/modelos-coches.html?intcmp=MENUPROD&s_kw=modelos-coches" title="Modelos" class="tab-list-header">Modelos</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://comparador-coches.marca.com/" title="Comparador de coches" class="tab-list-header">Comparador de coches</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/motor/pruebas-coches/" title="Pruebas de coches" class="tab-list-header">Pruebas de coches</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/motor/ocio.html?intcmp=MENUPROD&s_kw=ocio" title="Ocio" class="tab-list-header">Ocio</a>
                    </li>
                    <li class="tab-list vertical">
                        <a href="http://videos.marca.com/motor/?intcmp=MENUPROD&s_kw=marca-tv-motor" title="V&iacute;deos" class="tab-list-header">V&iacute;deos</a>
                    </li>
                </ul>
            </li>
            <li class="tab-column">
                <h3 class="main-tab-header"><a href="http://www.marca.com/motor/mas-motor.html?intcmp=MENUPROD&s_kw=mas-motor" title="M&aacute;s motor">M&aacute;s motor<i class="iconsvg iconsvg-right-b"></i></a></h3>
                <ul>
                    <li class="tab-list vertical">
                        <a href="http://www.marca.com/motor/indycar.html?intcmp=MENUPROD&s_kw=indycar" title="Indycar" class="tab-list-header">Indycar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
