<div class="ue-c-panel ue-c-panel--right" data-slide-toggle-content="slideRight" id="t1" role="region" aria-expanded="false" tabindex="-1">
    <div class="ue-c-panel__navigation">
        <button class="ue-c-button--link" data-slide-toggle="slideRight" ariallabelledby="Volver a la noticia">
            <svg class="ue-c-panel__navigation--back" width="24" height="24" viewBox="0 0 24 24">
                <g><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path></g>
            </svg> 
            <span class="ue-c-panel__subtitle">Volver a la noticia:</span>
            <h2 id="Comentarios de la noticia" class="ue-c-panel__title">'Honda o Alonso'</h2>
        </button>
       {{!--  <a href="#" class="ue-c-panel__navigation-wrapper" data-slide-toggle="slideRight">
            <span class="ue-c-panel__subtitle">Volver a la noticia:</span>
            <h2 id="Comentarios de la noticia" class="ue-c-panel__title">'Honda o Alonso'</h2>
        </a> --}}
    </div>
   
    {{> includes/ue-comments/ue-comments-wrap }}

</div>

{{!-- 

<div class="ue-c-panel ue-c-panel--left" data-slide-toggle-content="slideLeft">
    <div class="ue-c-panel__navigation">
        <button class="ue-c-button--link" data-slide-toggle="slideLeft">
            <svg class="ue-c-panel__navigation--back" width="24" height="24" viewBox="0 0 24 24">
                <g><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path></g>
            </svg> 
        </button>
        <a href="#" class="ue-c-panel__navigation-wrapper" data-slide-toggle="slideLeft">
            <span class="ue-c-panel__subtitle">Volver a la noticia:</span>
            <h2 class="ue-c-panel__title">'Honda o Alonso'</h2>
        </a>
    </div>
   
    {{> includes/ue-tabs/ue-tabs }}

</div> --}}