<div class="ue-c-panel">
    <div class="ue-c-panel__navigation">
        <a href="#" class="ue-c-panel__navigation-wrapper">
            <span class="ue-c-panel__navigation__back">Volver a la noticia:</span> 
            'Honda o Alonso'
        </a>
    </div>
   
    {{> includes/ue-tabs/ue-tabs }}

</div>