// Modificadores:
//
// .has-replies
// .has-mention
// .is-positive
// .is-negative
// .is-hidden
// .is-visible
$Color: #333;
$block: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$Color}" width="24" height="24" viewBox="0 0 24 24"><g><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"></path></g></svg>';
.is-hidden {
	display: none;
}

.is-visible {
	display: block;
}

.ue-c-comments{

	&__title {
		font-weight: bold;
		font-size: 18px;
		padding: 0.5em 1rem;
		position: relative;
	}

	&__count {
		position: relative;
		padding-left: 2rem;
	}

	&-bubble {
		fill: var(--bubble-icon-color, black);
		position: absolute;
		top: 0.5em;
    	left: 1em;
	}

	&__thread {
		padding: 1rem;
	}

	&__thread-pagination {
		.ue-c-button {
			width: 100%;
		}	
	}

	&__form {
		padding: 1rem;
		font-size: 16px;
		background: lightgrey;
	}
	&__form-publish {


	}
	&__form-verification {

	}
}

.ue-c-comment {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid grey;
	margin-bottom: 1em;
	&__header {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid grey;
	}

	&__user {
		
	}

	&__avatar {
		margin: 0 0.5rem 0.5em 0;
	}

	&__name {

	}

	&__number {
		font-size: 1.5em;
	}

	&__meta {
		font-size: 0.8em;
		display: flex;
    	flex-grow: 1;
    	flex-direction: column;
	}

	&__date {

	}

	&__time {

	}

	&__discussion {

	}

	&__mention {
		position: relative;
		background: var(--mention-background, lightgrey);
		padding: 0.8em 0.8rem;
		display: block;
		margin: 1em 0;
		font-size: 0.9em;

		&-name {

		}

		&-number {

		}

		&-text {
			display: inline-block;
		}

		.ue-c-button {
			position: absolute;
			top: 0;
			right: 0;
			height: 2.5em;
			width: 2.5em;
		    background: transparent;
		    border: 0;
		    cursor: pointer;
		    @include buttons(
				var(--btn-background, transparent), 
				var(--btn-color, black), 
				var(--btn-hover-background, transparent), 
				var(--btn-focus-border, transparent)
			);
		}

		&--close {
			fill: var(--close-icon-color, black);
			&:hover {
				fill: var(--close-icon-color, darkgrey);
			}
		}
	}

	&__tools {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 65px;
		overflow: inherit; 	
	}

	&__report {
		order: 3;
		.ue-c-button {
			@include buttons(
				var(--btn-background, #EEE), 
				var(--btn-color, transparent), 
				var(--btn-hover-background, #EEE), 
				var(--btn-focus-border, #DDD)
			);
			margin-right: 5px;
			position: relative;
			width: 40px;
			height: 40px;
		}

		&--block {

			display: block;
			background-color: transparent;
			$color-nuevo: '#000';
    		background-image: url(icono-color($block, '#{$Color}', $color-nuevo));
    		background-repeat: no-repeat;
    		background-position: center center;

			//background: url(images/icon/block.svg) no-repeat center center;
			// position: absolute;
			// top: 0;
   //  		left: 0;
   //  		    width: 100%;
   //  height: 100%;
		}
	}

	&__report-message {

	}

	&__reply {
		order: 1;
		.ue-c-button {
			margin-right: 5px;
			font-size: 16px;
		}
	}

	&__votes {
		order: 2;
		margin-right: 5px;
		position: relative;
		padding-left: 1em;
	    .ue-c-button {
	    	width: 55px;
	    	height: 40px;
	    	border-radius: 0.25rem;
			@include buttons(
				var(--btn-background, #eee), 
				var(--btn-color, black), 
				var(--btn-hover-background, #ddd), 
				var(--btn-focus-border, lightgrey)
			);
		}
	}

	&__vote {
		left: 0.2em;
	    top: 0.5em;
	    position: absolute;
	    &.is-positive {
	    	fill: var(--arrow-up-icon-color, green);
	    }
	    &.is-negative {
	    	fill: var(--arrow-down-icon-color, red);
	    }
	}

	&__form {

	}
}


.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}


