
[data-role-toggle-content] {
	display: none;
}

[data-role-toggle-content].is-visible {
	display: block;
}


[data-role-toggle-content='joinThread'] {
	display: block;
}

[data-form-message].is-hidden {
	display: none;
}

.has-fade-out {
	opacity: 0;
	transition: all 1s ease-out 0s;
}
.has-fade-in {
	opacity: 100;
	transition: all 1s ease-out 0s;
}

.ue-c-textarea {
	display: inline-block;
    padding: 0.5em 0.75rem;
    font-size: 1rem;
    line-height: 1.10;
    outline: initial;
    color: black;
    border-radius: 0.25rem;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

.ue-c-input {
	padding: 0.5em 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    outline: initial;
    color: black;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ue-c-input-group {
	display: flex;
	flex-direction: row;
	width: 100%;
	.ue-c-textarea {
		width: 75%;
		margin-right: 0.5rem;
	}
	.ue-c-input {
		width: 75%;
		margin-right: 0.5rem;
	}
}

[type='button'],
.ue-c-button,
.ue-c-button--link {
	outline: initial;
}

[type='button'],
.ue-c-button {
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 0.75rem;
	font-size: 1rem;
    line-height: 1.25;
    border: 0;
    border-radius: 0.25rem;
    transition: all .15s ease-in-out;
	@include buttons(
			var(--btn-background, black), 
			var(--btn-color, whitesmoke), 
			var(--btn-hover-background, darkgrey), 
			var(--btn-hover-color, whitesmoke),
			var(--btn-focus-border, black)
			);
}

.ue-c-button--link {
	background: transparent;
	font-size: 1rem;
	border: 0;
	cursor: pointer;
	color: dodgerblue;
	&:hover {
		color: deepskyblue;
	}
}

.ue-c-form {
	&__message,
	&__message--error {
		font-size: 1.1rem;
		padding: 1rem;
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0.5em 0;
		background: var(--message-background, lemonchiffon);
		color: var(--message-background, black);
		border-radius: var(--message-border-radius, 3px);
		border: 1px solid #666;
		box-shadow: 0 0 0.3em #797979;
		a {
			color: var(--link-color, dodgerblue);
			text-decoration: underline;
			&:hover {
				color: var(--link-color-hover, deepskyblue);
			}
		}

		&--error {
			background: var(--message-background, lightsalmon);
		}
	}
	&__captcha {
		text-align: center;
		margin: 0 auto;
		.ue-c-form__message {
			text-align: left;
		}
	}
}

// Select Colors
$select-color: var(--select-color, black);
$select-arrow-color: var(--select-border-color, black);
$select-placeholder: var(--select-placeholder, #C7C7C7);
$select-border-color: var(--select-border-color, #999);
$select-border-width: var(--select-border-width, 2px);

// Show the function
// [include*="form-input-select()"] {
.ue-c-comments__filters-select {
  @include form-input-select();
  width: 60%;
  
}

.switch_box{
	display: flex;
	max-width: 200px;
	min-width: 200px;
	height: 200px;
	justify-content: center;
	align-items: center;
	flex: 1;
}

/* Switch 1 Specific Styles Start */

.box_1{
	background: #eee;
}

input[type="checkbox"].switch_1{
	font-size: 30px;
	appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #0ebeff;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 .25em rgba(0,0,0,.3);
	transform: scale(.7);
	left: 0;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }
	
/* Switch 1 Specific Style End */





// .control {
//   display: block;
//   position: relative;
//   padding-left: 30px;
//   margin-bottom: 15px;
//   cursor: pointer;
//   font-size: 18px;
// }
// .control input {
//   position: absolute;
//   z-index: -1;
//   opacity: 0;
// }
// .control__indicator {
//   position: absolute;
//   top: 2px;
//   left: 0;
//   height: 20px;
//   width: 20px;
//   background: #e6e6e6;
// }
// .control--radio .control__indicator {
//   border-radius: 50%;
// }
// .control:hover input ~ .control__indicator,
// .control input:focus ~ .control__indicator {
//   background: #ccc;
// }
// .control input:checked ~ .control__indicator {
//   background: #2aa1c0;
// }
// .control:hover input:not([disabled]):checked ~ .control__indicator,
// .control input:checked:focus ~ .control__indicator {
//   background: #0e647d;
// }
// .control input:disabled ~ .control__indicator {
//   background: #e6e6e6;
//   opacity: 0.6;
//   pointer-events: none;
// }
// .control__indicator:after {
//   content: '';
//   position: absolute;
//   display: none;
// }
// .control input:checked ~ .control__indicator:after {
//   display: block;
// }
// .control--checkbox .control__indicator:after {
//   left: 8px;
//   top: 4px;
//   width: 3px;
//   height: 8px;
//   border: solid #fff;
//   border-width: 0 2px 2px 0;
//   transform: rotate(45deg);
// }
// .control--checkbox input:disabled ~ .control__indicator:after {
//   border-color: #7b7b7b;
// }
// .control--radio .control__indicator:after {
//   left: 7px;
//   top: 7px;
//   height: 6px;
//   width: 6px;
//   border-radius: 50%;
//   background: #fff;
// }
// .control--radio input:disabled ~ .control__indicator:after {
//   background: #7b7b7b;
// }


// 		font-size: 1.2em;
// 		display: block;
// 	}
// }