// Modificadores:
//
// .has-replies
// .has-mention
// .is-positive
// .is-negative
// .is-hidden
// .is-visible

.is-hidden {
	display: none;
}

.is-visible {
	display: block;
}

.ue-c-comments{

	&__title {
		font-weight: bold;
		font-size: 18px;
		padding: 0.5em 1rem;
	}

	&__count {
		position: relative;
		padding-left: 2rem;
	}

	&__count::before {
		content: '';
	    display: block;
	    width: 20px;
	    height: 13px;
	    background: black;
	    border-radius: 2px;
	    position: absolute;
	    top: 5px;
	    left: 0;
	}

	&__count::after {
		content: '';
	    display: block;
	    width: 5px;
	    height: 5px;
	    background: black;
	    transform: rotate(45deg);
	    position: absolute;
	    bottom: 3px;
	    left: 7px;
	}

	&__thread {
		padding: 1rem;
	}

	&__pagination-btn {
		width: 100%;

		display: inline-block;
		padding: 0.75em 1.25em;
		border-radius: 4px;
		background-color: black;
		color: white;
		font-size: inherit;
		line-height: inherit;
		transition: all 0.15s ease-in-out;
	}

	&__form {

		padding: 1rem;
		font-size: 16px;
		background: lightgrey;
	}
	&__form-publish {


	}
	&__form-verification {

	}
}

.ue-c-comment {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid grey;
	margin-bottom: 1em;
	&__header {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid grey;
	}

	&__user {
		
	}

	&__avatar {
		margin: 0 0.5rem 0.5em 0;
	}

	&__name {

	}

	&__number {
		font-size: 1.5em;
	}

	&__meta {
		font-size: 0.8em;
		display: flex;
    	flex-grow: 1;
    	flex-direction: column;
	}

	&__date {

	}

	&__time {

	}

	&__discussion {

	}

	&__mention {
		position: relative;
		background: lightgrey;
		padding: 0.8em 0.8rem;
		display: block;
		margin: 1em 0;
		font-size: 0.9em;

		&__name {

		}

		&__number {

		}

		&__text {
			display: inline-block;
		}

		&--close {
			position: absolute;
			top: 0;
			right: 0;
			height: 2.5em;
			width: 2.5em;
		    background: transparent;
		    border: 0;
		    cursor: pointer;
			@include close-icon(black);
		}
	}

	&__tools {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 65px;
		overflow: inherit; 	
	}

	&__report {
		order: 4;
		button {
			//@include buttons(lightgrey, transparent, #ddd, rgba(218,218,218,.5));
			@include buttons(btn(background), btn(color), btn(hover-background), btn(focus-border));
		    margin-right: 5px;
			position: relative;
			width: 40px;
		    height: 40px;
		    @include forbidden(red);
		}

		&__message {

		}
	}

	&__reply {
		order: 1;
		button {
			@include buttons(var(--btn-background, black), var(--btn-color, whitesmoke), var(--btn-hover-background, darkgrey), var(--btn-focus-border, black));
			//@include buttons(black, whitesmoke, darkgrey, black);
			// @include buttons(btn(background), btn(color), btn(hover-background), btn(focus-border));
			margin-right: 5px;
			font-size: 16px;
		}
	}

	&__vote {
		margin-right: 5px;
		position: relative;
		width: 55px;
	    height: 40px;
	    background: lightgrey;
	    border-radius: 2px;
	    cursor: pointer;

	    button {
	    	width: 100%;
	    	height: 100%;
	    	background: transparent;
	    	border: 0;
	    }
	}

	&__form {

	}
}

.is-positive {
	order: 2;

	@include arrow-icon(translateY(-45%) rotate(-90deg), green);

}
.is-negative {

    order: 3;

    @include arrow-icon(translateY(45%) rotate(90deg), red);

}

