
[data-role-toggle-content] {
	display: none;
}

[data-role-toggle-content].is-visible {
	display: block;
}

[data-role-toggle-content='joinThread'] {
	display: block;
}

[data-form-message].is-hidden {
	display: none;
}

[data-select-content] {
	display: none;
}

[data-select-content].is-visible {
	display: block;
}

.has-fade-out {
	opacity: 0;
	transition: all 1s ease-out 0s;
}
.has-fade-in {
	opacity: 100;
	transition: all 1s ease-out 0s;
}

.ue-c-textarea {
	display: inline-block;
    padding: 0.5em 0.75rem;
    font-size: 1rem;
    line-height: 1.10;
    color: black; 
    border-radius: 0.25rem;
    background-color: whitesmoke;
    border: 1px solid lightgrey; 
    &:focus {
    	outline: #666 dotted 1px;
    }
}

.ue-c-input {
	padding: 0.5em 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: black;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
    	outline: #666 dotted 1px;
    }
}

.ue-c-input-group {
	display: flex;
	flex-direction: row;
	width: 100%;
	.ue-c-textarea {
		width: 75%;
		margin-right: 0.5rem;
	}
	.ue-c-input {
		width: 75%;
		margin-right: 0.5rem;
	}
}

[type='button'],
.ue-c-button,
.ue-c-button--link {
	//outline: initial;
	&:focus {
    	outline: #666 dotted 1px;
    }
}

[type='button'],
.ue-c-button {
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 0.75rem;
	font-size: 1rem;
    line-height: 1.25;
    border: 0;
    border-radius: 0.25rem;
    transition: all .15s ease-in-out;
	@include buttons(
			var(--btn-background, black), 
			var(--btn-color, whitesmoke), 
			var(--btn-hover-background, darkgrey), 
			var(--btn-hover-color, whitesmoke),
			var(--btn-focus-border, black)
			);
}

.ue-c-button--link {
	background: transparent;
	font-size: 1rem;
	border: 0;
	cursor: pointer;
	color: dodgerblue;
	&:hover {
		color: deepskyblue;
	}
}

.ue-c-button--badge {
	
	border-radius: 20px;
	position: relative;
	display: inline-block;
	padding: 1em;
	width: 20%;
	float: right;
    margin: 1em 0;
    @include buttons(
		var(--btn-background, black), 
		var(--btn-color, whitesmoke), 
		var(--btn-hover-background, darkgrey), 
		var(--btn-hover-color, whitesmoke),
		var(--btn-focus-border, black)
		);
    &:focus {
    	outline: #666 dotted 1px;
    }
	.is-arrow-icon {
		fill: var(--ue-c-panel-icon-color, whitesmoke);
	}
	&::after {
		content: '2';
		background: var(--btn-badge-color, red);
		width: 2em;
		height: 2em;
		line-height: 186%;
		border-radius: 2em;
		position: absolute;
		top: 0;
		right: -4px;
	}
}

.ue-c-form {
	&__message,
	&__message--error {
		font-size: 1.1rem;
		padding: 1rem;
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0.5em 0;
		background: var(--message-background, lemonchiffon);
		color: var(--message-background, black);
		border-radius: var(--message-border-radius, 3px);
		border: 1px solid #666;
		box-shadow: 0 0 0.3em #797979;
		a {
			color: var(--link-color, dodgerblue);
			text-decoration: underline;
			&:hover {
				color: var(--link-color-hover, deepskyblue);
			}
		}

		&--error {
			background: var(--message-background, lightsalmon);
		}
	}
	&__captcha {
		text-align: center;
		margin: 0 auto;
		.ue-c-form__message {
			text-align: left;
		}
	}
}


.ue-c-checkbox {
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;

	&:checked + .ue-c-checkbox__switch {
		background: dodgerblue;
		&::after {
			left: calc(100% - 5px);
			transform: translateX(-100%);
		}
	}

	&__switch {
		cursor: pointer;
	    text-indent: -9999px;
	    width: 45px;
	    height: 25px;
	    background: grey;
	    display: inline-block;
	    border-radius: 45px;
	    position: relative;
	    margin: 0 auto;
		&::after {
			content: '';
			position: absolute;
			top: 3px;
			left: 5px;
			width: 19px;
			height: 19px;
			background: #fff;
			border-radius: 19px;
			transition: 0.3s;
		}
	}

	&__label {
		font-size: 14px;
		width: 100%;
	    background: transparent;
	    position: absolute;
	    left: 0;
	    z-index: 1;
	    padding: 1.75rem 0 0 0;
	    cursor: pointer;
	}
}

	