// Utils

.ue-c-panel {
	z-index: 9999999; 
	opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: scroll;

    &__navigation {
		border-bottom: 1px solid black;
		width: 100%;
		height: 48px;
		padding-left: 2.5rem;
	}

	&__navigation__back {
		display: block;
		font-size: 12px;
		line-height: 175%;
		&::before {
			content: '<';
         	display: inline-block;
         	border-right: 1px solid black;
         	width: 35px;
         	height: 48px;
         	font-size: 24px;
         	color:  var(--color-brand, black);
         	position: absolute;
         	top: 0;
         	left: 0;
         	padding: 5px;
         	line-height: 170%;
		}
	}
}

.ue-c-panel__navigation-wrapper {

}


@media (min-width: 1200px) { 

    .ue-c-panel { 
        width: 65%; 
    }
}
