// Utils

.ue-c-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: var(--ue-c-panel-max-width, 680px);
    height: 100%;
    transition: all 300ms;
    overflow: scroll;
    background-color: var(--ue-c-panel-background, #f8f8f8);
    &__navigation {
		border-bottom: 1px solid var(--ue-c-panel-border-color, black);
		width: 100%;
        position: relative;
        padding-left: 4em;
        &--back {
            display: inline-block;
            position: absolute;
            top: 0; 
            left: 0;
            width: 48px;
            height: 48px;
            border-right: 1px solid var(--ue-c-panel-border-color, black);
            fill: var(--ue-c-panel-icon-color, black);
        }
	}
    &__title {
        font-family: var(--ue-c-panel-subtitle-font-family, "Roboto");
        font-size: var(--ue-c-panel-subtitle-font-size, 16px);
        color: var(--ue-c-panel-subtitle-color, black);
    }
    &__subtitle {
        font-family: var(--ue-c-panel-title-font-family, "Roboto");
        font-size: var(--ue-c-panel-title-font-size, 12px);
        color: var(--ue-c-panel-title-color, black);
    }
}

.ue-c-panel--right {
    right: -680px;
}

.ue-c-panel--left {
    left: -680px;
}

.is-slide-right {
    right: 0;
}

.is-slide-left {
    left: 0;
}

.ue-c-panel__navigation-wrapper {
    display: inline-block;
    width: 100%;
    height: 48px;
    &:hover {
        opacity: var(--ue-c-panel-navigation-hover, 0.7);
    }
}

.ue-c-panel-shadow {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.ue-c-panel-shadow.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

@media (min-width: 1200px) { 
    .ue-c-panel { 
        width: 65%; 
    }
}
