// Component ue-c-panel 
//
//
// - Custom css variables
// 
// --ue-c-panel-max-width
// --ue-c-panel-background
// --ue-c-panel-border-color
// --ue-c-panel-border-color
// --ue-c-panel-icon-color
// --ue-c-panel-subtitle-font
// --ue-c-panel-subtitle-font-size
// --ue-c-panel-subtitle-color
// --ue-c-panel-title-font
// --ue-c-panel-title-font-size
// --ue-c-panel-title-color

.ue-c-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: 680px; // IE
    max-width: var(--ue-c-panel-max-width, 680px);
    height: 100%;
    transition: all 300ms;
    overflow: scroll;
    background-color: #f8f8f8; // IE
    background-color: var(--ue-c-panel-background, #f8f8f8);
    &__navigation {
        border-bottom: 1px solid black; // IE
		border-bottom: 1px solid var(--ue-c-panel-border-color, black);
		width: 100%;
        position: relative;
        padding-left: 4em;
        padding-top: 3em;
        &--back {
            display: inline-block;
            position: absolute;
            top: 0; 
            left: 0;
            width: 48px;
            height: 48px;
            border-right: 1px solid black; // IE
            border-right: 1px solid var(--ue-c-panel-border-color, black);
            fill: black; // IE
            fill: var(--ue-c-panel-icon-color, black);
        }
        .ue-c-button--link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 48px;
            text-align: left;
            padding-left: 4em;
            &:focus {
                outline: auto 5px -webkit-focus-ring-color;
            }
        }
	}
    &__title {
        font-family: "Roboto"; // IE
        font-family: var(--ue-c-panel-subtitle-font, "Roboto");
        font-size: 16px; // IE
        font-size: var(--ue-c-panel-subtitle-font-size, 16px);
        color: black; // IE
        color: var(--ue-c-panel-subtitle-color, black);
    }
    &__subtitle {
        font-family: "Roboto"; // IE
        font-family: var(--ue-c-panel-title-font, "Roboto");
        font-size: 12px; // IE
        font-size: var(--ue-c-panel-title-font-size, 12px);
        color: black; // IE
        color: var(--ue-c-panel-title-color, black);
    }
    &--right {
        right: -680px;
    }
    &--left {
        left: -680px;
    }
    &.is-slide-right {
        right: 0;
    }
    &.is-slide-left {
        left: 0;
    }
}

.ue-c-panel-shadow {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    &.is-active {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
}

@media (min-width: 1200px) { 
    .ue-c-panel { 
        width: 65%; 
    }
}
