{{!-- includes/footer.hbs --}}

<div class="container-list-footer js-toggle-footer">
            <div class="js-botonera-toggle arrow-toggle">
                <span>Otras webs de Unidad Editorial</span>
            </div>
            <div class="js-contenido-toggle container-toggle">
                <ul class="list-footer">
                    <li class="highlight"><span>El Mundo</span></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization">
                        <a href="http://www.elmundo.es/economia/vivienda.html" title="Su Vivienda" target="_blank" itemprop="url"><span itemprop="name">Su Vivienda</span></a>
                    </li>
                    <li itemprop="member" itemtype="http://schema.org/Organization">
                        <a href="https://clk.tradedoubler.com/click?p=271538&a=2404199&g=23657328" title="El Mundo en Orbyt" target="_blank" itemprop="url"><span itemprop="name">El Mundo en Orbyt</span></a>
                    </li>
                    <li itemprop="member" itemtype="http://schema.org/Organization">
                        <a href="http://www.marca.com" title="Marca" target="_blank" itemprop="url"><span itemprop="name">Marca</span></a>
                    </li>
                    <li itemprop="member" itemtype="http://schema.org/Organization">
                        <a href="http://www.expansion.com/" title="Expansi&oacute;n" target="_blank" itemprop="url"><span itemprop="name">Expansi&oacute;n</span></a>
                    </li>
                </ul>
                <div id="pixelcontabilizacionNLalerta" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z-index:1">
                    <img src="https://impes.tradedoubler.com/imp?type(inv)g(23657328)a(2404199)" width="1" height="1" alt/>
                </div>
                <ul class="list-footer">
                    <li class="highlight"><span>Salud</span></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.correofarmaceutico.com/" title="Farmacia - Correo Farmaceutico" target="_blank" itemprop="url"><span itemprop="name">Correo Farmac&eacute;utico</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.cuidateplus.com/" title="Cu&iacute;date Plus" target="_blank" itemprop="url"><span itemprop="name">Cu&iacute;date Plus</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.diariomedico.com/" title="Medicina - Diario Medico" target="_blank" itemprop="url"><span itemprop="name">Diario M&eacute;dico</span></a></li>
                </ul>
                <ul class="list-footer">
                    <li class="highlight"><span>Moda y Ocio</span></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.telva.com/" title="Telva" target="_blank" itemprop="url"><span itemprop="name">Telva</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.buhomag.com/" title="El Buho" target="_blank" itemprop="url"><span itemprop="name">El B&uacute;ho</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.recetasdecocinadesergio.com/" title="Recetas de cocina del se&ntilde;or Se&ntilde;or" target="_blank" itemprop="url"><span itemprop="name">Recetas de cocina del se&ntilde;or Se&ntilde;or</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://descuentos.elmundo.es/" title="C&oacute;digos de descuento" target="_blank" itemprop="url"><span itemprop="name">C&oacute;digos de descuento</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://cinemania.elmundo.es/" title="Cineman&iacute;a" target="_blank" itemprop="url"><span itemprop="name">Cineman&iacute;a</span></a></li>
                </ul>
                <ul class="list-footer">
                    <li class="highlight"><span>Empleo</span></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.escuelaunidadeditorial.es/" title="Masters - Escuela Unidad Editorial" target="_blank" itemprop="url"><span itemprop="name">Escuela Unidad Editorial</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.unidadeditorial.es/" title="Unidad Editorial" target="_blank" itemprop="url"><span itemprop="name">Unidad Editorial</span></a></li>
                    <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.expansionyempleo.com/" title="Trabajo - Expansion y Empleo" target="_blank" itemprop="url"><span itemprop="name">Expansi&oacute;n y Empleo</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container container-about-footer">
            <ul class="about-list">
                <li class="copyright">
                    <p>&copy; <span itemprop="name">ELMUNDO.es Avenida de San Luis 25 - 28033 MADRID Una web de Unidad Editorial</span></p>
                </li>
                <li><a title="T&eacute;rminos y condiciones de uso" href="http://www.elmundo.es/privacidad/avisolegal.html">T&eacute;rminos y condiciones de uso</a></li>
                <li><a title="Pol&iacute;tica de privacidad" href="http://www.elmundo.es/privacidad/">Pol&iacute;tica de privacidad</a></li>
                <li><a title="Pol&iacute;tica de cookies" href="http://cookies.unidadeditorial.es/">Pol&iacute;tica de cookies</a></li>
                <li><a title="Certificado por OJD" href="http://www.ojd.es/">Certificado por OJD</a></li>
                <li><a title="Contacto" href="http://www.elmundo.es/registro/contacto.html">Contacto</a></li>
                <li><a title="Publicidad" href="http://www.unidadeditorial.com/publicidad">Publicidad</a></li>
                <li><a title="Venta de contenidos" href="https://www.uesyndication.com/">Venta de contenidos</a></li>
            </ul>
            <aside class="follow-us">
                <p>S&iacute;guenos en</p>
                <ul class="social-networks">
                    <li title="Twitter">
                        <a href="https://twitter.com/elmundoes" class="icon-twitter" target="_blank" title="Twitter" itemprop="sameAs">
                        	<i class="icon-twitter icon-twitter_36_d"></i><span class="hidden-content">Twitter</span>
						</a>
                    </li>
                    <li title="Facebook">
                        <a href="https://www.facebook.com/elmundo" class="icon-facebook" target="_blank" title="Facebook" itemprop="sameAs">
                        	<i class="icon-facebook icon-facebook_36_d"></i><span class="hidden-content">Facebook</span>
                        </a>
                    </li>
                    <li title="Google Plus">
                        <a class="icon-google" href="https://plus.google.com/+elmundo" itemprop="sameAs" target="_blank" title="Google" itemprop="sameAs">
                        	<i class="icon-google icon-google_plus_36_d"></i><span class="hidden-content">Google Plus</span>
                        </a>
                    </li>
                    <li title="RSS">
                        <a class="icon-rss" href="http://www.elmundo.es/rss/" itemprop="sameAs" title="RSS">
                        	<i class="icon-rss icon-rss_36_d"></i><span class="hidden-content">RSS</span>
						</a>
                    </li>
                </ul>
            </aside>
            <ul class="partners">
                <li>
                    <a href="http://www.reverso.net/" rel="nofollow"><i class="icon-partners-reverso"></i><span class="hidden-content">Powered by Reverso</span></a>
                </li>
                <li>
                    <a href="http://www.eu.ntt.com/es/index.html" rel="nofollow"><i class="icon-partners-powered-ntt"></i><span class="hidden-content">Powered by NTT</span></a>
                </li>
            </ul>
        </div>