{{!-- includes/header.hbs --}}

    <div class="container-header">
        <div class="site-logo">
            <h1 class="logo"><a href="http://www.elmundo.es" title="El Mundo"><span class="hidden-content">El Mundo</span></a></h1>
            <aside class="tools-header">
                <ul class="tools-header-corporative">
                    <li class="tools-corporative-subscription">
                        <a href="https://clk.tradedoubler.com/click?p=271574&a=2404199&g=23242684" title="Suscripciones El Mundo" class="tools-corporative-link">Suscr&iacute;bete</a>
                    </li>
                    <li class="tools-corporative-login toolbar-login nav-login">
                        <a href='#' title='Login' class='tools-corporative-link js-loginClick js-loginButton no-visible'><span>Iniciar sesi&oacute;n</span><i class="icon-login"></i></a>
                        <a title='torpederer' class='user-name js-toolbar-button'><img class src='https://e00-elmundo.uecdn.es/registro/v2/images/avatar/avatar.svg' alt='torpederer'></a>
                        <div id='toolbar' class='info-usuario user-info'>
                            <a title='torpederer' class='cerrar js-toolbar-button'>Cerrar</a>
                            <ul>
                                <li class='my-account'>
                                    <a class='js-userzone' href='#'>Mi cuenta</a>
                                </li>
                                <li class='log-out'>
                                    <a class='js-logout' href='#'>Cerrar sesi&oacute;n</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </aside>
            <div id="pixelcontabilizacionNLalerta" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z-index:1">
                <img src="https://impes.tradedoubler.com/imp?type(inv)g(23242684)a(2404199)" width="1" height="1" alt/>
            </div>
        </div>
    </div>
    <div class="nav-container js-desdefixed js-hastafixed">
        <div class="container-header">
            <nav role="navigation" class="js-navTab">
                <ul class="nav-tabs js-mainNavigation">
                    <li class="tab tab-national" data-section="espana">
                        <a href="http://www.elmundo.es/espana.html?intcmp=MENUHOM24801&s_kw=espana" data-menu-active="espana" class="highlight">España</a>
                        <div class="tab-container" id="submenuNational">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/espana.html?intcmp=MENUDES22301&s_kw=espana" class="tab-list-header">Portada</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/madrid.html?intcmp=MENUDES22301&s_kw=madrid" class="tab-list-header">Madrid</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/andalucia.html?intcmp=MENUDES22301&s_kw=andalucia" class="tab-list-header">Andalucía</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/andalucia/sevilla.html?intcmp=MENUDES22301&s_kw=sevilla">Sevilla</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/andalucia/malaga.html?intcmp=MENUDES22301&s_kw=malaga">Málaga</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/andalucia/el-caminante.html?intcmp=MENUDES22301&s_kw=el_caminante">El Caminante</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/baleares.html?intcmp=MENUDES22301&s_kw=baleares" class="tab-list-header">Baleares</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/baleares/ibiza.html?intcmp=MENUDES22301&s_kw=ibiza">Ibiza</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/catalunya.html?intcmp=MENUDES22301&s_kw=catalunya" class="tab-list-header">Cataluña</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/comunidad-valenciana.html?intcmp=MENUDES22301&s_kw=comunidad-valenciana" class="tab-list-header">Comunidad Valenciana</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/comunidad-valenciana/alicante.html?intcmp=MENUDES22301&s_kw=alicante">Alicante</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/comunidad-valenciana/castellon.html?intcmp=MENUDES22301&s_kw=castellon">Castellón</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list"><a href="http://www.elmundo.es/pais-vasco.html?intcmp=MENUDES22301&s_kw=pais-vasco" class="tab-list-header">País Vasco</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="tab tab-opinion" data-section="opinion">
                        <a href="http://www.elmundo.es/opinion.html?intcmp=MENUHOM24801&s_kw=opinion" data-menu-active="opinion">Opinión</a>
                        <div class="tab-container" id="submenuOpinion">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/opinion.html?intcmp=MENUDES22301&s_kw=opinion" class="tab-list-header">Portada</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/opinion/editorial.html?intcmp=MENUDES22301&s_kw=editorial" class="tab-list-header">Editoriales</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/opinion/columnistas.html?intcmp=MENUDES22301&s_kw=columnistas" class="tab-list-header">Columnistas</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/blogs.html?intcmp=MENUDES22301&s_kw=blogs" class="tab-list-header">Blogs</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="tab tab-economics" data-section="economia">
                        <a href="http://www.elmundo.es/economia.html?intcmp=MENUHOM24801&s_kw=economia" data-menu-active="economia">Economía</a>
                        <div class="tab-container" id="submenuEconomics">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/economia.html?intcmp=MENUDES22301&s_kw=economia" class="tab-list-header">Portada</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/economia/macroeconomia.html?intcmp=MENUDES22301&s_kw=macroeconomia" class="tab-list-header">Macroeconomía</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/economia/empresas.html?intcmp=MENUDES22301&s_kw=empresas" class="tab-list-header">Empresas</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/economia/bolsa/indices.html?intcmp=MENUDES22301&s_kw=bolsa" class="tab-list-header">Bolsa</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/economia/bolsa/indices/ibex35_I.IB.html?intcmp=MENUDES22301&s_kw=ibex35">Ibex 35</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/economia/bolsa/indices/dowjones_I.NY.html?intcmp=MENUDES22301&s_kw=dowjones">Dow Jones</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/economia/bolsa/indices/nasdaq100_I.QQ.html?intcmp=MENUDES22301&s_kw=nasdaq">Nasdaq</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/economia/ahorro-y-consumo.html?intcmp=MENUDES22301&s_kw=ahorro-y-consumo" class="tab-list-header">Ahorro y Consumo</a>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/economia/vivienda.html?intcmp=MENUDES22301&s_kw=vivienda" class="tab-list-header">Vivienda</a>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/economia/innovadores.html?intcmp=MENUDES22301&s_kw=innovadores" class="tab-list-header">INnovadores</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="tab tab-world" data-section="internacional">
                        <a href="http://www.elmundo.es/internacional.html?intcmp=MENUHOM24801&s_kw=internacional" data-menu-active="internacional">Internacional</a>
                        <div class="tab-container" id="submenuInternacional">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/internacional.html?intcmp=MENUDES22301&s_kw=internacional" class="tab-list-header">Portada</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/internacional/america.html?intcmp=MENUDES22301&s_kw=america" class="tab-list-header">América</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/internacional/europa.html?intcmp=MENUDES22301&s_kw=europa" class="tab-list-header">Europa</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/internacional/asia.html?intcmp=MENUDES22301&s_kw=asia" class="tab-list-header">Asia</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/internacional/africa.html?intcmp=MENUDES22301&s_kw=africa" class="tab-list-header">África</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/internacional/oceania.html?intcmp=MENUDES22301&s_kw=oceania" class="tab-list-header">Oceanía</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="tab tab-sports" data-section="deportes">
                        <a href="http://www.elmundo.es/deportes.html?intcmp=MENUHOM24801&s_kw=deportes" data-menu-active="deportes">Deportes</a>
                        <div class="tab-container" id="submenuSports">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes.html?intcmp=MENUDES22301&s_kw=deportes" class="tab-list-header">Portada</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes/futbol.html?intcmp=MENUDES22301&s_kw=futbol" class="tab-list-header">Fútbol</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/primera-division.html?intcmp=MENUDES22301&s_kw=primera_division" title="LaLiga Santander">LaLiga Santander</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/segunda-division.html?intcmp=MENUDES22301&s_kw=segunda-division" title="LaLiga 123">LaLiga 123</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/champions-league.html?intcmp=MENUDES22301&s_kw=champios_league" title="Champions League">Champions League</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/europa-league/calendario.html?intcmp=MENUDES22301&s_kw=europa_league" title="Europa League">Europa League</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/copa-del-rey.html?intcmp=MENUDES22301&s_kw=copa_del_rey" title="Copa del Rey">Copa del Rey</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/bundesliga.html?intcmp=MENUDES22301&s_kw=bundesliga" title="Alemania">Alemania</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/premier-league.html?intcmp=MENUDES22301&s_kw=premier_league" title="Premier League">Premier League</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/futbol/serie-a.html?intcmp=MENUDES22301&s_kw=serie_a" title="Italia">Italia</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/elmundodeporte/futbol/liga-segunda-b/grupo-1.html?intcmp=MENUDES22301&s_kw=liga_segunda" title="Segunda B">Segunda B</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes/baloncesto.html?intcmp=MENUDES22301&s_kw=baloncesto" class="tab-list-header">Baloncesto</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/baloncesto/acb.html?intcmp=MENUDES22301&s_kw=acb">ACB</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/baloncesto/nba.html?intcmp=MENUDES22301&s_kw=nba">NBA</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/baloncesto/euroliga.html?intcmp=MENUDES22301&s_kw=euroliga">Euroliga</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/baloncesto/copa-del-rey/calendario.html?intcmp=MENUDES22301&s_kw=copa_del_rey_data">Copa Rey</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes/ciclismo.html?intcmp=MENUDES22301&s_kw=ciclismo" class="tab-list-header">Ciclismo</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/ciclismo/tour-de-francia.html?intcmp=MENUDES22301&s_kw=tour_de_francia">Tour de Francia</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/ciclismo/giro-de-italia.html?intcmp=MENUDES22301&s_kw=giro_de_italia">Giro de Italia</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/ciclismo/vuelta-a-espana.html?intcmp=MENUDES22301&s_kw=vuelta_a_espana">Vuelta a España</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes/tenis.html?intcmp=MENUDES22301&s_kw=tenis" class="tab-list-header">Tenis</a>
                                    <ul>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/elmundodeporte/tenis/roland-garros/?intcmp=MENUDES22301&s_kw=roland_garros">Roland Garros</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/deportes/tenis/open-de-australia.html?intcmp=MENUDES22301&s_kw=open">Open Australia</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/elmundodeporte/tenis/wimbledon/?intcmp=MENUDES22301&s_kw=wimbledon">Wimbledon</a></li>
                                        <li class="tab-list-link"><a href="http://www.elmundo.es/elmundodeporte/tenis/us-open/?intcmp=MENUDES22301&s_kw=us_open">US Open</a></li>
                                    </ul>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes/formula-1.html?intcmp=MENUDES22301&s_kw=formula-1" class="tab-list-header">Fórmula 1</a>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes/motociclismo.html?intcmp=MENUDES22301&s_kw=motociclismo" class="tab-list-header">Motociclismo</a>
                                </li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/deportes/mas-deporte.html?intcmp=MENUDES22301&s_kw=mas-deporte" class="tab-list-header">Más deporte</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="tab tab-society" data-section="sociedad">
                        <a href="http://www.elmundo.es/sociedad.html?intcmp=MENUHOM24801&s_kw=sociedad" data-menu-active="sociedad">Sociedad</a>
                    </li>
                    <li class="tab tab-culture" data-section="cultura">
                        <a href="http://www.elmundo.es/cultura.html?intcmp=MENUHOM24801&s_kw=cultura" data-menu-active="cultura">Cultura</a>
                        <div class="tab-container" id="submenuCulture">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura.html?intcmp=MENUDES22301&s_kw=cultura" class="tab-list-header">Portada</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura/cine.html?intcmp=MENUDES22301&s_kw=cine" class="tab-list-header">Cine</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura/musica.html?intcmp=MENUDES22301&s_kw=musica" class="tab-list-header">Música</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura/literatura.html?intcmp=MENUDES22301&s_kw=literatura" class="tab-list-header">Literatura</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura/comic.html?intcmp=MENUDES22301&s_kw=comic" class="tab-list-header">Cómic</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura/toros.html?intcmp=MENUDES22301&s_kw=toros" class="tab-list-header">Toros</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura/teatro.html?intcmp=MENUDES22301&s_kw=teatro" class="tab-list-header">Teatro</a></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/cultura/danza.html?intcmp=MENUDES22301&s_kw=danza" class="tab-list-header">Danza</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="tab tab-tv" data-section="television">
                        <a href="http://www.elmundo.es/television.html?intcmp=MENUHOM24801&s_kw=television" data-menu-active="television">Tv</a>
                        <div class="tab-container" id="submenuTelevision">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/television.html?intcmp=MENUDES22301&s_kw=television" class="tab-list-header">Portada</a></li>
                                <li class="tab-list"><a href="http://www.elmundo.es/television/medios.html?intcmp=MENUDES22301&s_kw=medios" class="tab-list-header">Medios</a></li>
                                <li class="tab-list"><a href="http://www.elmundo.es/television/programacion-tv/?intcmp=MENUDES22301&s_kw=program_tv" class="tab-list-header">Guía TV - Programación</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="tab tab-science" data-section="ciencia-y-salud">
                        <a href="http://www.elmundo.es/ciencia-y-salud.html?intcmp=MENUHOM24801$s_kw=ciencia-salud" data-menu-active="ciencia-y-salud">Ciencia y Salud</a>
                    </li>
                    <li class="tab tab-technology" data-section="tecnologia">
                        <a href="http://www.elmundo.es/tecnologia.html?intcmp=MENUHOM24801&s_kw=tecnologia" data-menu-active="tecnologia">Tecnología</a>
                        <div class="tab-container" id="submenuTechnology">
                            <ul class="tab-content">
                                <li>
                                    <h3 class="tab-header">Secciones</h3></li>
                                <li class="tab-list">
                                    <a href="http://www.elmundo.es/tecnologia.html?intcmp=MENUDES22301&s_kw=tecnologia" class="tab-list-header">Portada</a>
                                </li>
                                <li class="tab-list"><a href="http://www.elmundo.es/blogs/elmundo/el-gadgetoblog/?intcmp=MENUDES22301&s_kw=gadgets" class="tab-list-header">Gadgets</a></li>
                                <li class="tab-list"><a href="http://www.elmundo.es/t/vi/videojuegos.html?intcmp=MENUDES22301&s_kw=videojuegos" class="tab-list-header">Videojuegos</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu" data-insertar>
                        <div class="nav-toggle">
                            <a href="http://www.elmundo.es/menu.html" class="btn-nav-toggle js-supermenu-portada" data-menu-section-path-click="/em/supermenu-portada.html">
                            	<span class="icon-text" data-click-role="cambiarIconos">Más<i class="icon-arrow_down_12x12_a"></i></span>
                            	<span class="icon-text" data-click-role="cambiarIconos">Cerrar<i class="icon-close_12x12_d"></i></span>
							</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="header-search">
                <form action="http://buscador.elmundo.es/perl/busca-generico.html" method="get" class="js-search-portada">
                    <input type="search" name="cadena" placeholder="Buscar en elmundo.es">
                    <input type="hidden" name="donde" value="11" id="enelmundoes">
                    <input value name="b_avanzada" type="hidden">
                </form>
                <div class="search-btn js-searchClick-portada">
                    <a href="http://ariadna.elmundo.es/buscador/archivo.html" title="Buscador El Mundo">
						<span><i class="icon-search_16x16_a"></i><strong>Buscar</strong></span>
					</a>
                </div>
                <span class="close-btn js-close-btn-portada"><i class="icon-close_16x16_a"></i></span>
            </div>
        </div>
    </div>
    <div class="breadcrumbs cataluna-home">
        <div class="container-header">
            <ul class="tab-breadcrumb js-containerbreadcrumb">
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="home" itemref="bread-1" id="bread-0"><a itemprop="url" title="Inicio" href="http://www.elmundo.es"><span itemprop="title">Inicio</span></a><span class="arrow"></span></li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="first-level" itemref="bread-2" id="bread-1"><a itemprop="url" title="España" href="http://www.elmundo.es/espana.html"><span itemprop="title">España</span></a><span class="arrow"></span></li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="second-level" id="bread-2"><a itemprop="url" title="Cataluña" href="http://www.elmundo.es/elmundo/barcelona.html"><span itemprop="title">Cataluña</span></a></li>
            </ul>
            <div class="tab-news js-breadcrumbChildren">
                <span class="tab-news-title js-newsTitle"></span>
                <aside class="aside-tools">
                    <ul class="socialMedia js_socialMedia">
                        <li>
                            <i class="icon-facebook icon-facebook_36_d js-icon-facebook"></i><span class="hidden-content">Facebook</span>
                        </li>
                        <li>
                            <i class="icon-twitter icon-twitter_36_d js-icon-twitter"></i><span class="hidden-content">Twitter</span>
                        </li>
                        <li onclick="envioSC('Enviar');">
                            <i class="icon-mail icon-mail_36_d js-icon-mail"></i><span class="hidden-content">Enviar</span>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <div class="percentage-bar-container">
        <div class="percentage-bar" id="js_progressBar"></div>
    </div>
