<ul class="menu-sample">
	<li>TABS</li>
	<li><a href="index_elmundo.html" target="_blank">El Mundo (Desktop)</a></li>
	<li><a href="index_marca.html" target="_blank">Marca (Desktop)</a></li>
	<li><a href="index_marca_m.html" target="_blank">Marca (Mobile)</a></li>
	<li><a href="index_elmundo_m.html" target="_blank">El Mundo (Mobile)</a></li>
	<li>FILTERS</li>
	<li><a href="index_elmundo_no_tabs.html" target="_blank">El Mundo (Desktop)</a></li>
	<li><a href="index_elmundo_m_no_tabs.html" target="_blank">El Mundo (Mobile)</a></li>
	<li><a href="index_marca_no_tabs.html" target="_blank">Marca (Desktop)</a></li>
	<li><a href="index_marca_m_no_tabs.html" target="_blank">Marca (Mobile)</a></li>
</ul>